body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sidebar-nav {
  padding: 9px 0;
  font-size: 14px;
}

.nav {
  font-size: 16px;
}

