.isVisible {
    display : none;
}

.message, .message p {
    display : inline;
    color : DarkRed;
}

.form-input {
    autocomplete : false;
}

input {
    margin-bottom : 0px;
}

.modelEditor input[type="text"], .modelEditor select {
    width : 100px;
}

.selectAccordion input[type="text"] {
    width : 150px;
}

select {
    margin-bottom : 0px;
}

[data-hook=saveMessage] {
    position: fixed;
    font-size: large;
    bottom: 50px;
    right: 50px;
}

[data-hook='typeSelect'] select {
    width : 200px;
}

[data-hook='parameter'] select {
    width : 200px;
}

.reactionsAccordion .accordion-body.in, .selectAccordion .accordion-body.in {
  overflow:visible;
}

.reactionsAccordion [data-hook=reactionEditorWorkspace] {
    background-color : #EEEEEE;
    float: right;
    width: 49%;
}

.reactionsAccordion [data-hook=collection] {
    float: left;
    width: 50%;
}

.reactionsAccordion [data-hook=collection] table {
    width: 100%;
    word-wrap:break-word;
    table-layout: fixed;
}

.reactionDetail {
    padding : 10px;
}

.invalidRow  {
    background-color: #f2dede;
}

.largeLatex {
    font-size: 35px;
    line-height: 45px;
    word-wrap: break-word;
}
