div#deterministic-settings.card.card-body

  h5
    button.btn.btn-link(data-toggle='collapse', data-target='#advanced-settings', data-hook='advanced-settings-button')
      |Advanced Settings

  div(id='advanced-settings', class='collapse', data-hook='advanced-settings')
    table.table
      thread
        tr
          th(scope="col", colspan="2") Relative Tolerance

        tr
          td(colspan="2"): div(data-hook="relative-tolerance-container")

      thread
        tr
          th(scope="col", colspan="2") Absolute Tolerance

        tr
          td(colspan="2"): div(data-hook="absolute-tolerance-container")