div.col-md-12
  label.select
    span(data-hook="label")
    select(data-hook="select-specie-mode")
      span.message.message-below.message-error(data-hook="message-container")
        p(data-hook="message-text")
