div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-2

      div.pl-2(data-hook="input-name-container")

    div.col-sm-2

      div.pl-2(data-hook="select-type-container")

    div.col-sm-6

      div(data-hook="input-formula-container")

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X
