div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="select-action" data-toggle="collapse" data-target="#collapse-action-details" + this.model.cid)

    div.col-sm-4

      div(data-hook="select-type-container")

    div.col-sm-3

      div.pl-2(data-hook="input-priority-container" data-target="update-preview-plot")

    div.col-sm-2

      input(type="checkbox" data-hook="enable-action")

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X

  div-mx-1.pl-2(data-hook="action-details")

    div.collapse(id="collapse-action-details" + this.model.cid)

      hr

      div

        div.mb-3.mx-1.row.align-items-baseline

          div.col-sm-4.pl-0.hidden(data-hook="action-scope")

            h5.inline.mr-2 Scope:

            div.inline(data-hook="select-scope-container")

          div.col-sm-4.hidden(data-hook="multi-particle-shape")

            h5.inline.mr-2 Shape:

            div.inline(data-hook="shape-container")

          div.col-sm-4.hidden(data-hook="multi-particle-transformation")

            h5.inline.mr-2 Transformation:

            div.inline(data-hook="transformation-container")

      div.hidden(data-hook="single-particle-scope")

        div

          h5.inline.mr-2 Current Location:

          div.inline.mr-2 (x:

          div.inline.ml-2(data-hook="point-x-container" data-target="point" data-name="x" style="width: 25%")

          div.inline.mr-2 ,  y:

          div.inline.ml-2(data-hook="point-y-container" data-target="point" data-name="y" style="width: 25%")

          div.inline.mr-2 ,  z:

          div.inline.ml-2(data-hook="point-z-container" data-target="point" data-name="z" style="width: 25%")

          div.inline )

        div.hidden(data-hook="new-location")

          h5.inline.mr-2 New Location:

          div.inline.mr-2 (x:

          div.inline.ml-2(data-hook="new-point-x-container" data-target="new-point" data-name="x" style="width: 25%")

          div.inline.mr-2 ,  y:

          div.inline.ml-2(data-hook="new-point-y-container" data-target="new-point" data-name="y" style="width: 25%")

          div.inline.mr-2 ,  z:

          div.inline.ml-2(data-hook="new-point-z-container" data-target="new-point" data-name="z" style="width: 25%")

          div.inline )

      div.hidden(data-hook="particle-properties")

        h4 Particle Properties

        div

          h5.inline.mr-2 Type:

          div.inline(data-hook="particle-type")

        div

          hr

          div.mb-3.mx-1.row.head.align-items-baseline

            div.col-sm-2

              h6.inline <b>Mass</b>

            div.col-sm-2

              h6.inline <b>Volume</b>

            div.col-sm-2

              h6.inline <b>Density</b>

            div.col-sm-2

              h6.inline <b>Viscosity</b>

            div.col-sm-2

              h6.inline <b>Speed of Sound</b>

            div.col-sm-2

              h6.inline <b>Fixed</b>

          div.row

            div.col-sm-2

              div.pl-2(data-hook="particle-mass" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-vol" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-rho" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-nu" data-target="particle-property-containers")

            div.col-sm-2

              div(data-hook="particle-c" data-target="particle-property-containers")

            div.col-sm-2

              input(type="checkbox" data-hook="particle-fixed" checked=this.model.fixed)
