div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="select-transformation" data-toggle="collapse" data-target="#collapse-transformation-details" + this.model.cid)

    div.col-sm-3

      div.pl-2(data-hook="input-name-container")

    div.col-sm-6

      div.pl-2(data-hook="select-type-container")

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X

  div-mx-1.pl-2(data-hook="transformation-details")

    div.collapse(id="collapse-transformation-details" + this.model.cid)

      div

        div.mx-1.row.head.align-items-baseline

          div.col-sm-4

            h6.inline <b>Geometry</b>

          div.col-sm-4

            h6.inline <b>Lattice</b>

          div.col-sm-4

            h6.inline <b>Transformation</b>

        div.my-3.row

          div.col-sm-4

            div(data-hook="geometry-select-container")

          div.col-sm-4

            div(data-hook="lattice-select-container")

          div.col-sm-4

            div(data-hook="transformation-select-container")

      div.hidden(data-hook="vector-transformation-props")

        div

          h6 <b>Vector</b>:

          div.row.mx-1

            div.col-md-12.col-lg-6.px-0

              span.inline [(x:

              div.inline(data-hook="vector-point1-x-container" data-target="vector-point1" data-name="x" style="width: 25%")

              span.inline.mr-2 , y:

              div.inline(data-hook="vector-point1-y-container" data-target="vector-point1" data-name="y" style="width: 25%")

              span.inline.mr-2 , z:

              div.inline(data-hook="vector-point1-z-container" data-target="vector-point1" data-name="z" style="width: 25%")

              span.inline ),

            div.col-md-12.col-lg-6.pl-2.pr-0

              span.inline (x:

              div.inline(data-hook="vector-point2-x-container" data-target="vector-point2" data-name="x" style="width: 25%")

              span.inline.mr-2 , y:

              div.inline(data-hook="vector-point2-y-container" data-target="vector-point2" data-name="y" style="width: 25%")

              span.inline.mr-2 , z:

              div.inline(data-hook="vector-point2-z-container" data-target="vector-point2" data-name="z" style="width: 25%")

              span.inline )]

      div.hidden(data-hook="reflect-transformation-props")

      div.hidden(data-hook="scale-transformation-props")
