div.mx-1

  div

    h5.inline.mr-2 Current Location:

    span.inline.mr-2 (x:

    div.inline=this.model.point.x

    span.inline.mr-2 , y:

    div.inline=this.model.point.y

    span.inline.mr-2 , z:

    div.inline=this.model.point.z

    span.inline )

  div

    h5.inline.mr-2 New Location:

    div.inline.mr-2 (x:

    div.inline.ml-2(data-hook="new-point-x-container" data-target="new-point" data-name="x" style="width: 25%")

    div.inline.mr-2 ,  y:

    div.inline.ml-2(data-hook="new-point-y-container" data-target="new-point" data-name="y" style="width: 25%")

    div.inline.mr-2 ,  z:

    div.inline.ml-2(data-hook="new-point-z-container" data-target="new-point" data-name="z" style="width: 25%")

    div.inline )

  h4 Particle Properties

  div

    h5.inline.mr-2 Type:

    div.inline(data-hook="particle-type")

  div

    hr

    div.mb-3.mx-1.row.head.align-items-baseline

      div.col-sm-2

        h6.inline <b>Mass</b>

      div.col-sm-2

        h6.inline <b>Volume<b>

      div.col-sm-2

        h6.inline <b>Density</b>

      div.col-sm-2

        h6.inline <b>Viscosity</b>

      div.col-sm-2

        h6.inline <b>Speed of Sound</b>

      div.col-sm-2

        h6.inline <b>Fixed</b>

    div.row

      div.col-sm-2

        div.pl-2(data-hook="particle-mass" data-target="particle-property-containers")

      div.col-sm-2

        div(data-hook="particle-vol" data-target="particle-property-containers")

      div.col-sm-2

        div(data-hook="particle-rho" data-target="particle-property-containers")

      div.col-sm-2

        div(data-hook="particle-nu" data-target="particle-property-containers")

      div.col-sm-2

        div(data-hook="particle-c" data-target="particle-property-containers")

      div.col-sm-2

        input(type="checkbox" data-hook="particle-fixed" checked=this.model.fixed)