div.mx-1

  if(this.model.collection.indexOf(this.model) !== 1)
    hr

  div.row

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="select" data-toggle="collapse" data-target="#collapse-type-details" + this.model.typeID)

    div.col-sm-5

      div(data-hook="type-name" data-target=this.model.typeID)

    div.col-sm-4

      div=this.model.numParticles

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X

  div-mx-1.pl-2(data-hook="type-details")

    div.collapse(id="collapse-type-details" + this.model.typeID)

      hr

      div.mb-3.mx-1.row.head.align-items-baseline

        div.col-sm-2

          h6.inline <b>Mass</b>

        div.col-sm-2

          h6.inline <b>Volume</b>

        div.col-sm-2

          h6.inline <b>Density</b>

        div.col-sm-2

          h6.inline <b>Viscosity</b>

        div.col-sm-2

          h6.inline <b>Speed of Sound</b>

        div.col-sm-2

          h6.inline <b>Fixed</b>

      div.row

        div.col-sm-2

          div(data-hook="td-mass" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-vol" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-rho" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-nu" data-target="type-defaults")

        div.col-sm-2

          div(data-hook="td-c" data-target="type-defaults")

        div.col-sm-2

          input(type="checkbox" data-hook="td-fixed")
