div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="select-shape" data-toggle="collapse" data-target="#edit-collapse-shape-details" + this.model.cid)

    div.col-sm-2

      div.pl-2(data-hook="input-name-container")

    div.col-sm-2

      div(data-hook="select-geometry-container")

    div.col-sm-4

      div(data-hook="input-formula-container")

    div.col-sm-1

      div.pl-3

        input(type="checkbox" data-hook="fillable-shape")

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X

  div.mx-1.pl-2(data-hook="shape-details")

    div.collapse(id="edit-collapse-shape-details" + this.model.cid data-hook="edit-collapse-shape-details" + this.model.cid)

      hr

      div.mx-1.mb-2

        h6.inline.mr-3 <b>Lattice</b>:

        div.inline(data-hook="select-lattice-container")

      div.hidden(data-hook="cartesian-lattice-props")

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2

            h6.inline <b>Length</b>

          div.col-sm-2

            h6.inline <b>Height</b>

          div.col-sm-2

            h6.inline <b>Depth</b>

          div.col-sm-2

            h6.inline <b>X-Spacing</b>

          div.col-sm-2

            h6.inline <b>Y-Spacing</b>

          div.col-sm-2

            h6.inline <b>Z-Spacing</b>

        div.mt-3.mx-1.row

          div.col-sm-2

            div(data-hook="length-container" data-target="shape-property")

          div.col-sm-2

            div(data-hook="height-container" data-target="shape-property")

          div.col-sm-2

            div(data-hook="depth-container" data-target="shape-property")

          div.col-sm-2

            div(data-hook="delta-x-container" data-target="shape-property")

          div.col-sm-2

            div(data-hook="delta-y-container" data-target="shape-property")

          div.col-sm-2

            div(data-hook="delta-z-container" data-target="shape-property")

      div.hidden(data-hook="circular-lattice-props")

        div.mx-1.row.head.align-items-baseline

          div.col-sm-3

            h6.inline <b>Radius</b>
          
          div.col-sm-3.hidden(data-hook="cylinder-length-header")

            h6.inline <b>length</b>

          div.col-sm-3

            h6.inline <b>Surface Spacing</b>

          div.col-sm-3

            h6.inline <b>Radial Spacing</b>

        div.mt-3.mx-1.row

          div.col-sm-3

            div(data-hook="radius-container" data-target="shape-property")

          div.col-sm-3.hidden(data-hook="cylinder-length-feild")

            div(data-hook="cylinder-length-container" data-target="shape-property")

          div.col-sm-3

            div(data-hook="delta-s-container" data-target="shape-property")

          div.col-sm-3

            div(data-hook="delta-r-container" data-target="shape-property")
