div.mx-1

  div

    h4.inline.mr-2 Type:

    div.inline(data-hook="fill-geometry-type-select")

  div

    h4.inline.mr-2 Geometry:

    div.inline(data-hook="fill-geometry-type-geometry")

  div.mt-3

    h5 Type Defaults

    hr

    div.mb-3.mx-1.row.head.align-items-baseline

      div.col-sm-2

        h6.inline <b>Mass</b>

      div.col-sm-2

        h6.inline <b>Volume</b>

      div.col-sm-2

        h6.inline <b>Density</b>

      div.col-sm-2

        h6.inline <b>Viscosity</b>

      div.col-sm-2

        h6.inline <b>Speed of Sound</b>

      div.col-sm-2

        h6.inline <b>Fixed</b>

    div.row.pl-3

      div.col-sm-2

        div(data-hook="fill-geometry-td-mass")

      div.col-sm-2

        div(data-hook="fill-geometry-td-vol")

      div.col-sm-2

        div(data-hook="fill-geometry-td-rho")

      div.col-sm-2

        div(data-hook="fill-geometry-td-nu")

      div.col-sm-2

        div(data-hook="fill-geometry-td-c")

      div.col-sm-2

        input(type="checkbox" data-hook="fill-geometry-td-fixed" disabled)

  h4.mt-3 Domain Limits

  div

    div.mx-1.row.head.align-items-baseline

      div.col-sm-3
      
      div.col-sm-3

        h6.inline <b>X-Axis</b>

      div.col-sm-3

        h6.inline <b>Y-Axis</b>

      div.col-sm-3

        h6.inline <b>Z-Axis</b>

    div.mt-3.mx-1.row

      div.col-sm-3

        h6.inline <b>Minimum</b>

      div.col-sm-3

        div(data-hook="fill-geometry-x-lim-min" data-target="fill-geometry-limitation" data-name="xmin")

      div.col-sm-3

        div(data-hook="fill-geometry-y-lim-min" data-target="fill-geometry-limitation" data-name="ymin")

      div.col-sm-3

        div(data-hook="fill-geometry-z-lim-min" data-target="fill-geometry-limitation" data-name="zmin")

    hr

    div.mx-1.row

      div.col-sm-3

        h6.inline <b>Maximum</b>

      div.col-sm-3

        div(data-hook="fill-geometry-x-lim-max" data-target="fill-geometry-limitation" data-name="xmax")

      div.col-sm-3

        div(data-hook="fill-geometry-y-lim-max" data-target="fill-geometry-limitation" data-name="ymax")

      div.col-sm-3

        div(data-hook="fill-geometry-z-lim-max" data-target="fill-geometry-limitation" data-name="zmax")

    hr

    div.mx-1.row

      div.col-sm-3

        h6.inline <b>Spacing</b>

      div.col-sm-3

        div(data-hook="fill-geometry-deltax" data-target="fill-geometry-delta" data-name="deltax")

      div.col-sm-3

        div(data-hook="fill-geometry-deltay" data-target="fill-geometry-delta" data-name="deltay")

      div.col-sm-3

        div(data-hook="fill-geometry-deltaz" data-target="fill-geometry-delta" data-name="deltaz")

  div.inline

    button.btn.btn-outline-primary(data-hook="fill-geometry" disabled) Fill with Particles

  div.mdl-edit-btn.saving-status.inline(data-hook="fg-in-progress")

    div.spinner-grow.mr-2

    span Creating particles ...

  div.mdl-edit-btn.saved-status.inline(data-hook="fg-complete")

    span Particles successfully created

  div.mdl-edit-btn.save-error-status(data-hook="fg-error")

    span(data-hook="fg-action-error")
