div.mx-1

  div.my-3

    span.inline.mr-2(for="meshfile") Please specify a mesh to import: 

    input(id="meshfile" type="file" name="meshfile" size="30" accept=".xml" required)

  div.mb-3

    span.inline.mr-2(for=typefile) Type descriptions (optional):

    input(id="typefile" type="file" name="typefile" size="30" accept=".txt")

  div.mt-3

    h4.inline Advanced

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#import-mesh-advanced" data-hook="collapse-import-mesh-advanced") +

  div.collapse(id="import-mesh-advanced" data-hook="import-mesh-container")

    div.mt-3

      h5.inline.mr-2 Type:

      div.inline(data-hook="import-mesh-type-select")

    div.mt-3

      h5 Type Defaults

      hr

      div.mb-3.mx-1.row.head.align-items-baseline

        div.col-sm-2

          h6.inline <b>Mass</b>

        div.col-sm-2

          h6.inline <b>Volume</b>

        div.col-sm-2

          h6.inline <b>Density</b>

        div.col-sm-2

          h6.inline <b>Viscosity</b>

        div.col-sm-2

          h6.inline <b>Speed of Sound</b>

        div.col-sm-2

          h6.inline <b>Fixed</b>

      div.row.pl-3

        div.col-sm-2

          div(data-hook="import-mesh-td-mass")

        div.col-sm-2

          div(data-hook="import-mesh-td-vol")

        div.col-sm-2

          div(data-hook="import-mesh-td-rho")

        div.col-sm-2

          div(data-hook="import-mesh-td-nu")

        div.col-sm-2

          div(data-hook="import-mesh-td-c")

        div.col-sm-2

          input(type="checkbox" data-hook="import-mesh-td-fixed" disabled)

    div.my-3

      h5 Particle Transformations

      hr

      div.mb-3.mx-1.row.head.align-items-baseline

        div.col-sm-4

          h6.inline <b>X-Axis</b>

        div.col-sm-4

          h6.inline <b>Y-Axis</b>

        div.col-sm-4

          h6.inline <b>Z-Axis</b>

      div.row

        div.col-sm-4

          div(data-target="import-mesh-trans" data-hook="import-mesh-x-trans" data-index="0")

        div.col-sm-4

          div(data-target="import-mesh-trans" data-hook="import-mesh-y-trans" data-index="1")

        div.col-sm-4

          div(data-target="import-mesh-trans" data-hook="import-mesh-z-trans" data-index="2")

  div.inline

    button.btn.btn-outline-primary.box-shadow(data-hook="import-mesh-particles" disabled) Import Mesh

  div.mdl-edit-btn.saving-status.inline(data-hook="imp-in-progress")

    div.spinner-grow.mr-2

    span Importing mesh ...

  div.mdl-edit-btn.saved-status.inline(data-hook="imp-complete")

    span

  div.mdl-edit-btn.save-error-status(data-hook="imp-error")

    span(data-hook="imp-action-error")