div#domain-types-editor.card

  div.card-header.pb-0

    h3.inline.mr-3 Types

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="domain-types-teabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="domain-types-edit-tab" data-toggle="tab" href="#edit-domain-types") Edit

        li.nav-item

          a.nav-link.tab(data-hook="domain-types-view-tab" data-toggle="tab" href="#view-domain-types") View

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#domain-types-section" data-hook="collapse-domain-types") +

  div.collapse(id="domain-types-section" data-hook="domain-types-section")

    div.card-body.tab-content

      div

        span.mr-3.inline(for="unassigned-type-count") Number of Un-Assigned Particles: 

        div.inline(id="unassigned-type-count" data-hook="unassigned-type-count")=this.collection.models[0].numParticles

        div(data-hook="domain-error")

          p.text-danger A domain cannot have any un-assigned particles.

      div.tab-pane.active(id="edit-domain-types" data-hook="edit-domain-types")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-1

            h6.inline <b>Edit</b>

          div.col-sm-3

            h6.inline <b>Name</b>

          div.col-sm-8

            h6.inline <b>Number of Particles</b>

        div.my-3(data-hook="edit-domain-types-list")

        button.btn.btn-outline-primary.box-shadow(data-hook="add-domain-type") Add Type

      div.tab-pane(id="view-domain-types" data-hook="view-domain-types")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-3

            h6.inline <b>Name</b>

          div.col-sm-3

            h6.inline <b>Numbe of Particles</b>

          div.col-sm-6

            h6.inline <b>Defaults</b>

        div.my-3(data-hook="view-domain-types-list")