
[submodule "app/lib/boto"]
	path = app/lib/boto
	url = git://github.com/boto/boto.git
[submodule "app/lib/celery"]
	path = app/lib/celery
	url = git://github.com/celery/celery.git
[submodule "app/lib/kombu"]
	path = app/lib/kombu
	url = git://github.com/celery/kombu.git
[submodule "app/lib/fabric"]
	path = app/lib/fabric
	url = git://github.com/fabric/fabric.git
[submodule "iptracker"]
	path = iptracker
	url = git://github.com/StochSS/iptracker.git
[submodule "app/lib/amqp"]
	path = app/lib/amqp
	url = git://github.com/celery/py-amqp.git
[submodule "app/lib/billiard"]
	path = app/lib/billiard
	url = git://github.com/celery/billiard.git
[submodule "app/lib/anyjson"]
	path = app/lib/anyjson
	url = git://github.com/glance-/anyjson.git
[submodule "app/static/js/flot"]
	path = app/static/js/flot
	url = https://github.com/flot/flot
[submodule "app/lib/pytz"]
	path = app/lib/pytz
	url = git://github.com/newvem/pytz.git
