[submodule "lib/boto"]
	path = lib/boto
	url = git://github.com/boto/boto.git
[submodule "lib/celery"]
	path = lib/celery
	url = git://github.com/celery/celery.git
[submodule "lib/kombu"]
	path = lib/kombu
	url = git://github.com/celery/kombu.git
[submodule "lib/fabric"]
	path = lib/fabric
	url = git://github.com/fabric/fabric.git
[submodule "iptracker"]
	path = iptracker
	url = git://github.com/StochSS/iptracker.git
[submodule "lib/amqp"]
	path = lib/amqp
	url = git://github.com/celery/py-amqp.git
[submodule "lib/billiard"]
	path = lib/billiard
	url = git://github.com/celery/billiard.git
[submodule "lib/anyjson"]
	path = lib/anyjson
	url = git://github.com/glance-/anyjson.git
[submodule "lib/pytz"]
	path = lib/pytz
	url = git://github.com/newvem/pytz.git
[submodule "lib/flot"]
	path = lib/flot
	url = https://github.com/flot/flot
