local_data/
node_modules/
.power_users
*.bundle.js
stochss-quickstart.html
stochss-file-browser.html
stochss-model-editor.html
stochss-workflow-manager.html
stochss-workflow-selection.html
stochss-project-manager.html
multiple-plots-page.html
stochss-domain-editor.html
stochss-loading-page.html
stochss-project-browser.html
stochss-quick-start.html
stochss-user-home.html
*.swp
*.swo
package-lock.json
.DS_Store
*.lock
*.sqlite
jupyterhub_cookie_secret
jupyterhub-proxy.pid
__pycache__
userlist
dist/*
*.egg-info/
.vscode/
