[scripts]
lab = "jupyter lab --config ./jupyter_notebook_config.py"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
notebook = "*"
jupyterlab = "*"
python-libsbml = "*"
gillespy2 = {file = "https://github.com/GillesPy2/GillesPy2/tarball/develop"}
jupyterhub = "==1.1.0"
