python-libsbml==5.18.0
python-libsedml==2.0.9
python-libcombine==0.2.7
pyabc==0.12.6
escapism==1.0.1
gillespy2==1.7.1
spatialpy==1.1.1
git+https://github.com/StochSS/sciope.git@master
git+https://github.com/StochSS/stochss-compute.git@gillespy2-results
boto3==1.24.71
paramiko==2.11.0
python-dotenv==0.21.0
