python-libsbml==5.18.0
python-libsedml==2.0.9
gillespy2==1.4
vtk
pygmsh==5.0.2
meshio==2.3.10
https://github.com/spatialpy/SpatialPy/tarball/develop
https://github.com/sciope/sciope/archive/master.zip
