{% extends "modeleditor.html" %}
{% block title%}Species Editor{% endblock %}
{% block modeleditorcontent %}

  <div class="span9" id="editor" style="float: left; position: relative; width: 50em; height: 50em;">
    
    """ StochSS model file with a single reaction."""
    
    from stochss import *
    
    model = StochSSModel(name="Example1");
    
      # Create species
      S = Species(name="S");
      P = Species(name="P");
      
      mu = Paramter(value=10.0);
      k1 = Parameter(value=1.0);
      k2 = Parameter(value=10.0);
      k3 = Parameter(value=1.0);
      Km = Parameter(value=(k2+k3)/k2);
      
      #Create reactions
      R1 = Reaction(name = "Spontanous birth");
      R1.setProducts(P);
      R1.setRate(mu);
      R1.setType("mass action");
      
      R2 = Reaction(name = "Conversion");
      R2.setReactants(S1);
      R2.setProducts(S2);
      R2.setRate(mu);
      R2.setType("custom expression");
      
      model.species = [S1,S2];
      model.parameters = [mu,k1,k2,k3,Km];
      model.reactions = [R1,R2];
</div> <!--/span9-->

<div class="well" style="float: right;">
    <input style="float: right;" type="submit" value="update">
    
</div>

<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/xcode");
    editor.getSession().setMode("ace/mode/python");
    </script>



{% endblock %}
