{% extends "modeleditor.html" %}
{% block title%}Species Editor{% endblock %}
{% block modeleditorcontent %}

<div class="span9">
    
    <div class="row-fluid">
    
        <div class="well">
            <p>A page where one can at least visualize a geometry/mesh imported from Gmsh."</p>
            
            <iframe src="http://andresriofrio.com/bearded/" name="bearded"
                width="700px" height="700px">
                content if browser does not support
            </iframe>
        </div>

    </div> <!--/row-->
</div> <!--/span9-->

{% endblock %}
