body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sidebar-nav {
  padding: 9px 0;
  font-size: 14px;
}

.nav {
  font-size: 16px;
}

.spinner-border {
  display: none;
  position: relative;
  margin: 15px;
  left: 40%;
  width: 90px;
  height: 90px;
  border: 12px solid rgba(0, 0, 0, 0.125);
  border-right-color: #007bff;
}