body {

}

.page {
  padding-bottom: 150px;
}

.sidebar {
  padding-top: 20px;
  margin-top: 48px;
  min-height: 8em;
  padding-left: 10px
}

[role="main"] {
  padding-top: 20px;
  margin-top: 48px;
}

.inline{
  display: inline-block !important;
}

span {
  font-size: 1rem;
}

select {
  margin-left: 10px;
}

label {
  padding-right: 0.25rem;
  width: 100%;
}

span.custom {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

button.custom {
  margin: 0.25rem;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.nav-item {
  display: inline-block;
}

.name {
  width: 8rem;
}

.form-input {
  width: 100%;
}

.form-input.labeled {
  width: 60%;
}

::-webkit-input-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

::-ms-input-placeholder {
  text-align: center;
}

::placeholder {
  text-align: center;
}

.sidebar-nav {
  padding: 9px 0;
  font-size: 14px;
}

.get-started {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  font-size: 16px;
}

.sidebar-sticky {
  position: fixed;
}

.tools {
  min-width: 12em; 
}

.body {
/*  min-width: 500px !important; */
}
.plot-preview {
  margin: 10px;
}

.reaction-summary {
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 10px;
  display: inline-block;
}

.container-part {
  max-width: none;
}

.information-btn {
  color: #007bff;
  border-color: #ffffff;
  padding: 0.5rem 1rem;
  text-align: left;
}

.help {
  font-size: 25px;
  padding: 0;
  vertical-align: top;
}

.tooltip-icon {
  display: inline-block;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: top;
  color: #007bff;
}

.tooltip-icon-large {
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: bottom;
  color: #007bff;
}

.information-btn:hover {
  color: #0056b3;
}

.btn-outline-collapse {
  color: #000;
  padding: 0px 10px;
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

.btn-outline-collapse:hover {
  color: #007bff;
}

.btn-primary {
  margin: 5px 10px 5px 0px !important;
}

.reaction-subdomain {
  padding: 0px 0px 0px 20px;
  border: 0;
}

.reaction-details-subdomain {
  padding: 0px 0px 0px 5px;
}

.btn-outline-tool {
  color: #007bff;
  padding: 0.5rem 1rem;
  text-align: left;
}

.btn-outline-tool:hover {
  color: #0056b3;
}

#collapse-description {
  padding: 0rem 2rem;
  font-size: 12px;
}

.modal-content.info {
  width: 150%;
}

.modal-content.default-species {
  width: 60%;
}

.spinner-border {
  display: none;
  position: relative;
  margin: 15px;
  left: 40%;
  width: 90px;
  height: 90px;
  border: 12px solid rgba(0, 0, 0, 0.125);
  border-right-color: #007bff;
}

.errors {
  display: none;
}

.mdl-edit-btn {
  display: inline-block;
}

.saving-status, .saved-status {
  display: none;
  margin: 15px;
  vertical-align: middle;
}

.saving-status {
  color: #117a8b;
}

.saved-status {
  color: #1e7e34;
}

.right-justify {
  position: absolute !important;
  right: 5px;
  left: auto;
}

.default-mode {
  margin: 0.75rem;
  display: flex;
  align-items: left;
  justify-content: left;
}

.concentration-btn, .population-btn, .hybrid-btn {
  min-width: 240px;
  margin-right: 0.75rem;
}

input[type="checkbox"] {
  padding: 0.75rem;
}

span.checkbox {
  padding-right: 0.25rem;
}

.event {
  margin-bottom: 0px;
}

.event-th .event-td {
  padding-left: 0px !important;
}

.tooltip-inner {
  max-width: 300px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: left;
  background-color: #000;
  border-radius: 0.25rem;
}

.verticle-space {
  padding-bottom: 10px;
}

.horizontal-space {
  padding-left: 5px;
  padding-right: 5px;
}

.switching {
  vertical-align: middle;
  margin-bottom: 5px;
  height: 29px;
}

#home-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo {
  vertical-align: middle;
  text-align: center;
}

.logo img {
  width: 40em;
  margin-left: -8em;
}

.try-stochss-btn {
  padding: 1.5rem 1.5rem;
  font-size: 2rem;
  line-height: 1;
  border-radius: 1.5rem;
}

.home-list {
  line-height: 2;
}

.centered {
  text-align: center;
}

.home-p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 22px;
}

.big-tip {
  margin-left: .2em;
}
