[scripts]
db = "python create_db.py"
certs = "bash make_certs.sh"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
sqlalchemy = "*"
python-dotenv = "*"
