div.mx-1

  if(this.model.collection.indexOf(this.model) !== 0)
    hr

  div.row

    div.col-sm-2

      div(data-target="identity-property" data-hook="summary-stat-name")

    div.col-sm-8

      div(data-target="identity-property" data-hook="summary-stat-formula")

    div.col-sm-2

      button.btn.btn-outline-secondary.box-shadow(data-hook="remove") X
