div

  div

    hr

    div.mx-1.row.head.align-items-baseline

      div.col-sm-2

        h6.inline <b>Name</b>

      div.col-sm-8

        h6.inline <b>Formula</b>

      div.col-sm-2

        h6 <b>Remove</b>

    div.my-3(data-hook="edit-summary-stat-collection")

  button.btn.btn-outline-secondary.box-shadow(data-hook="add-identity-summary-stat") Add Summary Statistic

