div

  hr

  div.mx-1.row.head.align-items-baseline

    div.col-sm-2

      h6.inline <b>Name</b>

    div.col-sm-10

      h6.inline <b>Formula</b>

  div.my-3(data-hook="view-summary-stat-collection")
