div

  hr

  div.mx-1.row.head.align-items-baseline

    div.col-sm-3

      div.row

        div.col-sm-4

          h6.inline <b>Enable</b>

        div.col-sm-8

          h6.inline <b>Feature Calculator</b>

    div.col-sm-3

      div.row

        div.col-sm-4

          h6.inline <b>Enable</b>

        div.col-sm-8

          h6.inline <b>Feature Calculator</b>

    div.col-sm-3

      div.row

        div.col-sm-4

          h6.inline <b>Enable</b>

        div.col-sm-8

          h6.inline <b>Feature Calculator</b>

    div.col-sm-3

      div.row

        div.col-sm-4

          h6.inline <b>Enable</b>

        div.col-sm-8

          h6.inline <b>Feature Calculator</b>

  div.my-3.ml-3.pl-3

    div.row

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-sum-values" data-target="minimal" data-name="sum_values" disabled)

          div.col-sm-8

            div Sum of Values

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-median" data-target="minimal" data-name="median" disabled)

          div.col-sm-8

            div Median

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-mean" data-target="minimal" data-name="mean" disabled)

          div.col-sm-8

            div Mean

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-length" data-target="minimal" data-name="length" disabled)

          div.col-sm-8

            div Length

    div.row

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-standard-deviation" data-target="minimal" data-name="standard_deviation" disabled)

          div.col-sm-8

            div Standard Deviation

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-variance" data-target="minimal" data-name="variance" disabled)

          div.col-sm-8

            div Variance

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-maximum" data-target="minimal" data-name="maximum" disabled)

          div.col-sm-8

            div Maximum

      div.pl-0.col-sm-3

        div.row

          div.col-sm-4

            input(type="checkbox" data-hook="minimal-minimum" data-target="minimal" data-name="minimum" disabled)

          div.col-sm-8

            div Minimum
