div#species-editor.card.card-body

  h3 Species Editor

  table.table
    thead
      tr
        th(scope="col") Name
        th(scope="col") Initial Condition
        th(scope="col") Remove
      
    tbody(data-hook="specie-list")

  button.btn.btn-outline-primary(data-hook="add-species", type="button")
    | Add Species

