body
  nav.navbar.navbar-expand-md.p-1.navbar-light.bg-light.fixed-top
    a.navbar-brand(href=this.homePath)
      img(style="height: 38px;margin-left: -1.2em;" src="static/stochss-logo.png")

    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    div#navbar.collapse.navbar-collapse.justify-content-end(role="navigation")
      ul.navbar-nav.float-right
        li.nav-item: a.nav-link(href="http://www.stochss.org", target="_blank")
          | About

        li.nav-item: a.nav-link(href="https://docs.google.com/forms/d/12tAH4f8CJ-3F-lK44Q9uQHFio_mGoK0oY829q5lD7i4/viewform?embedded=true", target="_blank")
          | Register

        li.nav-item: a.nav-link(href="http://www.stochss.org/documentation", target="_blank")
          | Documentation

        li.nav-item: a.nav-link(href="https://forms.gle/hpGJ1ruxR7wTT43h8" target="_blank")
          | Submit Feedback

        li.nav-item
          div.dropdown
            button.dropdown-toggle.nav-item.nav-link.dropbtn Contact
            div.dropdown-content
              a.nav-link(href="https://gitter.im/StochSS/community#", target="_blank") Community Chat
              a.nav-link(href="https://github.com/StochSS/stochss/issues/new", target="_blank") Report Issue

        li.nav-item: a.nav-link(href="/logout")
          | Sign Out

  div.container-fluid
    div.row
      div.col-sm-12.col-md-2.col-xxl-1.side-navbar(data-hook="side-navbar")
        nav.sidebar.d-md-block
          div.sidebar-sticky
            ul.nav.nav-flex-column
              li.nav-item: a.nav-link(href="stochss/home", title="Users Home Page")
                | Home

              li.nav-item
                div: a.nav-link(href="stochss/project/browser", title="Explore your StochSS projects") Projects

              li.nav-item(id="presentation-nav-link")
                div: a.nav-link(href="stochss/home#presentations", title="Explore your StochSS presentations") Presentations

              li.nav-item
                div: a.nav-link(href="stochss/files", title="Explore your StochSS files") Files

              li.nav-item
                div: a.nav-link(target="_blank", href="tree", title="Browse your files in a Jupyter interface") Jupyter

              li.nav-item
                div: a.nav-link(href="stochss/quickstart", title="Quickstart") Tutorial

            div.user-logs.card.card-body

              div.head

                h6.my-0.inline User Logs

                button.my-0.btn.btn-outline-collapse.inline(data-hook="user-logs-collapse") +

              div.pl-1.overflow-auto(id="user-logs")

      main.col-sm-12.col-md-10.col-xl-9.col-xxl-6.body(role="main" data-hook="page-main")

        div.container-fluid(data-hook="page-container")
