body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    a.navbar-brand(href="/stochss") StochSS

    div#navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item: a.nav-link(href="http://www.stochss.org", target="_blank")
          | About

        li.nav-item: a.nav-link(href="http://www.stochss.org/?page_id=476", target="_blank")
          | Documentation

        li.nav-item: a.nav-link(href="mailto:stochss-users@googlegroups.com")
          | Contact

        li.nav-item: a.nav-link(href="https://github.com/StochSS/stochss/issues/new")
          | Report Issue

    div#navbar.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav.float-right
        li.nav-item: a.nav-link(href="/admin")
          | Manage Users
        li.nav-item: a.nav-link(href="/account_settings")
          | Settings
        li.nav-item: a.nav-link(href="/logout")
          | Sign Out

  div.container-fluid
    div.row
      div.col-md-2: div.card.card-body.bg-light
        ul.nav.flex-column
          li.nav-item: i.icon-flask Tools

          li.nav-item: a.nav-link(href="/stochss/models", title="Create/Import models")
            | File Browser

          button.btn.btn-outline-tool(data-toggle="collapse", data-target="#collapse-description", data-hook="collapse")
            | Model Editor

          div.collapse(id="collapse-description")
            | In the File Browser: click the New button to make a new model or 
            | right-click a folder to make a new model in the folder.  Right-click
            | on model entries to bring up a menu for editing and conversion.

          li.nav-item: a.nav-link(href="/", title="File System")
            | Jupyter Hub

      div.container-fluid.col-md-10(data-hook="page-container")
