head
  meta(charset="utf-8")
  title StochSS: Stochastic Simlation Service
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="")
  meta(name="author", content="")
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-165145103-1")
  script
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date())
    gtag('config', 'UA-165145103-1')

