{% extends "modeleditor.html" %}
{% block title%}Convert Concentration Model to Population{% endblock %}
{% block modeleditorcontent %}

<div class="menubar">
    <ul class="nav nav-tabs">
	<li>
	    <a href="/modeleditor" TITLE = "Define the name of your model">Models</a>
	</li>
	<!-- <li><a href="/modeleditor/overview">Overview</a></li> -->
	<li>
	    <a href="/modeleditor/specieseditor" TITLE = "Create a List of reacants">Species</a>
	</li>
        <li>
	    <a href="/modeleditor/parametereditor" TITLE = "Create a List of Parameters">Parameters</a>
	</li>
	<li>
	    <a href="/modeleditor/reactioneditor" TITLE = "Create a List of Reactions">Reactions</a>
	</li>
	<li class="dropdown">
	    <!--<a class="dropdown-toggle" data-toggle="dropdown">Geometry<b class="caret"></b></a> -->
	    <ul class="dropdown-menu">
		<!-- <a href="/modeleditor/geometry/editgeometry"> <i class="icon-pencil"></i>Geometry editor</a> -->
		<a href="/#" TITLE = "Define the Geometry">Compartment</a>
		<!-- <a href="/#">Import mesh...</a> -->
	    </ul>
	</li>

	<!-- <li><a href="/modeleditor/codeeditor">Editor</a></li> -->
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Import from File/ Load Existing Library">Import<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<a href="/modeleditor/import/fromfile">From file..</a>
		<a href="/modeleditor/import/examplelibrary">Example Library...</a>
		<!-- <a href="/modeleditor/import/biomodels">BioModels database...</a>-->
	    </ul>
	</li>
        
        <!-- <li><a href="/modeleditor/codeeditor">Editor</a></li> -->
        {% if model_edited is defined %}
        {% if model_edited.units == "population" %} 
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To Stochkit">Export<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<a href="/modeleditor/export/tostochkit2">To XML (StochKit2 compat.)</a>
		<!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
	    </ul>
	</li>
        {% else %}
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To XML">Export<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<a href="/modeleditor/export/tostochkit2">To XML</a>
		<!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
	    </ul>
	</li>
        {% endif %}
        {% endif %}
    </ul>

</div>
<!--/ul-->

<div class="span9">
    <div class="row-fluid">
        <div class="well form">

	    <h3><a default> Convert concentration model to population model for mass-action kinetics </a>&raquo; </h3>

            <br />

            While concentration-based models can be only simulated employing only the deterministic solver (ODE), the newly-created population-based model can be simulated employing both the deterministic and stochastic solvers (SSA, Tau-leaping)

          <div style="display: none;" id="modelSelect">
            {{ modelName }}
            <!--<h3>1. Select a concentration model:</h3>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15pt"></th>
                  <th>Model Name</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>-->
          </div>
          <br />
          <br />

          <div id="volumeChoose">
            <h3>1. Choose a conversion volume:</h3>

            Choose the volume parameter to give resultant population values that make sense. Because strict concentration units are not enforced by StochSS, the units of volume are entirely a function of the input model.

            <br />
            <br />

            <div class="alert alert-block alert-info">Note: Round-off errors introduced in this conversion process might affect the dynamics of the model</div>

            <br />

            Volume:<br />
            <input class="volume" type="text" style="width: 100px;" class="id update_box auto_complete" />
            <span class="msgbox" style="color:red;"></span>
            
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Parameter</th>
                  <th>Concentration initial value</th>
                  <th>Population initial value</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <br />
          <div id="reactionVerify">
            <h3>2. Verify reactions:</h3>

            Verify here that the model conversion worked as expected. Only mass-action reactions can be converted automatically. Propensities for custom reactions will simply be copied to the new model when it is created. They can be modified from there.

            <br />
            <br />

            <div class="alert alert-block alert-info">Note: The conversion will work even if this table reports errors</div>

            <br />

            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Reaction</th>
                  <th>Expression</th>
                  <th>Propensity</th>
                  <th>Converted Successfully?</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <br />
          <div id="createModel">
            <h3>3. Create new model:</h3>
            Name:<br />
            <input type="text" style="width: 200px;" class="modelName id update_box auto_complete" /><br /><br />
            <button class="createModel btn btn-primary" style="float: right;">Create Model</button>
            <br />
            <br />
            <div id="msg" />
          </div>
	</div>
    </div>
</div>
<!--WHY DOES THIS HAVE TO BE HERE?-->
</div>

{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>

<script type="text/javascript" src = "/static/convert/convert_modeleditor.js"></script>
{% endblock %}
