{% extends "modeleditor.html" %}
{% block title%}Import Model from Public Library{% endblock %}
{% block modeleditorcontent %}
<div class="span9">
	<div class="well well-large">
		<form id="update_form" method="post" action="/modeleditor/import/publiclibrary">
			<input type="hidden" name="name" />
			{% if public_library %}
			<h3><a data-toggle="collapse" data-target="#public_library" default> Public Library</a>&raquo; </h3>
			<br/>			
			<div id="public_library" class="in collapse" style="height: auto">

				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
					<thead>
						<tr>
							<th>Name </th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for model_class in public_library %}
						<tr>
							<td> {{model_class}} </td>
							<td><a href="javascript:void(0)" onclick="javascript:submit_form('{{model_class}}')">Import</a></td>
						    <td><a href="javascript:void(0)" onclick="javascript:preview_model('{{model_class}}')">Preview</a></td>
						    <td><a href="javascript:void(0)" onclick="javascript:publicDeleteElement('{{model_class}}')">Delete</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<input type="hidden" name="model_class" />

			</div>
                        <br />

			{% if msg %}
			{% if status == False %}
			<span class="alert alert-error create_msg">{{msg}}</span>
			{% else %}
			<span class="alert alert-success create_msg">{{msg}}</span>
			{% endif %}
			{% endif %}
			<div id="msg" style="display:none"></div>

			{% endif %}
		</form>

	    <form id="preview_form" method="post" action="#">
			<input type="hidden" name="toPreview" />
			<input type="hidden" name="preview" value="1"/>
	    </form>

	    <form id="public_delete_form" method="post" action="#">
			<input type="hidden" name="toDelete" />
			<input type="hidden" name="delete" value="1"/>
	    </form>
	    
	    <!-- Modal for deletion. -->
	    <div id="public_delete_modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
			    <h3>Delete?</h3>
			</div>

			<div class="modal-body">
			    <div>
				Are you sure you want to delete the selected element from the public library?
			    </div>
			</div>

			<div class="modal-footer">
			    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="javascript:publicConfirmDelete()">
				Yes
			    </button>
			    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:void(0)">
				No
			    </button>
			</div>				
	    </div>
	</div>
</div><!--/span-->

{% endblock %}
{% block innerjscontent %}
<script type="text/javascript">
	// Global variables that will be used in the jscontent block in modeleditor
	var isParameterEditor = false;
	var oTable;

	$(document).ready(function() {
		oTable = $('#dataTable').dataTable({
			"aoColumns" : [
			// for sorting based on form fields
			{
				"sSortDataType" : "dom-text"
			}, {
				"sSortDataType" : "dom-text",
				"bSearchable" : false,
				"bSortable" : false
			}]
		});
	});

	function submit_form(model_class) {
		var newName=prompt("Please name this model before it is imported",model_class);
		if (newName != null) {
			$("#update_form input[name='name']").val(newName)
			$("#update_form input[name='model_class']").val(model_class)
			$("#update_form").submit()
		}
	}

    var toDelete;
    function publicDeleteElement(element){
    toDelete = element
    var options = {
    keyboard : false,
    backdrop : 'static',
    show : true
    }
    $('#public_delete_modal').modal(options)			
    }

    var toPreview;
    function preview_model(element){
    toPreview = element
    $("#preview_form input[name='toPreview']").val(toPreview)
    $("#preview_form").submit()    	
    }
    
    function publicConfirmDelete(){
    $("#public_delete_form input[name='toDelete']").val(toDelete)
    $("#public_delete_form").submit()
    }

</script>
{% endblock %}
