{% extends "modeleditor.html" %}
{% block title%}Species Editor{% endblock %}

{% block modeleditorcontent %}

<div class="menubar">
    <ul class="nav nav-tabs">
	<li>
	    <a href="/modeleditor" TITLE = "Define the name of your model">Models</a>
	</li>
	<!-- <li><a href="/modeleditor/overview">Overview</a></li> -->
	<li class="active">
	    <a href="/modeleditor/specieseditor" TITLE = "Create a List of reacants">Species</a>
	</li>
        <li>
	    <a href="/modeleditor/parametereditor" TITLE = "Create a List of Parameters">Parameters</a>
	</li>
	<li>
	    <a href="/modeleditor/reactioneditor" TITLE = "Create a List of Reactions">Reactions</a>
	</li>
	<li class="dropdown">
	    <!--<a class="dropdown-toggle" data-toggle="dropdown">Geometry<b class="caret"></b></a> -->
	    <ul class="dropdown-menu">
		<!-- <a href="/modeleditor/geometry/editgeometry"> <i class="icon-pencil"></i>Geometry editor</a> -->
		<a href="/#" TITLE = "Define the Geometry">Compartment</a>
		<!-- <a href="/#">Import mesh...</a> -->
	    </ul>
	</li>

	<!-- <li><a href="/modeleditor/codeeditor">Editor</a></li> -->
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Import from File/ Load Existing Library">Import<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<a href="/modeleditor/import/fromfile">From file..</a>
		<a href="/modeleditor/import/publiclibrary">Public Library...</a>
		<!-- <a href="/modeleditor/import/biomodels">BioModels database...</a>-->
	    </ul>
	</li>
        
        <!-- <li><a href="/modeleditor/codeeditor">Editor</a></li> -->
        {% if model_edited is defined %}
        {% if model_edited.units == "population" %} 
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To Stochkit">Export<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<a href="/modeleditor/export/tostochkit2">To XML (StochKit2 compat.)</a>
	    <a href="#" id="exportToPublicLibrary" TITLE = "Export model to public Library">To Public Library...</a>
		<!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
	    </ul>
	</li>
        {% else %}
	<li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To XML">Export<b class="caret"></b></a>
	    <ul class="dropdown-menu">
		<a href="/modeleditor/export/tostochkit2">To XML</a>
        <a href="#" id="exportToPublicLibrary" TITLE = "Export model to public Library">To Public Library...</a>
		<!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
	    </ul>
	</li>
        {% endif %}
        {% endif %}
    </ul>

</div>
<!--/ul-->

<div class="span9">
    <div class="row-fluid">
	<div class="well well-large">
	    <form method="post" action="/modeleditor/specieseditor">
		<h3><a data-toggle="collapse" data-target="#optional" default> Create new species </a>&raquo; </h3>
		<br/>
		<div id="optional" class="in collapse" style="height:auto">
		    <div style="float: left; padding-right: 10px">
			<label>Name</label>
			<input type="text" name="name" style="width: 160px" TITLE = "Give a Name to the Reactant" >
		    </div>
		    <div>
			<label>Initial value</label>
			<input type="text" class="span3" name="initial_value" TITLE = "Insert an Integer">
		    </div>
		    <div style="clear: both"></div>
		    <button type="submit" class="btn btn-primary" style="float: right;">
			Add species
		    </button>
		</div>
	    </form>
        <div id="msg">
	    {% if msg %}
	    {% if status == False %}
	    <div class="alert alert-error create_msg">
		{{msg}}
	    </div>
	    {% else %}
	    <div class="alert alert-success create_msg">
		{{msg}}
	    </div>
	    {% endif %}
	    {% endif %}
	    </div>
	    <hr/>
	    <br />
	    {% if all_species %}
	    <h3><a data-toggle="collapse" data-target="#species_list" default>Species </a>&raquo; </h3><br/>
	    <div id="species_list" class="in collapse" style="height: auto">
		<form id="update_form" method="post" action="/modeleditor/specieseditor">
		    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
			<thead>
			    <tr>
				<th>Name </th><th>Initial value </th><th>&nbsp;</th>
			    </tr>
			</thead>
<!--<th>Unit</th>-->
				<!--<td>
				    <input type="text" name="unit" value={% if model_edited.units == "population" %}"population"{% else %}"umolar/vol"{% endif %} style="width: 100px;" readonly="readonly">
				</td>-->
			<tbody>
			    {% for key, value in all_species.items() %}
			    <tr>
				<td>
				    <input type="text" name="{{loop.index}}-name" value="{{key}}" style="width: 100px;" class="update_box auto_complete">
				</td>
				<td>
				    <input type="text" name="{{loop.index}}-initial_value" value="{{value.initial_value}}" style="width: 100px;" class="update_box">
				</td>
				<td><a href="javascript:void(0)" onclick="javascript:deleteElement('{{key}}')">Delete</a></td>
			    </tr>
			    {% endfor %}
			</tbody>
		    </table>					
		</form>
	    </div>
	    {% endif %}
	    
	    <form id="deleteForm" method="post" action="/modeleditor/specieseditor">
		<input type="hidden" name="toDelete" />
		<input type="hidden" name="delete" value="1"/>
	    </form>
	</div>

    </div>
    <!--/row-->
</div>
<!--/span9-->

{% endblock %}
{% block innerjscontent %}
<script type="text/javascript">
	// Global variables that will be used in the jscontent block in modeleditor
	var isParameterEditor = false;
	var oTable;

	$(document).ready(function() {
		oTable = $('#dataTable').dataTable({
		"aoColumns": [
			// for sorting based on form fields
			{ "sSortDataType": "dom-text"},
			{ "sSortDataType": "dom-text", "sType": "numeric", "bSearchable": false },
			{ "sSortDataType": "dom-text", "bSearchable": false, "bSortable": false }
		]
		});
	});
	
	/**
	 * Create an array with the values of all the input boxes in a column.
	 * This is used to sort values inside input boxes.
	*/
	$.fn.dataTableExt.afnSortData['dom-text'] = function(oSettings, iColumn) {
		var aData = [];
		$('td:eq(' + iColumn + ') input', oSettings.oApi._fnGetTrNodes(oSettings)).each(function() {
			aData.push(this.value);
		});
		return aData;
	}
		
</script>	
{% endblock %}
