{% extends "modeleditor.html" %}
{% block title%}Species Editor{% endblock %}
{% block modeleditorcontent %}

<div class="span9">

  <div class="row-fluid">

    <div class="well">
      <form method="post" action="/modeleditor/volumeeditor">
	<h3><a data-toggle="collapse" data-target="#optional" default> Set the volume parameter </a>&raquo; </h3>
	<br/>
	<div id="optional" class="in collapse" style="height:auto">
          &emsp;&emsp;The volume parameter is useful when it is necessary to execute a concentration-based model stochastically, or compare the output of a population-based model with concentration data.
          <br/>
          <br/>
          &emsp;&emsp;Internally, StochSS converts concentrations to (and from) populations as follows:<br>&emsp;&emsp;Population = Concentration (moles/cm^3) * Volume (cm^3) * Avagardro's number.
          <br/>
          <br/>
	  <div style="display: none; visibility: hidden; float: left; padding-right: 10px">
	    <label>Name</label>
	    <input type="text" name="name" placeholder="" style="width: 160px" value="Volume" TITLE = "Volume of unit cell" class="update_box auto_complete">
	  </div>
	  <div>
            <Label>Volume</Label>
            {% if model_edited.volume %}
	    <input type="text" class="span3" name="expression" placeholder="1" value="{{ model_edited.volume.expression }}" />&emsp;(cm^3)
            {% else %}
	    <input type="text" class="span3" name="expression" placeholder="1" placeholder="1" />&emsp;(cm^3)
            {% endif %}
	  </div>
	  <div style="clear: both"></div>
	  <button type="submit" class="btn btn-primary" style="float: right;">
	    Set volume
	  </button>
	</div>
      </form>
      {% if msg %}
      {% if status == False %}
      <span style="color: red" class="create_msg">{{msg}}</span>
      {% else %}
      <span style="color: green" class="create_msg">{{msg}}</span>
      {% endif %}
      {% endif %}
      <hr/>
      <div id="msg" style="display:none"></div>
    </div>
  </div>
  <!--/row-->
</div>
<!--/span9-->

{% endblock %}
