{% extends "simulate.html" %}
{% block title%}Simulate{% endblock %}
{% block simulatecontent %}

<div class="well well-large">
    <form id="submit_stochkit_ensemble" method="post" action="/simulate/newstochkitensemble">
        
        <h2> New StochKit2 Ensemble</h2>
        <p> Generate a new ensemble using StochKit2.</p>
        <label>Name:</label>
        <input type="text" class="span3" name="output" value="">
            
        <span class="help-block">The name that will be used to reference the ensemble.</span>
        <h3>Required Parameters</h3>
        <br />
            Simulation time
        <br />
        <input type="text" class="input-small" disabled="disabled" value="0">
            &nbsp; to &nbsp;
        <input type="text" class="input-small" name="time" placeholder="100">
            &nbsp; store state every &nbsp;
        <input type="text" class="input-small" name="increment" placeholder="0.1"> &nbsp; t.u.
            
        <br />
        <label>Realizations</label>
        <input type="text" class="span3" name="realizations" value="1">
        <span class="help-block">Number of realizations.</span>
        <br />
                            
        <div>
        <label>Algorithm</label>
        <input type="radio" name="algorithm" value="ssa" checked> SSA</input>
        <input style="padding-left: 100px;" type="radio" name="algorithm" value="tau_leaping"> Tau-leaping</input>
        </div>
        </br></br>
          
        <!-- Optional parameters to the SSA and Tau-leaping solvers. -->
        <h3>
            <a data-toggle="collapse" data-target="#advanced-settings">
            Advanced settings&raquo;
            </a>
        </h3>
                            
        <div id="advanced-settings" class="collapse">
            
            <br />
            <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" name="only-moments" value="only-moments">
                Store only mean and variances
            </label>
            <label class="checkbox">
                <input type="checkbox" name="label-columns" value="label-columns">
                Label trajectories with species names
                <span class="help-block"> (Only applicable if all trajectories are stored.)</span>

            </label>
            <label class="checkbox">
                <input type="checkbox" name="keep-histograms" value="keep-histograms">
                Create histogram data
            </label>
            
            </div>
                                
            <label>Seed</label>
            <input type="text" class="span3" name="seed" value="0">
            <span class="help-block">Seed the random number generator.</span>
                                    
            <br />
                    
            <label>Epsilon</label>
            <input type="text" class="span3" name="epsilon" value="0.1">
            <span class="help-block">Set the tolerance (applicable to tau
                                     leaping only). Valid values: must be greater than 0.0 and less than 1.0.</span>
                                        
            <br />
            <label>Threshold</label>
            <input type="text" class="span3" name="threshold" value="10">
            <span class="help-block">Set the threshold (minimum number of reactions per leap before switching to SSA) for tau leaping.</span>
                
        </div> <!-- Advanced settings -->
                            
        <br />
            
        <button type="submit" class="btn btn-primary btn-large">Run Locally &raquo;</button>
        <button class="btn btn-primary btn-large" id="putonjobstack">Run via Cloud &raquo;</button>
        
    </form>
</div> <!-- well -->
            
{% endblock %}
