#container{
  display:none; 
  border-style: solid; 
  color: white;
  background-color: black;
  height: 41px;
}

.button-container{
  float:left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-style: solid;
  border-color: gray;
}

.button {
  height : 25px;
}

.button-container-left{
  padding-left: 12px;
}

.button-container-right{
  padding-right: 37px;
}