rect.bordered {
    stroke: #FFFFFF;
    stroke-width:2px;   
}

text.title, text.label {
    font-size: 24pt;
}

text.ticks {
    font-size: 16pt;
    text-anchor : middle;
}

text.colorlegend-labels {
    font-size: 16pt;
    font-color: "black";
}

text.mono {
    font-size: 16pt;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

#stdout_show {
    white-space: pre;
}

#stderr_show {
    white-space: pre;
}
