div.mb-3

  span Types the reaction can occur in: 

  div.mt-1.row(data-hook="reaction-types-container")

  div(data-hook="restict-to-error")

    p.text-danger Reactions must be active in at least one <b>'Type'</b>.