section.page

  div#page-error.container.centered

    div.logo(id="stochss-logo" data-hook="stochss-logo")
      img(src="static/stochss-logo.png")

    div.presentation-header

      h1 404 PAGE NOT FOUND

    div

      h5="This " + this.fileType + " presentation was removed by the author and is no longer available."