section.page

  h2 Example Library

  div.card.mt-3#well-mixed-examples

    div.card-header.pb-0

      h3.inline Well-Mixed

      button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-well-mixed" data-hook="collapse-well-mixed") -

    div.collapse.show(id="collapse-well-mixed")

      div.card-body(data-hook="well-mixed-examples")

  div.card.mt-4#spatial-examples

    div.card-header.pb-0

      h3.inline Spatial

      button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-spatial" data-hook="collapse-spatial") -

    div.collapse.show(id="collapse-spatial")

      div.card-body(data-hook="spatial-examples")
