div#home-wrapper.col-lg-8
   
  div.page-header
    h1 Welcome to the Stochastic Simulation Service

  div.jumbotron.get-started

    a.btn.btn-primary(href="/stochss/models" role="button") Click Here To Get Started
