section.page.col-md-10

  div.row

    h2 Job Manager

    button.btn.information-btn.help(data-hook="edit-job-help") &#63 

  div.col-md-12(data-hook="job-name")

  div(data-hook="job-editor-container")

  div(data-hook="job-status-container")

  div(data-hook="job-results-container")

  div(data-hook="model-viewer-container")

  div(data-hook="computational-resources-container")