section.page.col-md-10

  h2 Job Manager

  div.col-md-12(data-hook="job-name")

  div(data-hook="job-editor-container")

  div(data-hook="job-status-container")

  div(data-hook="job-results-container")

  div(data-hook="model-viewer-container")

  div(data-hook="computational-resources-container")