section.page

    div#job-presentation.container

      h2=this.model.name

      div(data-hook="job-results")

      div(data-hook="job-settings")

      div(data-hook="job-model")

      a.btn.btn-outline-secondary.box-shadow.text-break(href=this.open role="button") Open in StochSS