section.page

  div.verticle-space-3

    h1.centered(data-hook="loading-header") Loading Page Header

    h3.centered(data-hook="loading-target") Loading Page Target

  div.spinner-border(data-hook="loading-spinner")

  div.centered.mt-5

    p(data-hook="loading-message") Loading Page Message

  div.centered.mt-3(data-hook="loading-problem" style="display: none;")

    p Something may have gone wrong click <a href=this.homeLink>here</a> to go back