section.page

  h1.centered.verticle-space-3(data-hook="loading-header") Loading Page Header

  div.spinner-border(data-hook="loading-spinner")

  div.centered.mt-5

    p(data-hook="loading-message") Loading Page Message