section.page

  h2 Model Browser

  p Here are your models! 

  .panel.panel-default
    .panel-heading Model Browser

    table.table
      thead
        tr
          th(scope="col") Edit
          th(scope="col") Name
          th(scope="col") Version
          th(scope="col") Public

      tbody(data-hook="model-list")

  a.btn.btn-outline-primary(href="models/edit/") New

  a.btn.btn-outline-primary(href="models/edit-model/") New V2