section.page.col-md-10

  h2 File Browser

  div

    hr

    button.btn.information-btn(data-hook="file-system-information") File System<sup>&#8505</sup>

    button.btn.information-btn(data-hook="create-model-information") Create A Model<sup>&#8505</sup>

    button.btn.information-btn(data-hook="edit-model-information") Edit A Model<sup>&#8505</sup>

    button.btn.information-btn(data-hook="create-job-information") Create A Job<sup>&#8505</sup>

    button.btn.information-btn(data-hook="edit-job-information") Edit A Job<sup>&#8505</sup>

    button.btn.information-btn(data-hook="notebook-information") Jupyter Notebooks<sup>&#8505</sup>

    button.btn.information-btn(data-hook="jupyter-hub-information") Jupyer Hub<sup>&#8505</sup>

    hr

  div.alert-warning(class="collapse", data-hook="extension-warning") You should avoid changing the file extension unless you know what you are doing!

  div.alert-warning(class="collapse", data-hook="rename-warning") MESSAGE

  div#models-jstree.col-lg-10

  button.btn.btn-primary(data-hook="refresh-jstree") Refresh

  iframe(src="/hub/spawn", style="display: none;")
