section.page

    div#model-presentation.container

      div.presentation-header

        h1 <b> this.model.name </b>

      div(data-hook="model-species")

      div(data-hook="model-parameters")

      div(data-hook="model-reactions")

      div(data-hook="model-events")

      div(data-hook="model-rules")

      div(data-hook="model-sbml-components")

      div.card.card-body="System Volume: "+this.model.volume

      div.mt-3

        a.btn.btn-outline-secondary.box-shadow.text-break(href=this.openLink role="button") Open in StochSS

        a.btn.btn-outline-secondary.box-shadow.text-break(href=this.downloadLink role="button") Download (.mdl)
