body

  section.page

    nav.navbar.navbar-expand-md.p-1.navbar-light.bg-light.fixed-top
      a.navbar-brand(href="/hub/spawn")
        img(style="height: 38px;margin-left: -1.2em;" src="/hub/static/stochss-logo.png")

      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      div#navbar.collapse.navbar-collapse.justify-content-end(role="navigation")
        ul.navbar-nav.float-right
          li.nav-item: a.nav-link(href="http://www.stochss.org", target="_blank")
            | About

          li.nav-item: a.nav-link(href="https://docs.google.com/forms/d/12tAH4f8CJ-3F-lK44Q9uQHFio_mGoK0oY829q5lD7i4/viewform?embedded=true", target="_blank")
            | Register

          li.nav-item: a.nav-link(href="http://www.stochss.org/documentation", target="_blank")
            | Documentation

          li.nav-item: a.nav-link(href="https://forms.gle/hpGJ1ruxR7wTT43h8" target="_blank")
            | Submit Feedback

          li.nav-item
            div.dropdown
              button.dropdown-toggle.nav-item.nav-link.dropbtn Contact
              div.dropdown-content
                a.nav-link(href="https://gitter.im/StochSS/community#", target="_blank") Community Chat
                a.nav-link(href="https://github.com/StochSS/stochss/issues/new", target="_blank") Report Issue

    div#model-presentation.container.presentation

      div.presentation-header

        h1=this.model.name

      div(data-hook="model-view")

      div.mt-3

        a.btn.btn-outline-secondary.box-shadow.text-break.mr-3(href=this.openLink role="button") Open in StochSS

        a.btn.btn-outline-secondary.box-shadow.text-break(href=this.downloadLink role="button") Download (.mdl)
