section.page.col-md-10

  h2 Model Editor

  div: h5=this.model.name

  div.collapse(id="mesh-editor-container", data-hook="mesh-editor-container")

  div(data-hook="species-editor-container")

  div(data-hook="parameters-editor-container")

  div(data-hook="reactions-editor-container")

  div(data-hook="sim-settings-container")

  div.collapse(data-hook="model-timeout-message")

    p.text-warning The model took longer than 5 seconds to run and timed out!

  div(data-hook="model-run-container")

  div.spinner-border(data-hook="plot-loader")

  div(data-hook="model-state-buttons-container")