section.page.col-md-10

  h2 File Browser

  p Right-click on a folder to make a new model in the folder.  Double-click on a file to edit or open. If nothing is loading, click the "Jupyter Hub" link to the left to boot up your server, then refresh the page to see your models.

  div#models-jstree.col-lg-10

  button.btn.btn-primary(data-hook="refresh-jstree") Refresh