section.page.col-md-10

  h2 File Browser

  div

    hr

    button.btn.btn-outline-info(data-hook="file-system-information", style="border-color: #ffffff") File System<sup>&#8505</sup>

    button.btn.btn-outline-info(data-hook="create-model-information", style="border-color: #ffffff") Create A Model<sup>&#8505</sup>

    button.btn.btn-outline-info(data-hook="edit-model-information", style="border-color: #ffffff") Edit A Model<sup>&#8505</sup>

    button.btn.btn-outline-info(data-hook="create-job-information", style="border-color: #ffffff") Create A Job<sup>&#8505</sup>

    button.btn.btn-outline-info(data-hook="edit-job-information", style="border-color: #ffffff") Edit A Job<sup>&#8505</sup>

    button.btn.btn-outline-info(data-hook="jupyter-hub-information", style="border-color: #ffffff") Jupyer Hub<sup>&#8505</sup>

    hr

  div.alert-warning(class="collapse", data-hook="extension-warning") You should avoid changing the file extension unless you know what you are doing!

  div.alert-warning(class="collapse", data-hook="rename-warning") MESSAGE

  div#models-jstree.col-lg-10

  button.btn.btn-primary(data-hook="refresh-jstree") Refresh

  iframe(src="/hub/spawn", style="display: none;")
