section.page.col-md-10

  h2 Model Browser

  p Right-click a folder to make a new model in the folder. Right-click on model entries to bring up a menu for editing and conversion.

  div#models-jstree

