section.page

    div#notebook-presentation.container

      div.presentation-header

        h1=this.name

      div.iframe-container.card.card-body

        iframe(src=this.loadLink width="100%" height="90%" frameborder="0")

      div.mt-3

        a.btn.btn-outline-secondary.box-shadow.text-break.mr-3(href=this.openLink role="button") Open in StochSS

        a.btn.btn-outline-secondary.box-shadow.text-break(href=this.downloadLink role="button") Download (.ipynb)
