section.page

  div.verticle-space

    h2.inline(id="page-title" data-hook="page-title")= "Project: "

  div.no-gutters-padding

    div.verticle-space-2
      button.btn.btn-outline-secondary.btn-sm.box-shadow(data-hook="edit-annotation-btn") Add Notes
    
    div.mx-3.mt-2.collapse.verticle-space-2(data-hook="collapse-annotation-container")

      div.col-md-2.inline.align-top

        div.row

          div
            h5="Notes: "

          div
            button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#annotation-text" data-hook="collapse-annotation-text") -

      div.collapse.show.col-md-10.inline(id="annotation-text")

          div
            textarea(id="annotation" data-hook="annotation-text-container" rows="7" style="width: 100%;")

