section.page

  h2 Project Browser

  table.table
    
    tbody(id="projects-view-container" data-hook="projects-view-container")

  button.btn.btn-outline-primary.box-shadow(id="new-project-btn" data-hook="new-project-btn") New