section.page

  h2 Quick Start Guide

  div.col-md-11.mt-4

    h4 Getting Started

    p.pl-3 The <a href="/stochss/models">File Browser</a> is where you'll find all of your StochSS models and workflows, 
      Jupyter notebooks, <a href="http://sbml.org/Main_Page">SBML</a> models, and more.  (Click the question mark icon to see more info)

    p.pl-3 There are a number of example projects to help you get started.  Let's start with the Michaelis Menten model.  This model is characterized
      by the combination of a substrate with an enzyme resulting in a final product along with an enzyme-substrate compound.  Double-click
      on the model file(the one ending in .mdl) to open it in the model editor.  (You can also right-click on files to see a full set of 
      options or click the "Actions for..." button.)

    p.mx-auto(src="" style="display: block; width: 550px") [Screenshot of the file browswer with Michaelis_Menten.mdl selected]
    img(src="")

  div.col-md-11.mt-4

    h4 The Model Editor

    p.pl-3 TODO

  div.col-md-11.mt-4

    h4 Workflows

    p.pl-3 TODO