section.page

  div.row.no-gutters
    
    div.col-md-10

      h2 Quickstart

      p Welcome to the Stochastic Simulation Service! In this tutorial we'll take you through the process of creating, simulating, and analyzing a model of a biochemical system.

      p We start our journey on the <a href="/stochss/models">file browser</a>. To start, let's make a new project folder where we can keep files. Right-click on the root folder and click "New Directory" on the list of options. You can call the directory "Quickstart" or whatever you want. Right-click on your new folder and select New Model -> Non-Spatial. Name your model "Degradation" and click OK.

      br
 
      img.quickstart.screenshot(width="80%" src="static/file-browser-michaelis-menten-selected.png")

      br
      br

      p From here you'll be taken to the model editor. Since you're creating a new model you'll need to choose the default species "mode" for your model: either "concentration," "population," or "hybrid." Let's choose "Population" for now. StochSS supports deterministic ODE-based simulations (concentration) as well as discrete stochastic simulations (population). An exciting feature of StochSS is the ability to run "hybrid" simulations that utilize both deterministic and probabilistic algorithms during a simulation, thanks to the powerful <a href="https://gillespy2.github.io/GillesPy2/docs/build/html/index.html">GillesPy2</a> library.

      p.text-info.mx-auto(style="display: block; width: 690px") [What is a little task we can get them to do? Add a reaction? Change the value of something?]

      p.text-info.mx-auto(style="display: block; width: 400px") [Screenshot of the task we have them do]
      img(src="")

      p Sometimes you might not want to schedule a full simulation of your model but would like to see a sample of what a timeseries might look like. At the bottom of the page you'll see a button labelled "Run Preview." This function allows you to run a 5-second simulation and see some quick results without having to leave the model editor.

     
      br
      br
  
      h4 Workflows

      p A StochSS Workflow is a way to interrogate, simulate, and interact with your StochSS models. When you're ready to do a full simulation, save your model and then click the "New Workflow" button. This will take you to the workflow selection page. Choose the "Ensemble Simulation" workflow. You can choose from a variety of algorithms like ODE and discrete stochastic <span class="text-info">[clean up this sentance]</span>. Since we're using the Stochastic Simulation Service, let's use the SSA algorithm (Stochastic Simulation Algorithm). In the Stochastic Settings section, change the trajectories to 5 so we can compare the results of several stochastic simulations.

      br

      img.quickstart.screenshot(width="80%" src="static/michaelis-menten-workflow-ensemble.png")

      br

      p Go ahead and save your workflow and then head back to the File Browser. If you open up the Michaelis Menten project folder you'll see your new workflow file ending in .wkfl. Open up your workflow again to get back to the workflow manager. Check your settings one more time and then click "Start Workflow" when you're ready.

      p At this point the Workflow Status section will expand. Notice the "running" status. After a few seconds the container will refresh and the status will be "complete."
