section.page

  div.row.no-gutters
    
    div.col-md-10

      h2 Quickstart

      p The <a href="/stochss/models">File Browser</a> is where you'll find all of your StochSS models and workflows, Jupyter notebooks, <a href="http://sbml.org/Main_Page">SBML</a> models, and uploaded files. Head to the Examples folder and open the Michaelis Menten project folder. The <a href="https://en.wikipedia.org/wiki/Michaelis%E2%80%93Menten_kinetics">Michaelis Menten</a> model is a classic model in biochemistry involving the combination of a substrate with an enzyme. The result of the reaction is a product and an enzyme-substrate compound. Once you're in the project folder you'll see a file ending in .mdl, which indicates that it represents a StochSS model. Go ahead and double-click the file to open the model in the model editor.

      br
 
      img.quickstart.screenshot(width="80%" src="static/file-browser-michaelis-menten-selected.png")

      br
      br

      h4 Models

      p The StochSS model editor allows you to easily edit the attributes of your models. The model editor supports a variety of attributes and systems, some of which you may not be familiar with. If you're wondering what something is, look for a blue "i" next to the attribute name. Hovering over these icons will bring up an explanation.
        
      p.text-info.mx-auto(style="display: block; width: 690px") [What is a little task we can get them to do? Add a reaction? Change the value of something?]

      p.text-info.mx-auto(style="display: block; width: 400px") [Screenshot of the task we have them do]
      img(src="")

      p Sometimes you might not want to schedule a full simulation of your model but would like to see a sample of what a timeseries might look like. At the bottom of the page you'll see a button labelled "Run Preview." This function allows you to run a 5-second simulation and see some quick results without having to leave the model editor.

     
      br
      br
  
      h4 Workflows

      p A StochSS Workflow is a way to interrogate, simulate, and interact with your StochSS models. When you're ready to do a full simulation, save your model and then click the "New Workflow" button. This will take you to the workflow selection page. Choose the "Ensemble Simulation" workflow. You can choose from a variety of algorithms like ODE and discrete stochastic <span class="text-info">[clean up this sentance]</span>. Since we're using the Stochastic Simulation Service, let's use the SSA algorithm (Stochastic Simulation Algorithm). In the Stochastic Settings section, change the trajectories to 5 so we can compare the results of several stochastic simulations.

      br

      img.quickstart.screenshot(width="80%" src="static/michaelis-menten-workflow-ensemble.png")

      br

      p Go ahead and save your workflow and then head back to the File Browser. If you open up the Michaelis Menten project folder you'll see your new workflow file ending in .wkfl. Open up your workflow again to get back to the workflow manager. Check your settings one more time and then click "Start Workflow" when you're ready.

      p At this point the Workflow Status section will expand. Notice the "running" status. After a few seconds the container will refresh and the status will be "complete."
