selction.page

  div#home-wrapper.container.card.card-body

    div.logo(id="stochss-logo" data-hook="stochss-logo")
  
      img(src="/static/stochss-logo.png")

    div.centered
  
      h1.display-5 Welcome to the Stochastic Simulation Service!

    div.row.home-highlights
      div.col-md-2
      div.col-md-10
        h5 1) Create a new model

    div.centered
      button.btn.btn-primary.box-shadow.user-home-btn(id="new-model-btn" data-hook="new-model-btn")
        | Click here to create a new model

    div.row.home-highlights
      div.col-md-2
      div.col-md-10
        h5 2) Create a new project

    div.centered
      button.btn.btn-primary.box-shadow.user-home-btn(id="new-project-btn" data-hook="new-project-btn")
        | Click here to create a new project

    div.row.home-highlights
      div.col-md-2
      div.col-md-10
        h5 3) Browse your projects

    div.centered
      button.btn.btn-primary.box-shadow.user-home-btn(id="browse-projects-btn" data-hook="browse-projects-btn")
        | Click here to browse your projects

    div.row.home-highlights
      div.col-md-2
      div.col-md-10
        h5 4) Browse your files

    div.centered
      button.btn.btn-primary.box-shadow.user-home-btn(id="browse-files-btn" data-hook="browse-files-btn")
        | Click here to browse your files

    div.row.home-highlights
      div.col-md-2
      div.col-md-10
        h5 5) Are you haveing trouble and need some help?

    div.centered
      button.btn.btn-primary.box-shadow.user-home-btn(id="quickstart-btn" data-hook="quickstart-btn")
        | Click here for a tutorial