section.page

  div.no-gutters
    
    div

      div.mx-1.head.align-items-baseline

        h2 General

      div.mt-3.row

        div.col-sm-1

          label.switch

            input(data-hook="user-logs" type="checkbox" checked)

            span.slider.round

        div.col-sm-11

          h5(style="verticle-align: middle;") User Logs

    div

      div.mt-5.mx-1.head.align-items-baseline

        h2 AWS

      div.mt-3.pl-3.py-3.hidden(data-hook="aws-config-msg" style="background-color: rgba(220, 53, 69, 0.5) !important;")

        div AWS has not been setup to run jobs, check the following:
        ul.mb-0
          li Check that your credentials have been entered correctly.
          li Ensure you have a compute node <b>type</b> and <b>size</b> are selected.
          li Launch the compute node and ensure the <b>status</b> is <i>running</i>.

      div.mt-3.mx-1.head.align-items-baseline

        h3 Credentials

        p See <a href="https://stochss.github.io/stochss-compute/docs/_build/html/tutorials/aws/aws.html#aws-configuration" target="_blank">AWS Configuration Documentation</a> for details on where your credetials can be found.

      div.my-3.mx-1.row.head.align-items-baseline

        div.col-sm-3

          h6 <b>Region</b>

        div.col-sm-4

          h6 <b>Access Key ID</b>

        div.col-sm-4

          h6 <b>Secret Access Key</b>

      div.row.my-2

        div.col-sm-3

          div.pl-2(data-hook="aws-region-container" data-target="aws-credentials")

        div.col-sm-4

          div(data-hook="aws-accesskeyid-container" data-target="aws-credentials")

        div.col-sm-4

          div(data-hook="aws-secretaccesskey-container")

    div.hidden(data-hook="aws-compute-node-section")

      hr

      div.mx-1.row.head.align-items-baseline

        h3 Compute Node

      div.my-3.mx-1.row.head.align-items-baseline

        div.col-sm-2

          h6 <b>Type</b>

        div.col-sm-2

          h6 <b>Size</b>

        div.col-sm-4

          h6 <b>Status</b>

      div.row.my-2

        div.col-sm-2

          div(data-hook="aws-instancetype-container")

        div.col-sm-2

          div(data-hook="aws-instancesize-container")

        div.col-sm-4

          button.btn.btn-outline-collapse.mr-2.inline(data-hook="refresh-aws-status")

            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 512 512")

              path(d="M105.1 202.6c7.7-21.8 20.2-42.3 37.8-59.8c62.5-62.5 163.8-62.5 226.3 0L386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H463.5c0 0 0 0 0 0h.4c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5zM39 289.3c-5 1.5-9.8 4.2-13.7 8.2c-4 4-6.7 8.8-8.1 14c-.3 1.2-.6 2.5-.8 3.8c-.3 1.7-.4 3.4-.4 5.1V448c0 17.7 14.3 32 32 32s32-14.3 32-32V396.9l17.6 17.5 0 0c87.5 87.4 229.3 87.4 316.7 0c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.5 62.5-163.8 62.5-226.3 0l-.1-.1L125.6 352H176c17.7 0 32-14.3 32-32s-14.3-32-32-32H48.4c-1.6 0-3.2 .1-4.8 .3s-3.1 .5-4.6 1z")

          div.inline(data-hook="aws-headnode-status")

        div.col-sm-2

          button.btn.btn-outline-secondary.box-shadow(data-hook="launch-aws-cluster" disabled) Launch

        div.col-sm-2

          button.btn.btn-outline-secondary.box-shadow(data-hook="terminate-aws-cluster" disabled) Terminate

    div.mt-3(style="float: right;")

      if this.path === null
        button.btn.btn-primary.box-shadow(data-hook="apply-user-settings") Apply
      else
        button.btn.btn-primary.box-shadow(data-hook="apply-user-settings") Apply & Continue
