section.page

  div.no-gutters
    
    div

      div.mx-1.head.align-items-baseline

        h2 General

      div.mt-3.row

        div.col-sm-1

          label.switch

            input(data-hook="user-logs" type="checkbox" checked)

            span.slider.round

        div.col-sm-11

          h5(style="verticle-align: middle;") User Logs

    div

      div.mt-5.mx-1.head.align-items-baseline

        h2 AWS

      div.mt-3.mx-1.head.align-items-baseline

        h3 Credentials

      div.my-3.mx-1.row.head.align-items-baseline

        div.col-sm-3

          h6 <b>Region</b>

        div.col-sm-4

          h6 <b>Access Key ID</b>

        div.col-sm-4

          h6 <b>Secret Access Key</b>

      div.row.my-2

        div.col-sm-3

          div.pl-2(data-hook="aws-region-container" data-target="aws-credentials")

        div.col-sm-4

          div(data-hook="aws-accesskeyid-container" data-target="aws-credentials")

        div.col-sm-4

          div(data-hook="aws-secretaccesskey-container")

    div.hidden(data-hook="aws-compute-node-section")

      hr

      div.mx-1.row.head.align-items-baseline

        h3 Compute Node

      div.my-3.mx-1.row.head.align-items-baseline

        div.col-sm-3

          h6 <b>Type</b>

        div.col-sm-3

          h6 <b>Size</b>

        div.col-sm-2

          h6 <b>Status</b>

      div.row.my-2

        div.col-sm-3

          div(data-hook="aws-instancetype-container")

        div.col-sm-3

          div(data-hook="aws-instancesize-container")

        div.col-sm-2

          div(data-hook="aws-headnode-status")

        div.col-sm-2

          button.btn.btn-outline-secondary.box-shadow(data-hook="launch-aws-cluster") Launch

        div.col-sm-2

          button.btn.btn-outline-secondary.box-shadow(data-hook="terminate-aws-cluster") Terminate

    div(style="float: right;")

      button.btn.btn-primary.box-shadow(data-hook="apply-user-settings") Apply

      button.btn.btn-primary.box-shadow(data-hook="refresh-user-settings") Refresh
