section.page

  h3(data-hook="wkfl-selection-header")

  div(data-hook="workflow-selection-breadcrumb-links" style="display: none")
    h5
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="stochss/project/manager?path="+this.projectPath data-hook="project-breadcrumb")=this.projectName
          
  div.alert-danger(data-hook="invalid-model-message" style="display: none;")
    | You cannot create a workflow if your model does not have at least one Variable and one Reaction, Event, or Rule

  div.alert-info(data-hook="psweep-workflow-message" style="display: none;")
    | Parameter Sweep workflows require at least one parameter

  table.table
    thead
      tr
        th(scope="col" colspan="3") Jupyter Notebook Workflows
    tbody
      tr
        td
          button.btn.btn-outline-primary.box-shadow(id="ensemble-simulation" data-hook="ensemble-simulation" data-type="gillespy")
            | Ensemble Simulation
        td
          button.btn.btn-outline-primary.box-shadow(id="spatial-simulation" data-hook="spatial-simulation" data-type="spatial")
            | Spatial Ensemble Simulation
        td
          button.btn.btn-outline-primary.box-shadow(id="oned-parameter-sweep" data-hook="oned-parameter-sweep" data-type="1d_parameter_sweep")
            | 1D Parameter Sweep
      tr
        td
          button.btn.btn-outline-primary.box-shadow(id="twod-parameter-sweep" data-hook="twod-parameter-sweep" data-type="2d_parameter_sweep")
            | 2D Parameter Sweep
        td
          button.btn.btn-outline-primary.box-shadow(id="sciope-model-exploration" data-hook="sciope-model-exploration" data-type="sciope_model_exploration")
            | Sciope Model Exploration
        td
          button.btn.btn-outline-primary.box-shadow(id="model-inference" data-hook="model-inference" data-type="model_inference")
            | Sciope Model Inference
