section.page.col-md-10

  h3="Workflow Selection for " + this.modelFile

  table.table
    thead
      tr
        th(scope="col" colspan="4") StochSS Workflows
    tbody
      tr
        td: li.nav-item: a.nav-link(href="/stochss/workflow/edit/gillespy" + this.modelDir)
              | GillesPy2 Workflow
        td: li.nav-item: a.nav-link(href="/stochss/workflow/edit/parameter_sweep" + this.modelDir)
              | Parameter Sweep

  table.table
    thead
      tr
        th(scope="col" colspan="4") Jupyter Notebook Workflows
    tbody
      tr
        td: li.nav-item: button.btn.information-btn.nav-link(data-hook="oned-parameter-sweep" data-type="1d_parameter_sweep")
              | 1D Parameter Sweep
        td: li.nav-item: button.btn.information-btn.nav-link(data-hook="twod-parameter-sweep" data-type="2d_parameter_sweep")
              | 2D Parameter Sweep

  table.table
    thead
      tr
        th(scope="col" colspan="4") Coming Soon
    tbody
      tr
        td: li.nav-item: a.nav-link.disabled(href="/stochss/workflow/edit/parameter_estimation" + this.modelDir)
              | Sciope Parameter Estimation
        td: li.nav-item: a.nav-link.disabled(href="/stochss/workflow/edit/model_exploration" + this.modelDir)
              | Sciope Model Exploration