section.page

  div

    h2.inline(id="page-title")

    button.big-tip.btn.information-btn.help(data-hook="edit-workflow-help") <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path></svg>

  div(data-hook="project-breadcrumb-links" style="display: none")
    h5
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a.active-link(data-hook="project-breadcrumb")
          li.breadcrumb-item.active(aria-current="page" data-hook="workflow-breadcrumb")

  div.card.card-body(data-hook="src-model" style="display: none;")

    h3 Model

    div

      div.text-warning
        | The model used for this workflow could not be found, you will need to select the model to be run by this workflow

      div.text-info(id="model-location-info" style="display: none;")
        | This model was found in multiple locations

      div.inline(data-hook="model-file")

      div.inline(data-hook="model-location")

    button.btn.btn-outline-primary.box-shadow(data-hook="save-model") Update Model

  div.card

    div.card-header.pb-0

      h3.inline Settings

      button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-wkfl-settings" data-hook="collapse-settings") -

    div.collapse(class="show" id="collapse-wkfl-settings" data-hook="workflow-editor-container")

      div.card-body

        div(data-hook="settings-container")

        div.mdl-edit-btn

          button.btn.btn-primary.box-shadow(data-hook="save") Save

          div.mdl-edit-btn.saving-status(data-hook="saving-workflow")

            div.spinner-grow

            span Saving...

          div.mdl-edit-btn.saved-status(data-hook="saved-workflow")

            span Saved

          button.btn.btn-primary.box-shadow(data-hook="start-job") Start Workflow
    
          button.btn.btn-primary.box-shadow(data-hook="edit-model") Edit Model

  div(data-hook="status-container")

  div.card(data-hook="jobs-container" style="display: none;")

    div.card-header.pb-0

      h3.inline Jobs

      button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#job-listing-container" data-hook="collapse-jobs") -

    div.collapse.show(id="job-listing-container")

      div.card-body

        div.row

          div.col-md-3: h6 <b>Job</b>
          div.col-md-4: h6 <b>Start Time</b>
          div.col-md-3: h6 <b>Status</b>
          div.col-md-2: h6 <b>Remove</b>

        div.mb-3.head

        div(data-hook="job-listing")

  div.mt-4(data-hook="active-job-header-container" style="display: none")

    h2(data-hook="active-job-header") Job:

  div(data-hook="active-job-container")

  div(data-hook="workflow-info-container")

  div#review-settings-section.card(style="display: none;")

    div.card-header

      h3.inline(id="settings-viewer-header") Review Settings

      button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#review-settings-container" data-hook="collapse-review-settings") +

    div.collapse(id="review-settings-container")

      div.card-body(data-hook="settings-viewer-container")

  div#review-model-section.card(style="display: none;")

    div.card-header

      h3.inline(id="model-viewer-header") Review Model: 

      button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-model" data-hook="collapse-model") +

    div.collapse(id="collapse-model")

      div.card-body(data-hook="model-viewer-container")

  div.mb-2(data-hook="computational-resources-container")

  button.btn.btn-primary.box-shadow(data-hook="return-to-project-btn" style="display: none;") Return to Project

