<html>
    <head>
        <title>Waddup</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href="/jquery-ui-1.10.3/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
        <script src = "/jquery-ui-1.10.3/js/jquery-1.9.1.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src = "/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.js"></script>
        <script type="text/javascript" src = "/underscore.js"></script>
        <script type="text/javascript" src = "/utils.js"></script>
        <script type="text/javascript" src = "/backbone.js"></script>
        <script type="text/javascript" src = "/model/stochkit.js"></script>

        <script type="text/javascript" src = "/model/speciesEditor.js"></script>
        <script type="text/javascript" src = "/model/parameterEditor.js"></script>
        <script type="text/javascript" src = "/model/reactionEditor.js"></script>
        <script type="text/javascript" src = "/model/modeleditor.js"></script>

        <script id="menuBarTemplate" type="text/application">
            <div class="menubar">
	        <ul class="nav nav-tabs">
	            <li>
	                <a id="modelCreateLink" TITLE = "Define the name of your model" href="#">Models</a>
	            </li>
	            <!-- <li><a href="/modeleditor/overview">Overview</a></li> -->
	            <li>
	                <a id="speciesEditorLink" TITLE = "Create a List of reacants" href="#">Species</a>
	            </li>
                    <li>
	                <a id="parameterEditorLink" TITLE = "Create a List of Parameters" href="#">Parameters</a>
	            </li>
	            <li>
	                <a id="reactionEditorLink" TITLE = "Create a List of Reactions" href="#">Reactions</a>
	            </li>

	            <!--<li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Import from File/ Load Existing Library">Import<b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                    <a id="fromFileLink" href="/modeleditor/import/fromfile">From file..</a>
	                    <a id="exampleLibraryLink" href="/modeleditor/import/examplelibrary">Example Library...</a>
	                </ul>
	            </li>
                    
                    <% if(typeof model != 'undefined' && model.type == "population") { %>
	            <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To Stochkit">Export<b class="caret"></b></a>
	                <ul class="dropdown-menu">
	                    <a href="/modeleditor/export/tostochkit2">To StochML (StochKit2) ...</a>
	                </ul>
	            </li>
                    <% } %>-->
	        </ul>
            </div>
        </script>

        <script id="modelCreateTemplate" type="text/application">
            <div class="span9">
	        <div class="well well-large">
	          <h3><a style="text-decoration: None"> Create new model </a></h3>
	          <br/>
	          <div id="optional" class="in collapse" style="height:auto">
	            <label>Name:</label>
                    <br />
	            <input id="modelName" type="text" class="span3" id="Formula" placeholder="Model name" name="name" value="model" class="update_box auto_complete">
                    <br />
                    <br />
                    <label>Units:</label><br />
                    <input class="concentration" name="simType" type="radio"> Concentration <br />
                    <input class="population" name="simType" type="radio" checked> Population <br />
	            <button type="submit" class="modelCreate btn btn-primary btn-large" style="float: right;">
		      Create model
	            </button>
	          </div>
                  
	          <div id="msg" style="display:none"></div>

	          <div>
	            <h3><a style="text-decoration: None">Models</a></h3>
	          </div>
	          <div id="model_list" class="in collapse" style="height: auto">
	            <br/>
	            <div>
	              <h4>Select a model to edit</h4>
	            </div>
	            <br/>
	            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
	              <thead>
		        <th>Model</th>
                        <th>Units</th>
		        <th>&nbsp;</th>
	              </thead>
	              <tbody id="table">
	              </tbody>
	            </table>
	          </div>
	        </div>
            </div>
        </script>
        
        <script id="saveStatusTemplate" type="text/application">
            <div class="span2">
	        <% if(typeof model === 'undefined') { %>
	        <p>
	            <h3>You are not editing a model</h3>
                    <br/><br/>
                    <a href="/modeleditor">Choose a model to edit or create a new model</a>
	        </p>

	        <% } else { %>
	        <label><h2><%= model.name %></h2></label>
                <% if(!changed) { %>
	        <button id="save_button" class="btn btn-success save" >
	            Changes saved
	        </button>
                <% } else { %>
	        <button id="save_button" class="btn btn-danger save" >
	            Save changes
	        </button>
                <% } %>

	        <br/><br/>
	        <a href="/modeleditor">Edit another model</a>
                <hr>

	        <% } %>
            </div>
        </script>
    </head>
    <body>
        <div class="span9">
            <div class="row-fluid">
	        <div class="span9">
                    <div id="menuBarTarget"></div>

                    <div id="windowTarget"></div>
	            
                    <div id="saveStatusTarget"></div>
	        </div>
            </div>
        </div>
    </body>
</html>
