<html>
  <head>
    <title>Sup</title>
    <!-- Gotta include all the scripts we use -->
    <link href="jquery-ui-1.10.3/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <script src = "jquery-ui-1.10.3/js/jquery-1.9.1.js"></script>
    <script src = "jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src = "underscore.js"></script>
    <script type="text/javascript" src = "backbone.js"></script>
    <script type="text/javascript" src = "stochkit_job.js"></script>
    <script type="text/javascript" src = "status.js"></script>
    <script language="javascript" type="text/javascript" src="flot/jquery.flot.js"></script>

    <script id="technical_output_template" type="text/application">
      <h2>Job summary: <span style="COLOR:green;"><%= name %></span></h2>
      <br />
      <div class="well">
        <h3>Metadata</h3>
        <p class="thispage">
          Simulation endtime: <%= final_time %>
          <br />
          Stochkit input file: <a href="/output/servestatic?filename=<%= output_location %>/<%= id %>.xml" class="thispage"> <%= id %>.xml </a>
        </p>
      </div>

      <div class="well">
        <h3> Debug Info </h3>
        <hr>
        These are the standard streams from the Stochkit executable used to run the job
        <hr>
        <h5>Stdout</h5>
        <pre> stdout </pre>
        <h5>Stderr</h5>
        <pre> stderr </pre>
        <br />
      </div>
    </script>

    <script id="output_template" type="text/application">
    </script>
      
  </head>
  <body>
    <!--At the top of the page I want links so the users can click finished and running jobs-->
    <!--Job Name-->
    <table id = "jobs" width="500">
      <tr>
        <td>Job Name</td>
        <td>Status</td>
        <td>Remove Job</td>
      </tr>
    </table>
    <hr />

    <!--This is how the user can refresh the job data they have-->
    <button id="refresh">Refresh</button>
    <hr />

    <!--This is where the job data will get rendered-->
    <div id="main_stage"></div>
  </body>
</html>
