div.row(data-hook="reaction-details")
  
  div.col-md-12(data-hook="select-reaction-type")

  div.col-md-12(data-hook="select-rate-parameter")

  div.col-md-12(class="collapse", data-hook="subdomains-editor")
  
  div.col-md-6(data-hook="reactants-editor")

  div.col-md-6(data-hook="products-editor")