{% extends "base.html" %}
{% block title%}Upload a Model{% endblock %}
{% block content %}
        <div class="span9">
          <div class="hero-unit">
            <h2>Import URDME data</h2>
            <form class="well form" enctype="multipart/form-data" method="post"
              action="/view" % upload_url>
              {% if error %}
                <div class="control-group error">
                  <label class="control-label" for="inputError">
                    There were errors with your submission:
                      {{ error }}
                  </label>
                </div>
                <br />
              {% endif %}
              <label>Name of dataset</label>
              <input type="text" class="span3" id="name" name="name" 
                placeholder="fooModel" />
              <span class="help-block">The name this model should be referenced
  by.
              </span>

              <br />
              <div>
                <label class="control-label" for="model">File(s):</label>
                <input class="input-file" name="model" id="model" type="file" />
              </div>

              <br />
              <button id="upload" class="btn-primary btn-large">
                Upload &raquo;
              </button>
            </form>
          </div>
        </div><!--/span-->
{% endblock %}
