<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>StochSS: {% block title %}Stochastic Simlation as a Service{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {% block csscontent %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StochSS</a>
          <div class="btn-group pull-right">
            {% if user %}
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>{{ user.nickname() }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/signout">Sign Out</a></li>
            </ul>
            {% else %}
              <a class="btn" href="/users/login">Login</a>
            {% endif %}
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://www.stochss.org" target="_blank">About</a></li>
              <li><a href="mailto:help@stochss.org">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      
      <div class="row-fluid">
          
        <div class="span2">
          <div class="well sidebar-nav">
              
            <ul class="nav nav-list">
                
              <li class="nav-header">Modelling</li>
                
                <li
                    {% if active_index %}
                    class="active"
                    {% endif %}
                    
              <li
              {% if active_index %}
              class="active"
              {% endif %}
              <li
              {% if active_createmodel %}
              class="active"
              {% endif %}
              ><a href="/modeleditor" TITLE = "Create/Load Modle">Model editor</a></li>
              <!--<li><a href="/modeleditor/import/fromfile">Import</a></li>-->
                
              <li class="nav-header">Simulation</li>
                
              <li><a href="/simulate" TITLE = "Manage Simulations">Simulation manager</a></li>
                
              <!-- <li class="nav-header">Tools</li>
              <li><a href="tools/parametersweep" TITLE = "Run a Sweep of all parameters"> Parameter sweep</a></li>
              <li><a href="#"> Parameter estimation</a></li>
              <li><a href="#"> Model exploration</a></li> -->
                  
              <li class="nav-header">Postprocessing</li>
              
              <li
                {% if active_visulize %}
                class="active"
                {% endif %}
                ><a href="/visualize" TITLE = "Generate graphs of the Simulation">Visualize</a>
              </li>
    
                
              <li class="nav-header">Job Management</li>
                  
              <li
                {% if active_visulize %}
                class="active"
                    {% endif %}
                    ><a href="/status" TITLE = "Observe the progress of your Simulation">Job Status</a></li>

             
            </ul>
              
          </div><!--/.well -->
        </div><!--/span-->
          
          {% block content %}{% endblock %}
          
      </div><!--/row-->

      <hr>

      <footer>
        <p></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/custom.js"></script>
    {% block jscontent %}{% endblock %}

  </body>
</html>
