{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}


  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StochSS</a>
          <div class="btn-group pull-right">
            
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>test@example.com
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/signout">Sign Out</a></li>
            </ul>
            
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://www.stochss.org" target="_blank">About</a></li>
              <li><a href="mailto:stochss-users@googlegroups.com">Support</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
        
 <div class="span9">

		<div class="well well-large">


<form id="start_vms" action="/credentials" method="get">
<h2><a data-toggle="collapse" data-target="#optional"> Manage VMs </a> </h2>
<label> Access Key </label>
<input class="span3" type="text" name="access_key" value="">

<label> Secret Key </label>
<input class="span3" type="text" name="secret_key" value="">

<label> Number of Vms </label>
<input class="span3" type="text" name="vm_number" TITLE="Enter a value less than 20">

<span style="display: inline-block; width: 70px; vertical-align: top;">
<button type = "submit" class="btn btn-primary" style="position: absolute; left: 725px; top: 150px; " name = "save"> Save </button>
<button class="btn btn-primary" style="position: absolute; left: 725px; top: 250px; " name = "start"> Start </button>
</span>

<br>
<br>
<br>

<h3> Status of VM Initiation: </h3>&nbsp;&nbsp;
{%if status == TRUE %}
<span style="color: green" class="create_msg"> Finished </span>
{% else %}
<span style="color: red" class="create_msg"> Pending </span>
{%endif%}

<br>
<br>
<br>

    <h3> Number of Running VMs: {{number_of_vms}} </h3>


<input type = "submit" class="btn btn-primary" type="submit" name="delete" value="Delete All VMs" style="position: absolute; left: 725px; top: 410px ">


</form>


<!--		<div class="span2">
				{% if valid_username %}

					<label><h3>{{username}}</h3></label>
					<br/>
 				{% else %}
				<p>
					You cannot access this page
				</p>
				{% endif %}

					
			</div>  -->

		
{% endblock %}
