{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}

<div class="span9"> <!-- Because of the row-fluid in base.html -->

<div class="span9">
<div class="well well-large">

<form id="credentials" action="/credentials" method="post">
    
<h2><a data-toggle="collapse" data-target="#optional"> Credentials </a> </h2>
<label> Access Key </label>
<input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}">
<label> Secret Key </label>
<input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}">
<br><br>
<button type="submit" class="btn btn-primary" name="save" style="float:bottom;"> Save credentials</button>
<!-- Display status messages -->
{% if credentials_msg %}
<br>
{% if status == False %}
<span style="color: red">{{credentials_msg}}</span>
{% else %}
<span style="color: green">{{credentials_msg}}</span>
{% endif %}
{% endif %}
</form>
</div>
</div>

<div class="span9">
<div class="well well-large">
<form id="start_vms" action="/credentials" method="post">

<h2><a>Virtual Machines</a></h2>
<br>
<h3>Start new Virtual Machines</h2>
<label> Number of VMs </label>
<input class="span3" type="text" name="vm_number" TITLE="Enter a value less than 20">
{% if valid_credentials %}
</br><button class="btn btn-primary" name="start"> Start VMs </button>
{% else %}
</br><button class="btn btn-primary" name="start" disabled> Start VMs </button>
{% endif %}
<!-- Display status messages -->
{% if msg %}
<br>
{% if status == False %}
<span style="color: red">{{msg}}</span>
{% else %}
<span style="color: green">{{msg}}</span>
{% endif %}
{% endif %}

<hr>


<h3> Status of VMs: </h3>

<!-- Display the status of the VMs -->
{% if no_active_vms %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> There are no active VMs.  </span>
{% endif %}
    
{% if number_running %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> Running: {{number_running}}  </span>
{% endif %}
<br>
{% if number_pending %}
&nbsp;&nbsp;<span style="color:red; font-size: 16px" class="create_msg"> Pending: {{number_pending}} </span>
{% endif %}
    
<!-- Display error messages related to VMs -->
{% if vm_status_msg %}
<br>
{% if vm_status == False %}
<span style="color: red">{{vm_status_msg}}</span>
{% else %}
<span style="color: green">{{vm_status_msg}}</span>
{% endif %}
{% endif %}
    
    
<br>
<br>

<input type = "submit" class="btn btn-primary" name="refresh" value="Refresh status">
<input type = "submit" class="btn btn-primary" name="delete" value="Stop all VMs">
    
</form>
</div>
</div>
    
    </div>
{% endblock %}
