{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}


  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StochSS</a>
          <div class="btn-group pull-right">
            
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>test@example.com
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/signout">Sign Out</a></li>
            </ul>
            
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://www.stochss.org" target="_blank">About</a></li>
              <li><a href="mailto:stochss-users@googlegroups.com">Support</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
        
 <div class="span9">

<div class="well well-large">


<form id="start_vms" action="/credentials" method="post">
<div>
<h2><a data-toggle="collapse" data-target="#optional"> Credentials </a> </h2>
<label> Access Key </label>
<input class="span3" type="text" name="ec2_access_key" value="{{access_key}}">
<label> Secret Key </label>
<input class="span3" type="text" name="ec2_secret_key" value="{{secret_key}}">
<button type = "submit" class="btn btn-primary" name = "save"> Save credentials</button>
    <!-- Display error messages -->
    {% if credentials_msg %}
    <br>
    {% if status == False %}
    <span style="color: red">{{credentials_msg}}</span>
    {% else %}
    <span style="color: green">{{credentials_msg}}</span>
    {% endif %}
    {% endif %}
    <br>
    <br>
</div>
<hr>
    
<h2><a>Virtual Machines</a></h2>
<br>
<h3>Start new Virtual Machines</h2>
<label> Number of VMs </label>
<input class="span3" type="text" name="vm_number" TITLE="Enter a value less than 20">

<!--<span style="display: inline-block; width: 70px; vertical-align: top;">-->
<button class="btn btn-primary" name = "start"> Start VMs </button>
</span>

<!-- Display error messages -->
{% if msg %}
<br>
{% if status == False %}
<span style="color: red">{{msg}}</span>
{% else %}
<span style="color: green">{{msg}}</span>
{% endif %}
{% endif %}
<br>
<br>

<!-- <h3> Status of VMs: </h3>&nbsp;&nbsp;
{% if vm_status %}
<span style="color: green" class="create_msg"> Finished </span>
{% else %}
<span style="color: red" class="create_msg"> Pending </span>
{%endif%}-->
    
<h3> Status of VMs: </h3>
    
{% if vm_status %}
{% if number_running %}
&nbsp;&nbsp;<span style="color: green" class="create_msg"> Running: {{number_running}}  </span>
{% endif %}
<br>
{% if number_pending %}
&nbsp;&nbsp;<span style="color: red" class="create_msg"> Pending: {{number_pending}} </span>
{% endif %}
    
{%endif%}

    
<br>
<br>

<input type = "submit" class="btn btn-primary" type="submit" name="refresh" value="Refresh status">
<input type = "submit" class="btn btn-primary" type="submit" name="delete" value="Stop all VMs">

<!-- {% if number_of_vms %}
<h3> Number of Running VMs: {{number_of_vms}}</h3>
<input type = "submit" class="btn btn-primary" type="submit" name="delete" value="Stop all VMs"> -->
    
{% endif %}


</form>

		
{% endblock %}
