{% extends "base.html" %}
{% block title%}Configure Computational Pipeline{% endblock %}
{% block content %}
<div class="span9">
    <div class="hero-unit">
        <h2>Configure a computational pipeline</h2>
        
        <br />
        {% if models_present %}
        <p>Select a model to get started.</p>
        <label class="control-label" for="model">Model:</label>
        {% for model in models %}
        <label class="radio">
            <input type="radio" name="model_name" id="model_name" 
                value="{{model}}">
                {{ model }}
                </label>
        
        {% endfor %}
        {% else %}
        <p>There are no models in the system so no pipeline can be defined.
        <br /><br />
        <a href="/createmodel">Create a new model?</a></p>
        {% endif %}
        
    </div>
</div><!--/span-->
{% endblock %}
