{% extends "base.html" %}
{% block title%}Welcome to the StochSS SandBox{% endblock %}
{% block content %}

<div class="span9">
    
    <div class="page-header">
        <h1> Welcome to StochSS <small>Stochastic Simulation Service</small></h1>
    </div>
    
    <div class="hero-unit">
        
        <h2>Welcome to the StochSS SandBox </h2>
        <p>
        <form name = "myform" action="/" method="post"> 
           <input name="submitbutton" type="submit" class="btn btn-primary btn-large" id="initialize" value="Initialize"</>
           <input name="submitbutton" type="submit" class="btn btn-primary btn-large" id="initialize" value="Empty"</>
        </form>
       
        </p>
                
        <p> 
        
        {% if initialized %}
        
        The following models are stored in the datastore:
        {% for model in models %}
        <ul>
            <li>{{model}}</li> 

        </ul> 
        
        <br />
        {% endfor %}
        
        The following ensembles:
        {% for ensemble in ensembles %}
        <ul>
            <li>{{ensemble}}</li> 
            
        </ul>    
        <br />
        {% endfor %}
        
        The following functions that operate on ensembles:
        {% for fun in fun_ens %}
        <ul>
            <li>{{fun}}</li> 
            
        </ul>    
        <br />
        {% endfor %}
        
        The following functions that operate on Trajectories in the ensemble:
        {% for fun in fun_traj %}
        <ul>
            <li>{{fun}}</li> 
            
        </ul>    
        <br />
        {% endfor %}
        
        {% endif %}
        
        </p>
        
            
        
    </div>
</div><!--/span-->
{% endblock %}