{% extends "base.html" %}
{% block title%}Welcome to the StochSS SandBox{% endblock %}
{% block content %}

<div class="span9">
    
    <div class="page-header">
        <h1> Welcome to StochSS <small>Stochastic Simulation Service</small></h1>
    </div>
    <div class="hero-unit">
    <span style="font-size:16px">
        Some introductory text will go here. Basic instructions.
    </span>
    </div>
    <!-- <h2> System Status </h2>
    <hr>
    </br>
    <span style="font-size:20px">Local StochKit installation:&nbsp;&nbsp;&nbsp;</span><span style="font-size:16px;" class="label label-success">Functioning</span>
    </br></br>
    <span style="font-size:20px">EC2 credentials:&nbsp;&nbsp;&nbsp;</span><span style="font-size:16px;" class="label label-success">Validated</span>&nbsp;&nbsp;<a style="font-size:16px;" href="/credentials">Credentials settings</a> -->
    
</div><!--/span-->
{% endblock %}