{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}
{% block content %}

<div class="span9">
    
    <div class="row-fluid">
    
       <div class"span9">
            
    </div class="menubar">
       <ul class="nav nav-tabs">
          <!-- <li><a href="/simulate/overview">Overview</a></li> -->
           <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Solvers<b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <!-- <a href="/simulate/wellmixed/deterministic">Well mixed deterministic</a> -->
                   <a href="/simulate/newstochkitensemble">Well mixed stochastic</a>
                </ul>
           </li>
          <li><a href="/simulate/jobsettings">Job settings</a></li>

        </ul>
    </div> <!--/ul-->
    
        {% block simulatecontent %}
        <div class="span9">
            <div class="well">
              <h3> Select model to simulate </h3>
              </br>
              <form id="model_simulated" method="post" action="/simulate">
                  {% for item in all_models %}
                  <label class="radio">
                      <input type="radio" name="model_to_simulate" value={{ item.model.name }}> {{ item.model.name }}
                      </input>
                      </br>
                  </label>
                  {% endfor %}
                  </br>
                  <button type="submit" class="btn-primary btn-large" style="float: left;">Next&raquo;</button>
              </form>
        </div>
        {% endblock %}
        
        </div>
     </div> <!--/span9-->
 {% endblock %}
