{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}
{% block content %}

<div class="span9">
    
    <div class="row-fluid">
    
       <div class"span9">
            
    </div class="menubar">
       <ul class="nav nav-tabs">
           <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Solvers<b class="caret"></b></a>
               <ul class="dropdown-menu">
                   <a href="/simulate/newstochkitensemble">Well mixed stochastic</a>
                </ul>
           </li>

        </ul>
    </div> <!--/ul-->
    
        {% block simulatecontent %}
        <div class="span9">
            <div class="well">
            {% if all_models %}
              <h3> Select model to simulate </h3>
              </br>
              <form id="model_simulated" method="post" action="/simulate">
                  {% for item in all_models %}
                  <label class="radio">
                      <input type="radio" name="model_to_simulate" value={{ item.model.name }} checked>{{ item.model.name }}</input>
                      </br>
                  </label>
                  {% endfor %}
                  </br>
                  <button type="submit" class="btn-primary btn-large">Next&raquo;</button>
              </form>
            {% else %}
               <h2>There are no models in the system</h2> </br>
                <a style="font-size:18px;" href="/modeleditor"> Create a new model? </a>
            {% endif %}
        </div>
        {% endblock %}
        
        </div>
     </div> <!--/span9-->
 {% endblock %}
