{% extends "base.html" %}
{% block title%}Manage Datastore{% endblock %}
{% block content %}

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StochSS</a>
          <div class="btn-group pull-right">
            
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>test@example.com
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/signout">Sign Out</a></li>
            </ul>
            
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://www.stochss.org" target="_blank">About</a></li>
              <li><a href="mailto:stochss-users@googlegroups.com">Support</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 

       
 <div class="span9">

	<div class="row-fluid">

		<div class"span9">


<h3><a data-toggle="collapse" data-target="#optional"> List of Output Files </a> </h3>
<form name=myform>
	<select name="drop1" id="Select1" size="20"  style="width: 500px;" multiple="multiple">
	<option>JOB ID 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;URL 1
	<option>JOB ID 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;URL 2
	<option>JOB ID 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;URL 3
		</select> 
</form>


<button type="submit" class="btn btn-primary">
						KILL JOB
					</button>

<button type="submit" class="btn btn-primary">
						DELETE JOB
					</button>

<button type="submit" class="btn btn-primary">
						REFRESH PAGE
					</button>
					
			</div>

		
{% endblock %}
