{% extends "base.html" %}
{% block title%}Job Status{% endblock %}
{% block content %}

<!-- Script to check/unckeck all checkboxes -->
<script language="JavaScript">
    function toggle(source) {
        checkboxes = document.getElementsByName('select_job');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    </script>
<!--    -->

 <div class="span9">

	<div class="row-fluid">

		<div class"span9">

{% if all_jobs %}
<h2><a data-toggle="collapse" data-target="#optional"> Job Status </a></h2>
            <form class ="well form" action="/status" method="post">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th><input type="checkbox" onClick="toggle(this)"/></th><th>Job name </th><th>Status</th><th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in all_jobs %}
                    <tr>
                        <td><input type="checkbox" name="select_job" value="{{job.name}}"> </td>
                        <td>
                            <span>{{job.name}}</span>
                        </td>
                        <td>
                            {% if job.status == "Running" or job.status == "Finished"  %}
                            <span style="color: green" class="create_msg">{{job.status}}</span>
                            {% endif %}
                            {% if job.status == "Failed"%}
                            <span style="color: red" class="create_msg">{{job.status}}</span>
                            {% endif %}
                            {% if job.status == "Finished" %}
                            <td><a href="/output?job_name={{job.name}}">View results</a></td>
                            {% else %}
                                <td><span></span></td>
                            {% endif %}
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>

<button type="submit" class="btn btn-primary" name="delete">Delete Selected</button>
<button type="submit" class="btn btn-primary" name="refresh">Refresh</button>
</form>
{% else %}
<h2> There are no Jobs present in the system</h2>
{% endif %}
            
            {% if msg %}
            {% if status == False %}
            <span style="color: red" class="create_msg">{{msg}}</span>
            {% else %}
            <span style="color: green" class="create_msg">{{msg}}</span>
            {% endif %}
            {% endif %}
            
<!-- <form id="deleteForm" method="post" action="/modeleditor/delete">
    <input type="hidden" name="toDelete" />
    <input type="hidden" name="delete" value="1"/>
</form> -->
            
					
</div>
</div>
</div>

{% endblock %}
