{% extends "base.html" %}
{% block title%}Job Summary{% endblock %}
{% block content %}

<style type=text/css>
    span.thispage {font-size: 16px;}
    a.thispage {font-size: 16px;}
</style>

 <div class="span10">
	<div class="row-fluid">
		<div class="span10">
    
            <h2> Job summary: <span style="COLOR:green;">{{stochkit_job.name}}</span></h2>
            </br>
            <div class="well">
                        
            <h3>Job summary</h3>
                <span class="thispage">Type:</t> {{stochkit_job.type}} </span>
                </br>
                <span class="thispage"> Resource:</t> {{stochkit_job.resource}} </span>
                </br>
                <span class="thispage"> Number of trajectories: {{stochkit_job.realizations}}</span>
                </br>
                <span class="thispage"> Simulation endtime: {{stochkit_job.final_time}}</span>
                </br>
                <span class="thispage"> Stochkit input file: </span> <a href="/output/{{stochkit_job.uuid}}/{{stochkit_job.name}}.xml" class="thispage"> {{job_name}}.xml </a>
            </div>
            
            <!-- Show the mean and variances if they are present locally. -->
            {% if local_data %}
            <div class="well">
                <h3> Visualization </h3>
                <span class="thispage"><a href="/output/visualize?job_folder={{stochkit_job.output_location}}" class="thispage"> Plot trajectories</a>
                </br>
               </div>
            {% endif %}
            
            
            <div class="well">
            <form action="/output" method="post">
            <h3>Output</h3>
                </br>
                <span class="thispage"> Local path: {{stochkit_job.output_location}} </span>
                <!-- </br>
                <span> Available locally: True</span> -->
                </br>
                <!-- We show the output URL if it is a cloud job -->
                {% if stochkit_job.resource == "Cloud" %}
                <span class="thispage">Remote URL: </span><a href="{{stochkit_job.output_url}}" class="thispage">{{stochkit_job.output_url}}</a>
                {% endif %}
                </br></br>
                <!--  We show the export button if the output data is present locally -->
                {% if local_data %}
                {% endif %}
                
                <!--<input type="submit" class="btn btn-primary btn-large dropdown-toggle" value="Export"></a> -->
                <!-- We show the "Fetch remote" button if the job is a Cloud job and the local data is not present -->
                {% if stochkit_job.resource == "Cloud" and not local_data %}
                    <input name="fetch_remote" type="submit" class="btn btn-primary btn-large" value="Fetch Remote"></input>
                    <input type="hidden" name="job_name" value="{{job_name}}">
                {% endif %}
            </div>
            </form>
        </div>
</div>

{% if msg %}
{% if status == False %}
<span style="color: red" class="create_msg">{{msg}}</span>
{% else %}
<span style="color: green" class="create_msg">{{msg}}</span>
{% endif %}
{% endif %}

{% endblock %}
