{% extends "base.html" %}
{% block title%}Basic statistics{% endblock %}
{% block content %}

<div class="span9">
    <h2>Mean values</h2>
    <hr>
    </br>
    {% if meanstr %}
    <div class="well form" action="/output/visualize/" method="post">
        <span> Species: </span>
            <select name="species">
            {% for name in species_names %}
                <option value="{{name}}">{{name}}</option>
            {% endfor %}
            </select>
         <label>Trajectory number (show number of trajectories)</label><input type="text" value="1"></input>
        </br>
            <input type="submit" class="btn btn-primary btn-large" onclick="$.plot($('#placeholder'),[{{spec}}],{})" value="Plot">
        </div>
        <div id="placeholder" style="width:800px;height:400px;"></div>
    {% endif %}
    </div>
</div><!--/span-->


{% endblock %}


