{% extends "base.html" %}
{% block title%}Basic statistics{% endblock %}
{% block content %}
        <div class="span9">
            <h2>Mean values</h2>
            <hr>
            </br>
            {% if meanstr %}
            <div class="well form" action="/output/visualize/" method="post">
                <span> Time: </span>
                <select name="timepoint">
                    {% for time in tspan %}
                    <option value="{{time}}">{{time}}</option>
                    {% endfor %}
                </select>
                </br>
                {{meanstr}}
            </div>
            {% endif %}
        
              <ul class="thumbnails">
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
                  <li class="span3"><a href="#" class="thumbnail"><img src="http://placehold.it/300x200" alt=""></a></li>
              </ul>
          </div>
        </div><!--/span-->
{% endblock %}
