{% extends "base.html" %}
{% block title%}Manage Datastore{% endblock %}
{% block content %}

        
        <div class="span9">
          <div class="hero-unit">
              <p> A page that lets us browse content in the datastore,
              and perform operations such as rename, delete ensemble,
              export ensemble, export model etc. Maybe also "management"
              operations on ensembles such as merge/split?</p>

            <h2>Datastore</h2>
            <div class="well form" id="form">
              {% if results_present %}
                <label class="control-label" for="result">Results:</label>
                {% for result in results %}
                  <label class="radio">
                    <input type="radio" name="result_name" id="result_name"
                      value="{{result}}">
                    {{ result }}
                  </label>
                {% endfor %}
                <br />
                <br />
                <label id="result"></label>
                <br />
                <br />
                <button id="view" class="btn-primary btn-large">
                  View Results &raquo;
                </button>
              {% else %}
                <p>There are no entries in the Datastore. <a href="/createmodel"> Create a new model?</a>
              {% endif %}

            </div>
          </div>
        </div><!--/span-->
{% endblock %}
