{% extends "simulate.html" %}
{% block title%}Simulate{% endblock %}
{% block simulatecontent %}
<div class="row-fluid">
  <div class="span9">
    <div class="well well-large">
      <form id="submit_stochkit_ensemble" method="post" action="/simulate/newstochkitensemble">
        
        <h2> <a data-toggle="modal" href="#help_modal1" style="text-decoration: none">New StochKit2 Ensemble <i class="icon-question-sign"></i> </a>
          
          {% set help_modal_id = "help_modal1" %}
          {% set help_modal_title = "StochKit2 Ensemble" %}
          {% set help_modal_message = "A StochKit2 Ensemble is a collection of trajectories, or realizations, of a given model. Since the model is stochastic, each trajectory represents an independent sample of the model for the given parameters." %}
          {% include "help_modal.html" %}
          {{help_modal|safe}}
          
        </h2>
        Model Name: <h2>{{ model_to_simulate }}</h2>
        Units: <h3>{% if model_units == "concentration" %}Concentration{% else %}Population{% endif %}</h3>
        <hr />
        <label>Name:</label>
        <input type="text" class="span3" name="job_name" value="{{ job_name }}">
        
        <span class="help-block">The name that will be used to reference the ensemble.</span>
        <!--<h3>Required Parameters</h3>-->
        <br />
        <br />
        Simulation type
        <br />
        {% if model_units == "concentration" %}
        <input id="deterministic" type="radio" name="exec_type" value="deterministic" checked> Deterministic <br />
        {% elif model_units == "population" %}
        <input id="deterministic" type="radio" name="exec_type" value="deterministic"> Deterministic <br />
        <input id="stochastic" type="radio" name="exec_type" value="stochastic" checked> Stochastic
        {% else %}
        {% endif %}

        <br />
        <br />
        Simulation time
        <br />
        <input type="text" class="input-small" disabled="disabled" value="0">
        &nbsp; to &nbsp;
        <input type="text" class="input-small" name="time" value="{{ time }}">
        &nbsp; store state every &nbsp;
        <input type="text" class="input-small" name="increment" value="{{ increment }}"> &nbsp; time units.
        
        <span class="stochastic">
          <br />
          <label>Realizations</label>
          <input type="text" class="span3" name="realizations" value="{{ realizations }}">
          <span class="help-block">Number of realizations in this ensemble.</span>
        </span>
        <br />
        
        <!-- Optional parameters to the SSA and Tau-leaping solvers. -->
        <h3 class="advanced-settings">
          <a data-toggle="collapse" data-target="#advanced-settings">
            Advanced Settings&raquo;
          </a>
        </h3>
        
        <div id="advanced-settings" class="collapse advanced-settings">
            <div class="stochastic">
                Algorithm<br />
                {% if algorithm == "ssa" %}
                SSA <input id="ssa" type="radio" name="algorithm" value="ssa" checked><br />
                Tau-leaping <input id="tau-leaping" style="padding-left: 100px;" type="radio" name="algorithm" value="tau_leaping">
                {% else %}
                    SSA <input id="ssa" type="radio" name="algorithm" value="ssa"><br />
                    Tau-leaping <input id="tau-leaping" style="padding-left: 100px;" type="radio" name="algorithm" value="tau_leaping" checked>
                {% endif %}
              </div>

            <!--<div class="control-group">
                <label class="checkbox tau-leaping ssa">
                    <input type="checkbox" name="only-moments" value="only-moments">
                    Store only mean and variances
                </label>
                <label class="checkbox tau-leaping ssa">
                    <input type="checkbox" name="keep-histograms" value="keep-histograms">
                    Create histogram data
                </label>
            </div>-->
            
            <label class="tau-leaping ssa">Seed
                <input type="text" class="span3" name="seed" value="{{ seed }}">
                <span class="help-block">Seed the random number generator (leave empty for a random seed).</span>
            </label>
            
            <label class="tau-leaping">Threshold
                <input type="text" class="span3" name="threshold" value="{{ threshold }}">
                <span class="help-block">Set the threshold (minimum number of reactions per leap before switching to SSA) for tau leaping.</span>
            </label>
            
            <label class="tau-leaping">Epsilon
                <input type="text" class="span3" name="epsilon" value="{{ epsilon }}">
                <span class="help-block tau-leaping">Set the tolerance. Valid values: must be greater than 0.0 and less than 1.0.</span>
            </label>
        </div> <!-- Advanced settings -->
        
        <!-- Display status messages -->
        {% if msg %}
        <br>
        {% if status == False %}
        <span style="color: red">{{msg}}</span>
        {% else %}
        <span style="color: green">{{msg}}</span>
        {% endif %}
        {% endif %}
        <br>
        <br>

        <!-- Single button -->
        <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
        </div>

        {% if config['DISABLE_CLOUD'] == True %}
            <button type="submit" class="btn btn-primary btn-large" name="run_local"><i class="icon-laptop"></i> Run Locally </button>
            <button type="submit" class="btn btn-primary btn-large" name="run_cloud"><i class="icon-cloud"></i> Run via Cloud</button>
        {% endif %}
        
    </form>
    
    <!-- Prevent Submission on pressing enter -->
    <script>
      document.getElementById('submit_stochkit_ensemble').addEventListener('keypress', function(event) {
      if (event.keyCode == 13) {
      event.preventDefault();
      }
      });
    </script>

  </div> <!-- well -->
</div> <!-- span -->
<div class="span3">
  {% if model_to_simulate  %}
  <h3>You are simulating:<h3>
      <p style="COLOR: green; font-size:26px;"> {{model_to_simulate}}</p>
      <a href="/simulate">Select another model</a>
      {% endif %}
</div>
</div>

<script src="/static/js/jquery-1.8.3.js"></script>
<script type="text/javascript">
    var handle_type = function() {
    if( $( "#deterministic" )[0].checked )
    {
    $( ".advanced-settings" ).hide();
    $( ".stochastic" ).hide()
    $( ".tau-leaping" ).hide()
    $( ".ssa" ).hide()
    $( ".ode" ).show()
    } else {
    $( ".advanced-settings" ).show();
    $( ".ode" ).hide()
    handle_algo();
    $( ".stochastic" ).show()
    }
    };
   
    var handle_algo = function() {
    if( $( "#tau-leaping" )[0].checked )
    {
    $( ".ssa" ).hide()
    $( ".tau-leaping" ).show()
    }else{
    $( ".tau-leaping" ).hide()
    $( ".ssa" ).show()
    }
    };

    $( "#stochastic, #deterministic" ).change(handle_type);
    $( "#ssa, #tau-leaping" ).change(handle_algo);

    handle_type();
</script>

{% endblock %}
