- var name = htmlWebpackPlugin.options.name
- var bundleUrl = "/static/stochss-" + name + ".bundle.js"
- var commonBundleUrl = "/static/stochss-common.bundle.js"
html
  head
    meta(charset="UTF-8")
    link(rel="shortcut icon" href="/hub/static/favicon.ico")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css")
    title StochSS: Stochastic Simulation Service
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
  body
    script(type="text/javascript", src=bundleUrl)
    script(type="text/javascript", src=commonBundleUrl)
