div#deterministic-settings.card.card-body

  h5 Advanced Settings

  table.table
    thread
      tr
        th(scope="col", colspan="2") Relative Tolerance

      tr
        td(colspan="2"): div(data-hook="relative-tolerance-container") Relative tolerance of the ODE solver (CVODES).  Valid valeus must be greater than 0.0:  

    thread
      tr
        th(scope="col", colspan="2") Absolute Tolerance

      tr
        td(colspan="2"): div(data-hook="absolute-tolerance-container") Absolute Tolerance of the ODE solver (CVODES).  Valid values must be greater than 0.0:  