div#model-version-editor(data-hook="model-version-editor-container")

  div(data-hook="species-editor-container")
  
  div(data-hook="parameters-editor-container")
  
  div(data-hook="reactions-editor-container")

  div(data-hook="run-model-container")

  div(data-hook="model-state-buttons-container")
