div.reaction-details(data-hook="reaction-details-container")

  
  div.col-md-12(data-hook="select-reaction-type")

  div.col-md-12(data-hook="select-rate-parameter")

  div.row(data-hook="stoich-species-container")
    div.col-md-6(data-hook="reactants-editor")
      h5 Reactants
      //div
    div.col-md-6(data-hook="products-editor")
      h5 Products
      //div

