div#species-editor.card.card-body

  div.row

    h3 Species Editor

    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-species", data-hook="collapse") +

  div.collapse(class="show", id="collapse-species")

    table.table
      thead
        tr
          th(scope="col") Name
          th(scope="col") Diffusion Coefficient
          th(scope="col") Active in Subdomains
          th(scope="col") Remove
        
      tbody(data-hook="specie-list")

    button.btn.btn-outline-primary(data-hook="add-species", type="button")
      | Add Species

