div#stochastic-settings.card.card-body

  table.table
    thread
      tr
        th(scope="col") Realizations
      tr
        td: div(data-hook="realizations-container")

  h5
    button.btn.btn-link(data-toggle='collapse', data-target='#advanced-settings')
      |Advanced Settings

  div(id='advanced-settings', class='collapse')
    table.table
      thread
        tr
          th(scope="col", colspan="3") Algorithm

        tr
          td
            input(type="radio", name="algorithm", data-hook="algorithm-select", data-name="SSA", checked) 
            |  SSA

          td
            input(type="radio", name="algorithm", data-hook="algorithm-select", data-name="Tau-Leaping")
            |  Tau-leaping

          td
            input(type="radio", name="algorithm", data-hook="algorithm-select", data-name="Hybrid-Tau-Leaping")
            |  Hybrid Tau-Leaping

    div(data-hook="algorithm-settings-container")