{% extends "statuspage.html" %}
{% block title%}Manage Datastore{% endblock %}
{% block content %}

        
 <div class="span9">

	<div class="row-fluid">

		<div class"span9">

			<div class="menubar">
				<ul class="nav nav-tabs">
					<li>
						<a href="/status/statusinfo" TITLE = "Shows the status of your jobs">Status</a>
					</li>
					<!-- <li><a href="/modeleditor/overview">Overview</a></li> -->
					<li>
						<a href="/modeleditor/specieseditor" TITLE = "Shows the running VMs">Credentials</a>
					</li>
                    
						</ul>
					
			</div>
		
{% endblock %}
