tr
  td
    input(type="radio", data-hook="select", name="reaction-select")
  td
    input(type="input", data-hook="name")
  td
    span(data-hook="summary")
  td
    button.btn.btn-outline-secondary(data-hook="remove") X
