div(data-hook="reaction-details")

  h5=this.fieldTitle

  div(data-hook="reactants-editor")

  div(data-hook="collapse", class="collapse")
    div.row(data-hook="add-specie-container")
      div(data-hook="select-specie")
      button.btn.btn-outline-secondary(class="btn-sm", data-hook="add-selected-specie") add