{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block csscontent %}<link href="/static/css/admin_panel.css" rel="stylesheet">{% endblock %}

{% block content %}
<div class="active span7">
    <h1>Admin Panel</h1>
    <br>
    <div class="users well well-large">
        <h3>Users</h3>
        <table class="table table-bordered active-usr-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in active_users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email_address }}</td>
                    <td>
                        {% if not user.is_admin_user() %}
                        <button class="btn btn-warning table-action-button" data-action="reset">Reset Password</button>
                        {% if user.email_address in users_waiting_approval %}
                        <button class="btn btn-success table-action-button" data-action="approve">Activate Account</button>
                        {% else %}
                        <button class="btn btn-danger table-action-button" data-action="revoke">Revoke Permissions</button>
                        {% endif %}
                        <button class="btn btn-danger table-action-button" data-action="delete">Delete</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </div>
</div>

{% endblock %}

{% block jscontent %}<script src="/static/js/admin_page.js"></script>{% endblock %}
