{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block csscontent %}<link href="/static/css/admin_panel.css" rel="stylesheet">{% endblock %}

{% block content %}
<div class="active span7">
    <h1>Manage users</h1>
    <br>
    <div class="users well well-large">
        <h3>Users</h3>
        <table class="table table-bordered active-usr-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in active_users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email_address }}<BR>
                    {% if user.verified %}
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <div width=100% align=right>
                    <i align=right>verified</i>
                    </div>
                    {% endif %}
                    </td>
                    <td>
                        {% if user.is_admin_user() %}
                        Admin
                        {% else %}
                        <button class="btn btn-warning table-action-button" data-action="reset">Reset Password</button>
                        {% if user.email_address in users_waiting_approval %}
                        <button class="btn btn-success table-action-button" data-action="approve">Approve Account</button>
                        {% else %}
                        <button class="btn btn-danger table-action-button" data-action="revoke">Revoke Account</button>
                        {% endif %}
                        <button class="btn btn-danger table-action-button" data-action="delete">Delete</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if preapproved_users|length %}
        <h3>Pre-approved Users</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in preapproved_users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user }}</td>
                    <td>
                        <button class="btn btn-danger table-action-button" data-action="revoke_preapproved">Revoke Access</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<div class="span3">
    <div class="well well-large">
        <form id='approve-user-form' action="/admin" method="post">
            <fieldset>
                <legend>Pre-approve User</legend>
                <label>Type an e-mail address in the box below to add a pre-approved user:</label>
                <input style="display: none;" name="action" value="preapprove">
                <input name="email" type="email" placeholder="example@example.com" required>
                <button id="grant-access-button" class="btn btn-primary btn-large" type="submit">Pre-approve User</button>
            </fieldset>
        </form>
    </div>
</div>
<div class="span3">
    <div class="well well-large">
            <form id="verification-method-form" action="/admin" method="post">
            <input style="display: none;" name="action" value="change_verification_method">
            <h3>User Verification Method</h3>
            <table class="table table-bordered"><tbody>
            <TR><TD>
            {% if admin_approval_required %}
            Require Admin approval of all users: </TD><TD>
            <button class="btn btn-success table-action-button" type=submit name="admin_approval_required"  value="Yes">Yes</button>
            {% else %}
            Require Admin approval of all users:</TD><TD>
            <button class="btn btn-danger table-action-button" type=submit name="admin_approval_required" value="No">No</button>
            {% endif %}</TD></TR><TR><TD>
            Sending of verification email:</TD><TD> 
            {% if email_setup %}
            <B>Enabled</B>
            {% else %}
            <B>NOT configured</B>
            {% endif %}
            </TD></TR><TR><TD>
            Require Users to have verified email address:</TD><TD>
            {% if email_verification_required %}
            <button class="btn btn-success table-action-button" type=submit name="email_verification_required"  value="Yes">Yes</button>
            {% else %}
            <button class="btn btn-danger table-action-button" type=submit name="email_verification_required" value="No" {% if not email_setup %}disabled{% endif %}>No</button>
            {% endif %}
            </TD></TR>
    </div>
</div>
{% endblock %}

{% block jscontent %}<script src="/static/js/admin_page.js"></script>{% endblock %}
