<!-- <!DOCTYPE html> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>StochSS: {% block title %}Stochastic Simlation Service{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }

      .sidebar-nav {
        padding: 9px 0;
        font-size: 14px;
      }

      .nav {
        font-size: 16px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {% block csscontent %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
</head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StochSS</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user.name }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://www.stochss.org" target="_blank">About</a></li>
              <li><a href="https://docs.google.com/document/d/1QdbIE0Ja7q4yAK31vmj9SlF51WMPKdKrLwmyDXbUw7c/pub?embedded=true" target="_blank">User Manual</a></li>
              <li><a href="mailto:stochss-users@googlegroups.com">Contact</a></li>
                
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- container fluid -->
      </div><!-- navbar inner -->
    </div><!-- navbar fixed -->

    <div class="container-fluid">
      
      <div class="row-fluid">
          
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-beaker"></i>Modelling</li>
                  <li><a href="/modeleditor" TITLE = "Create/Import models">Model editor</a></li>
    
              <li class="nav-header"><i class="icon-play"></i> Simulation</li>
                <li><a href="/simulate" TITLE = "Configure and submit simulations">Simulation manager</a></li>
                <li><a href="/status" TITLE = "Monitor the progress of a simulation">Job Status</a></li>

              <li class="nav-header"><i class="icon-cog"></i> Settings</li>
                  <li><a href="/credentials" TITLE = "Set AWS credentials and manage computational resources in the cloud">Cloud computing</a></li>
                  <li><a href="/localsettings" TITLE = "Configure local plugins">Local plugins</a></li>
              <li><a href="/updates" TITLE = "Check for available updates">Check For Updates</a></li>


            </ul>
          </div><!--/.well -->
        </div><!--/span2-->
          {% block content %}
          {% endblock %}
      </div><!--/row-->

      </hr>

            
      <footer>
        <p></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- -->
    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/flot/jquery.flot.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/custom.js"></script>


    {% block jscontent %}{% endblock %}

  </body>
</html>
