{% extends "base.html" %}
{% block title%}Cost Analysis{% endblock %}
{% block content %}

<div class="span9">
    <div class="row-fluid">
	<div class"span9">
            <h2>Cost Analysis for {{jobname}}</h2>
            </br>

            Bucket Name: {{bucketname}}<br/>
            File Name: {{filename}}<br/><br/>

            Running Time: {{running_time}} seconds<br/>
            Dataset Size: {{size}} bytes<br/><br/>

            Estimated Cost to Compute: ${{compute_cost}}<br/>
            Estimated Cost to Store in S3: ${{storage_cost}} / day<br/><br/>

        </div>
    </div>
</div>

{% endblock %}
