{% extends "base.html" %}
{% block title%}Manage Cluster Credentials{% endblock %}
{% block content %}
<div class="span9" id="cluster">
        <h1>Cluster Computing</h1>
        <br>
  <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;">Cluster Credentials Management</a></h2>

    <br />

    <div class="">
      <form id="upload_cluster_node_key_form">
        <label for="keyfile_to_upload"><h3>Upload Cluster Private Keys:</h3></label>
        <input type="file" name="files[]" id="keyfile_to_upload" multiple />
      </form>
    </div>

    <div id="cluster_ssh_key_table_div_loading"><h4>Loading SSH keys...</h4></div>
    <div id="cluster_ssh_key_table_div" class="container-fluid" style="display:none;">
      <div class="table-repsonsive pull-left span10" style="margin-left: 0px">

        <table class="pull-left table table-striped table-bordered" id="cluster_ssh_key_table_table">
          <thead>
            <tr>
              <th>Key Name</th>
              <th class="span3"></th>
            </tr>
          </thead>
          <tbody id="cluster_ssh_key_table">
          </tbody>
        </table>
      </div>
    </div>
    <div id="clusterKeyMsg"></div>

  </div>
  <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;">Cluster Submit Node Info</a></h2>
    <div>
      <form id="cluster_node_info_form">

        <div>
          <table style="table-layout: fixed; width: 100%" class="table">
            <thead>
              <tr>
                <th width="100px">IP Address</th>
                <th width="100px">Username</th>
                <th>SSH Key Name</th>
                <!--<th width="100px">Queue Head</th>-->
                <!--<th width="100px">State</th>-->
              </tr>
            </thead>
            <!--{% if is_cluster_info_set %}-->
            <!--<script>-->
              <!--setTimeout(function(){-->
                   <!--window.location.reload();-->
              <!--}, 30000);-->
            <!--</script>-->
            <!--{% endif %}-->
              <tbody id="cluster_info_table">

              {% if is_cluster_info_set %}
                  {% set i = 0 %}
                  {% for node in cluster_node_info %}
                  <tr id="{{i}}">
                    <td> {{ node['ip'] }} </td>
                    <td>{{ node['username'] }} </td>
                    <td style="word-wrap: break-word">{{cluster_ssh_key_info[node['key_file_id']]['keyname']}}</td>
                    <td><button onclick=saveClusterInfoExceptMe("{{i}}");><i class='icon-trash'></i> Delete</button></td>
                  </tr>
                  {% set i = i + 1 %}
                {% endfor %}
              {% endif %}
                <tr id="form_row">
                  <td><input class="input-small" type="text" placeholder="IP address" name="ip" id="ip" value=""/></td>
                  <td><input class="input-small" type="text" placeholder="Username" name="username" id="username" value=""</td>
                  <td>
                    <select name="keyname">
                      <option value="" disabled selected>Select a key</option>
                        {% for cluster_ssh_key_id in cluster_ssh_key_info %}
                          <option value="{{ cluster_ssh_key_id }}" selected>{{ cluster_ssh_key_info[cluster_ssh_key_id]['keyname'] }}</option>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </form>
      <!--<button id="append_cluster_node" class="btn btn-primary btn-default" disabled><i class="icon-plus"></i></button>-->
      <!--<button id="delete_cluster_node" class="btn btn-primary btn-default" disabled><i class="icon-minus"></i></button>-->
      <button id="append_cluster_node" class="btn btn-primary btn-default"><i class="icon-plus"></i></button>
      <!--<button id="delete_cluster_node" class="btn btn-primary btn-default"><i class="icon-minus"></i></button>-->

      <br />
      <br />

      <!-- Display status messages -->
      {% if cluster_status == True %}
      <span id="clusterInfoMsg" class="alert alert-success">{{cluster_info_msg}}</span>
      {% elif cluster_status == False %}
      <span id="clusterInfoMsg" class="alert alert-error">{{cluster_info_msg}}</span>
      {% else %}
      <span id="clusterInfoMsg" class="alert alert-success" style="display: none;"></span>
      {% endif %}

      {% if cluster_validation_error_message %}
      <script> alert( "{{cluster_validation_error_message}}" ) </script>
      {% endif %}

    </div>
  </div>
  <div class="pull-left">
      <button id="submit_info_button" class="btn btn-primary btn-large" style="color: white; text-decoration: none">
       <i class="icon-cloud"></i> Save
      </button>
  </div>
</div>
{% endblock %}

{% block jscontent%}

<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>

<script type="text/javascript" src="/static/js/fileserver.js"></script>
<script src="/static/js/cluster_credentials.js"></script>
<script src="/static/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>

<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/credentials.css">


<script type="text/javascript">
  function saveClusterInfoExceptMe(data){
    var table = document.getElementById("cluster_info_table");
    table.deleteRow(data);
    save_cluster_info();
  }
</script>

{% endblock%}


