{% extends "base.html" %}
{% block title%}Cost Analysis{% endblock %}
{% block content %}

<div class="span9">
    <div class="row-fluid">
	<div class"span9">
            <h2>Cost Analysis</h2>
            </br>
            Machine Type: {{instance_type}}<br/>
            Running Time: {{running_time}}<br/>
            Dataset Size: {{size}}<br/><br/>

            Estimated Cost to Compute: ${{compute_cost}}<br/>
            <table>
                <tr>
                    <td>Estimated Cost to Store in S3:</td>
                    <td>${{storage_cost_month}} / month</td>
                </tr>
                    <td></td>
                    <td>${{storage_cost_day}} / day</td>
                </tr>
            </table>     
            <br/><br/>
        </div>
    </div>
</div>

{% endblock %}
