{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}

<div class="span9">
        <h1>Cloud Computing</h1>
        <br>
        <div class="well well-large">

        <font size="4em">Select a cloud computing infrastructure:</font>

        <br>
        <br>
        <table class="table">
            <tr>
                <td><h3><a href="/molnsconfig">MOLNs Cloud <i class="icon-share"></i></a></h3></td><td></td>
            </tr>
            {% if active_vms %}
            <tr>
                <td><h3><a href="/ec2Credentials">Amazon AWS Cloud <i class="icon-share"></i></a></h3></td><td class="alert alert-success">Amazon AWS Cloud running</td>
            </tr>
            <tr>
                <td><h3>Flex Cloud (advanced users only)</h3></td><td class="alert">Flex Cloud cannot be used while Amazon AWS Cloud is in use</td>
            </tr>
            {% elif is_flex_cloud_info_set %}
            <tr>
                <td><h3>Amazon AWS Cloud</h3></td><td class="alert">Amazon AWS Cloud cannot be used while Flex Cloud is in use</td>
            </tr>
            <tr>
                <td><h3><a href="/flexCloudCredentials">Flex Cloud (advanced users only) <i class="icon-share"></i></a></h3></td><td class="alert alert-success">Flex Cloud running</td>
            </tr>
            {% else %}
            <tr>
                <td><h3><a href="/ec2Credentials">Amazon AWS Cloud <i class="icon-share"></i></a></h3></td><td></td>
            </tr>
            <tr>
                <td><h3><a href="/flexCloudCredentials">Flex Cloud (advanced users only) <i class="icon-share"></i></a></h3></td><td></td>
            </tr>
            {% endif %}
        </table>
  </div>

{% endblock %}




