{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}

<div class="span9"> <!-- Because of the row-fluid in base.html -->

<div class="span9">
<div class="well well-large">

<form id="credentials" action="/credentials" method="post">
    
    <h2><a data-toggle="modal" class="show" href="#help_modal1" style="text-decoration: none;">AWS Credentials <i class="icon-question-sign"></i> </a></h2>
        
    {% set help_modal_id = "help_modal1" %}
    {% set help_modal_title = "AWS Credentials" %}
    {% set help_modal_message = "In order to use cloud computing resources, you need to enter your personal credentials for Amazon Web Services (AWS). You can obtain the credentials from the AWS control panel after logging in to you AWS account." %}
    {% include "help_modal.html" %}
    {{help_modal|safe}}
</h2>
    
<label> Access Key </label>
{% if active_vms == False %}
<input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}">
<label> Secret Key </label>
<input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}">
<br><br>
<button type="submit" class="btn btn-primary btn-large" name="save" style="float:bottom;"><i class="icon-save"></i> Save credentials</button>
{% else %}
<input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}" disabled>
<label> Secret Key </label>
<input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}" disabled>
<br><br>
<button type="submit" class="btn btn-primary btn-large" name="save" style="float:bottom;" disabled><i class="icon-save"></i> Save credentials</button>
{% endif %}
<!-- Display status messages -->
{% if credentials_msg %}
</br></br>
{% if status == False %}
<span style="color: red">{{credentials_msg}}</span>
{% else %}
<span style="color: green">{{credentials_msg}}</span>
{% endif %}
{% endif %}
</form>
</div>
</div>

<div class="span9">
<div class="well well-large">
<form id="start_vms" action="/credentials" method="post">
    
<h2><a data-toggle="modal" href="#help_modal2" style="text-decoration: none">Compute nodes <i class="icon-question-sign"></i></a>
    {% set help_modal_id = "help_modal2" %}
    {% set help_modal_title = "Compute nodes" %}
    {% set help_modal_message = "Computes nodes are computers in the Cloud that come preconfigured to run the simulations you
    configure in the app. You can launch one or more such compute nodes by filling in the number of nodes in the box and clicking the Launch button. In this version of StochSS, we use t1.micro instances in Amazon EC2 so that you can use your free usage tier with AWS to evaluate the app, consult your AWS account for details."   %}
    {% include "help_modal.html" %}
    {{help_modal|safe}}
</h2>
<br>
<h2>Launch new compute nodes</h2>
<label> Number of nodes </label>
<input class="span3" type="text" name="vm_number" TITLE="Enter a value less than 20" />
{% if starting_vms %}
<br><button id="start_btn" class="btn btn-primary btn-large" name="start"  disabled><i class="icon-cloud"></i> Launching Nodes... </button>
    <script>setTimeout(function(){location.reload();},10000);</script>
{% elif valid_credentials and (not number_pending or number_pending == 0)%}
<br><button id="start_btn" class="btn btn-primary btn-large" name="start"><i class="icon-cloud"></i> Launch nodes </button>
{% else %}
<br><button id="start_btn" class="btn btn-primary btn-large" name="start" disabled><i class="icon-cloud"></i> Launch nodes </button>
{% endif %}
<!-- Display status messages -->
{% if msg %}
</br></br>
{% if status == False %}
<span style="color: red">{{msg}}</span>
{% else %}
<span style="color: green">{{msg}}</span>
{% endif %}
{% endif %}

<hr>


<h3> Status of VMs: </h3>

<!-- Display the status of the VMs -->
{% if active_vms == False %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> There are no active compute nodes.  </span>
{% endif %}
    
{% if number_running %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> Running: {{number_running}}  
</span>
{% endif %}
<br>
{% if number_pending %}
&nbsp;&nbsp;<span style="color:red; font-size: 16px" class="create_msg"> Pending: {{number_pending}}
</span>
{% endif %}
    
<!-- Display error messages related to VMs -->
{% if vm_status_msg %}
</br></br>
{% if vm_status == False %}
<span style="color: red">{{vm_status_msg}}</span>
{% else %}
<span style="color: green">{{vm_status_msg}}</span>
{% endif %}
{% endif %}
    
    
<br>
<br>

<button type = "submit" class="btn btn-primary btn-large" name="refresh"><i class="icon-refresh"></i> Refresh status</button>
{% if active_vms %}
<button type = "submit" class="btn btn-primary btn-large" name="stop" value="Stop all VMs"><i class="icon-ban-circle"></i> Stop all nodes </button>
{% else %}
<button type = "submit" class="btn btn-primary btn-large" name="stop" value="Stop all VMs" disabled><i class="icon-ban-circle"></i> Terminate all nodes </button>
{% endif %}
</form>
</div>
</div>
    
    </div>

{% endblock %}
