{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}

<div class="span9"> <!-- Because of the row-fluid in base.html -->

<div class="span9">
<div class="well well-large">

<form id="credentials" action="/credentials" method="post">
    
    <h2><a data-toggle="modal" class="show" href="#help_modal1" style="text-decoration: none;">AWS Credentials <i class="icon-question-sign"></i> </a></h2>
        
    {% set help_modal_id = "help_modal1" %}
    {% set help_modal_title = "AWS Credentials" %}
    {% set help_modal_message = "In order to use cloud computing resources, you need to enter your personal credentials for Amazon Web Services (AWS). You can obtain the credentials from the AWS control panel after logging in to you AWS account." %}
    {% include "help_modal.html" %}
    {{help_modal|safe}}
</h2>
    
<label> Access Key </label>
{% if active_vms == False %}
<input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}">
<label> Secret Key </label>
<input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}">
<br><br>
<button type="submit" class="btn btn-primary btn-large" name="save" style="float:bottom;"><i class="icon-save"></i> Save credentials</button>
{% else %}
<input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}" disabled>
<label> Secret Key </label>
<input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}" disabled>
<br><br>
<button type="submit" class="btn btn-primary btn-large" name="save" style="float:bottom;" disabled><i class="icon-save"></i> Locked, nodes running</button>
{% endif %}
<!-- Display status messages -->
{% if credentials_msg %}
</br></br>
{% if status == False %}
<span style="color: red">{{credentials_msg}}</span>
{% else %}
<span style="color: green">{{credentials_msg}}</span>
{% endif %}
{% endif %}
</form>
</div>
</div>

<div class="span9">
<div class="well well-large">
<form id="start_vms" action="/credentials" method="post">
    
<h2><a data-toggle="modal" href="#help_modal2" style="text-decoration: none">Compute nodes <i class="icon-question-sign"></i></a>
    {% set help_modal_id = "help_modal2" %}
    {% set help_modal_title = "Compute nodes" %}
    {% set help_modal_message = "Computes nodes are computers in the Cloud that come preconfigured to run the simulations you
    configure in the app. You can launch one or more such compute nodes by filling in the number of nodes in the box and clicking the Launch button. In this version of StochSS, we use t1.micro instances in Amazon EC2 so that you can use your free usage tier with AWS to evaluate the app, consult your AWS account for details."   %}
    {% include "help_modal.html" %}
    {{help_modal|safe}}
</h2>
<br>
<h2>Launch new compute nodes</h2>
<fieldset>
    <h3> Compute Power: </h3>
    <table>
        <tr>
            <td><input type="radio"  name="compute_power" value="small" checked/></td>
            <td>&nbsp;&nbsp;<span style="font-size:110%">Small (1 ＊ c3.large node)</span></td>
        </tr>
        <tr>
            <td><input type="radio"  name="compute_power" value="medium" /></td>
            <td>&nbsp;&nbsp;<span style="font-size:110%">Medium (1 ＊ c3.xlarge node)</span></td>
        </tr>
        <tr>
            <td><input type="radio"  name="compute_power" value="large" /></td>
            <td>&nbsp;&nbsp;<span style="font-size:110%">Large (1 ＊ c3.2xlarge node)</span></td>
        </tr>
    </table>
</fieldset>

<h3 class="advanced-settings">
    <a data-toggle="collapse" data-target="#advanced-settings" onclick="set_basic();">
        More Nodes >>
    </a>
</h3>

<div id="advanced-settings" class="collapse advanced-settings">
{% if active_vms == False%}
<label> .</label>
<label> Since there is no node running, <span style="color:red">need to choose at least one head node </span> and zero or more follow-up nodes.</label>
{% else%}
<label> Choose one or more follow-up nodes.</label>
{% endif%}

<table>
{% if active_vms == False%}
<tr>
    <h3> Head Nodes: </h3>
    <table>
        <tr>
            <td>c3.large</td>
            <td><input class="span3" type="number" name="num_c3.large" placeholder="[1-20]" /></td>
        </tr>
        <tr>
            <td>c3.xlarge</td>
            <td><input class="span3" type="number" name="num_c3.xlarge" placeholder="[1-20]" /></td>
        </tr>
    </table>
</tr>
{% endif%}
<tr>
    <table>
    <tr><h3> Follow-up Nodes: </h3></tr>
    <tr>
    <td>
    <table>
        <tr>
            <td>t1.micro</td>
            <td><input class="span3" type="number" name="num_t1.micro" placeholder="[1-20]" /></td>
        </tr>
        <tr>
            <td>m1.small</td>
            <td><input class="span3" type="number" name="num_m1.small" placeholder="[1-20]" /></td>
        </tr>
    </table>
    </td>
    <td>
    <table>
        <tr>
            <td>m3.medium</td>
            <td><input class="span3" type="number" name="num_m3.medium" placeholder="[1-20]" /></td>
        </tr>
        <tr>
            <td>m3.large</td>
            <td><input class="span3" type="number" name="num_m3.large" placeholder="[1-20]" /></td>
        </tr>
    </table>
    </td>
    </tr>
    </table>
</tr>
</table>
</div>

<!--
<div id="vm_number_type_block">
<span>
    <input class="span3" type="number" name="vm_number0" placeholder="[1-20]" />
    <select name="vm_type0">
        <option value="t1.micro">t1.micro</option>
        <option value="m1.small">m1.small</option>
        <option value="m1.medium">m1.medium</option>
        <option value="m3.medium">m3.medium</option>
        <option value="c3.large" selected>c3.large</option>
    </select>
</span>
</div>
-->

{% if starting_vms and status != 'Failure'%}
<br><button id="start_btn" class="btn btn-primary btn-large" name="start"  disabled><i class="icon-cloud"></i> Launching Nodes... </button>
   <!-- <script>setTimeout(function(){location.reload();},10000); </script>-->
{% elif valid_credentials and (not number_pending or not not number_creating or number_creating == 0 or number_pending == 0)%}
<br><button id="start_btn" class="btn btn-primary btn-large" name="start"><i class="icon-cloud"></i> Launch nodes </button>
{% else %}
<br><button id="start_btn" class="btn btn-primary btn-large" name="start" disabled><i class="icon-cloud"></i> Launch nodes </button>
{% endif %}



</form>

<!--
<button id="add_btn" name="add_btn" onclick="addMoreVms()" > + </button>
<button id="del_btn" name="del_btn" onclick="deleteVms()" > - </button>
-->


<!-- Display status messages -->
{% if msg %}
<br>
{% if status == 'Failure' %}
&nbsp;&nbsp;<span style="color: red">{{msg}}</span>
{% else %}
&nbsp;&nbsp;<span style="color: green">{{msg}}</span>
{% endif %}
<br>
{% endif %}

<hr>

<h3> Status of VMs: </h3>

<!-- Display the status of the VMs -->
{% if active_vms == False %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> There are no active compute nodes.  </span>
{% endif %}


{% if number_creating %}
&nbsp;&nbsp;<span style="color:red; font-size: 16px" class="create_msg"> Creaing: {{number_creating}}
</span>
<br>
{% endif %}
{% if number_pending %}
&nbsp;&nbsp;<span style="color:red; font-size: 16px" class="create_msg"> Pending: {{number_pending}}
</span>
<br>
{% endif %}
{% if number_running %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> Running: {{number_running}}
</span>
<br>
{% endif %}
{% if number_failed %}
&nbsp;&nbsp;<span style="color: green;font-size: 16px" class="create_msg"> Failed: {{number_failed}}
</span>
{% endif %}
    
<!-- Display error messages related to VMs -->
{% if vm_status_msg %}
</br></br>
{% if vm_status == False %}
<span style="color: red">{{vm_status_msg}}</span>
{% else %}
<span style="color: green">{{vm_status_msg}}</span>
{% endif %}
{% endif %}
    
    
<br>
<br>

<form id="refresh_vms" action="/credentials" method="post">
<button type = "submit" class="btn btn-primary btn-large" name="refresh"><i class="icon-refresh"></i> Refresh status</button>
&nbsp;&nbsp;&nbsp;&nbsp;
{% if active_vms %}
<button type = "submit" class="btn btn-primary btn-large" name="stop" value="Stop all VMs"><i class="icon-ban-circle"></i> Stop all nodes </button>
{% else %}
<button type = "submit" class="btn btn-primary btn-large" name="stop" value="Stop all VMs" disabled><i class="icon-ban-circle"></i> Terminate all nodes </button>
{% endif %}
</form>
</div>
</div>
    
    </div>

{% endblock %}

{% block jscontent%}
<script type="text/javascript">
    function set_basic(){
        var compute_power = document.getElementsByName("compute_power");
        if (!$('#advanced-settings').hasClass("in")){
            for(i = 0; i < compute_power.length; i++){
                compute_power[i].removeAttribute('checked');
                compute_power[i].setAttribute('disabled', true);
            }
        }else{
            
            for(i = 0; i < compute_power.length; i++){
                compute_power[i].removeAttribute('disabled');
            }
            compute_power[0].setAttribute('checked', true);
        }
    }
    
</script>
{% endblock%}


