{% extends "base.html" %}
{% block title%}Manage Credentials{% endblock %}
{% block content %}

<div class="span9">
    <div class="well well-large">

        <form id="credentials" action="/ec2Credentials" method="post">
            
            <h2><a data-toggle="modal" class="show" href="#help_modal1" style="text-decoration: none;">
                    AWS Credentials <i class="icon-question-sign"></i>
            </a></h2>
            
            {% set help_modal_id = "help_modal1" %}
            {% set help_modal_title = "AWS Credentials" %}
            {% set help_modal_message = "In order to use cloud computing resources, you need to enter your personal credentials for Amazon Web Services (AWS). You can obtain the credentials from the AWS control panel after logging in to you AWS account." %}
            {% include "help_modal.html" %}
            {{help_modal|safe}}

            <label> Access Key </label>
            {% if active_vms == False %}
            <input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}" autocomplete="off">
            <label> Secret Key </label>
            <input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}" autocomplete="off">
            <br><br>
            <button type="submit" class="btn btn-primary btn-large" name="ec2_save_creds" style="float:bottom;">
                <i class="icon-save"></i> Save credentials
            </button>
            {% else %}
            <input class="span3" type="text" name="ec2_access_key" value="{{EC2_ACCESS_KEY}}" disabled>
            <label> Secret Key </label>
            <input class="span3" type="text" name="ec2_secret_key" value="{{EC2_SECRET_KEY}}" disabled>
            <br><br>
            <button type="submit" class="btn btn-primary btn-large" name="ec2_save_creds" style="float:bottom;" disabled><i class="icon-save"></i> Locked, nodes running</button>
            {% endif %}
            <!-- Display status messages -->
            {% if credentials_msg %}
            <br><br>
            {% if credentials_status == False %}
            <span class="alert alert-error">{{credentials_msg}}</span>
            {% else %}
            <span class="alert alert-success">{{credentials_msg}}</span>
            {% endif %}
            {% endif %}
        </form>
    </div>

    <div class="well well-large">
        <form id="start_vms" action="/ec2Credentials" method="post">
            
            <h2><a data-toggle="modal" href="#help_modal2" style="text-decoration: none">Compute nodes <i class="icon-question-sign"></i></a>
                {% set help_modal_id = "help_modal2" %}
                {% set help_modal_title = "Compute nodes" %}
                {% set help_modal_message = "Computes nodes are computers in the Cloud that come preconfigured to run the simulations you
                configure in the app. You can launch one or more such compute nodes by either choosing the default nodes (c3.large) or filling in the number of nodes in the box under the specific nodes in advance setting and clicking the Launch button. The configuration of different node types can be found here: http://aws.amazon.com/ec2/instance-types/" %}
                {% include "help_modal.html" %}
                {{help_modal|safe}}
            </h2>
            <br>
            <h2>Launch new compute nodes</h2>
            <fieldset>
                <!--<h3> Compute Power: </h3>-->
                <table>
                    <tr>
                        <td><input type="radio"  name="compute_power" value="small" checked/></td>
                        <td>&nbsp;&nbsp;<span style="font-size:120%">Launch one node</span></td>
                    </tr>
                    <!--
                        <tr>
                            <td><input type="radio"  name="compute_power" value="small" checked/></td>
                            <td>&nbsp;&nbsp;<span style="font-size:110%">Small (1 ＊ c3.large node)</span></td>
                        </tr>
                    <tr>
                        <td><input type="radio"  name="compute_power" value="medium" /></td>
                        <td>&nbsp;&nbsp;<span style="font-size:110%">Medium (1 ＊ c3.xlarge node)</span></td>
                    </tr>
                    <tr>
                        <td><input type="radio"  name="compute_power" value="large" /></td>
                        <td>&nbsp;&nbsp;<span style="font-size:110%">Large (1 ＊ c3.2xlarge node)</span></td>
                    </tr>-->
                </table>
            </fieldset>

            <h3 class="advanced-settings">
                <a data-toggle="collapse" data-target="#advanced-settings" onclick="set_basic();" style="cursor: pointer;text-decoration: none;">
                    Advanced Settings &raquo;
                </a>
            </h3>

            <div id="advanced-settings" class="collapse advanced-settings">
                {% if running_vms == False%}
                <label> Since there is no node running, <span style="color:red">need to choose at least one head node </span> and zero or more follow-up nodes.</label>
                {% else%}
                <label> Choose one or more follow-up nodes.</label>
                {% endif%}

                <table>
                    {% if running_vms == False or not valid_credentials %}
                    <tr>
                        <h3> Head Nodes: </h3>
                        <input type="radio"  name="head_node" value="radio_c3.large" onclick="show_follow_ups();"> c3.large </input>
                        <input type="radio"  name="head_node" value="radio_c3.xlarge" onclick="show_follow_ups();"> c3.xlarge </input>
                    </tr>

                    {% endif%}
</br>
                    <tr>
                        {% if running_vms == False or not valid_credentials %}
                        <table id="follow_ups" hidden>
                            {% else %}
                            <table>
                                {% endif %}
                                <tr><td><h3> Compute Nodes: </h3></td></tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                                            <tr>
                                                <th>Type</th><th>Number</th>
    	                                    <tr>
    		                                <td>t1.micro</td>
                                                <td><input class="span3" style="width: 55pt;" type="number" name="num_t1.micro" placeholder="[1-20]" /></td>
    	                                    </tr>
                                            <tr>
    		                                <td>m1.small</td>
                                                <td><input class="span3" style="width: 55pt;" type="number" name="num_m1.small" placeholder="[1-20]" /></td>  
                                            </tr>
                                            <tr>
    		                                <td>m3.medium</td>
                                                <td><input class="span3" style="width: 55pt;" type="number" name="num_m3.medium" placeholder="[1-20]" /></td>           
                                            </tr>
                                            <tr>
    		                                <td>m3.large</td>
                                                <td><input class="span3" style="width: 55pt;" type="number" name="num_m3.large" placeholder="[1-20]" /></td>            
                                            </tr>
                                            <tr>
    		                                <td>c3.large</td>
                                                <td><input class="span3" style="width: 55pt;" type="number" name="num_c3.large" placeholder="[1-20]" /></td>            
                                            </tr>
                                            <tr>
    		                                <td>c3.xlarge</td>
                                                <td><input class="span3" style="width: 55pt;" type="number" name="num_c3.xlarge" placeholder="[1-20]" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                    </tr>
                    </table>
            </div>

            <!--
                <div id="vm_number_type_block">
                    <span>
                        <input class="span3" type="number" name="vm_number0" placeholder="[1-20]" />
                        <select name="vm_type0">
                            <option value="t1.micro">t1.micro</option>
                            <option value="m1.small">m1.small</option>
                            <option value="m1.medium">m1.medium</option>
                            <option value="m3.medium">m3.medium</option>
                            <option value="c3.large" selected>c3.large</option>
                        </select>
                    </span>
                </div>
                -->

            <!-- <script>setTimeout(function(){location.reload();},10000); </script>-->
            {% if valid_credentials and not starting_vms and ((not number_pending or not number_creating) and (number_creating == 0 and number_pending == 0))%}
            <br><button id="start_btn" class="btn btn-primary btn-large" name="ec2_start"><i class="icon-cloud"></i> Launch nodes </button>
            {% elif not valid_credentials %}
            <br><button id="start_btn" class="btn btn-primary btn-large" name="ec2_start" disabled><i class="icon-cloud"></i> Launch nodes </button>
            {% else %}
            <br><button id="start_btn" class="btn btn-primary btn-large" name="ec2_start"  disabled><i class="icon-cloud"></i> Launching nodes... </button>
            {% endif %}



        </form>

        <!--
            <button id="add_btn" name="add_btn" onclick="addMoreVms()" > + </button>
            <button id="del_btn" name="del_btn" onclick="deleteVms()" > - </button>
            -->


        <!-- Display status messages -->
        {% if msg %}
        {% if not status %}
        &nbsp;&nbsp;<span class="alert alert-error">{{msg}}</span>
        {% else %}
        &nbsp;&nbsp;<span class="alert alert-success">{{msg}}</span>
        {% endif %}
        <br>
        {% endif %}

        <hr>

        <h3> Status of VMs: </h3>

        <!-- Display the status of the VMs -->
        {% if active_vms == False %}
        <div class="alert alert-success" class="create_msg"> There are no active compute nodes.</div>
        {% endif %}
        
        {% if number_running %}
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <tr>
    	        <td> <b>Node Type</b> </td>
    	        <td width="75pt">t1.micro</td>
    	        <td width="75pt">m1.small</td>
    	        <td width="75pt">m3.medium</td>
    	        <td width="75pt">m3.large</td>
    	        <td width="75pt">c3.large</td>
    	        <td width="75pt">c3.xlarge</td>
            </tr>
            <tr>
                <td> <b>Running Number</b> </td>
                <td style="color:green;">{{running_instances["t1.micro"]}}</td>    
                <td style="color:green;">{{running_instances["m1.small"]}}</td>           
                <td style="color:green;">{{running_instances["m3.medium"]}}</td>            
                <td style="color:green;">{{running_instances["m3.large"]}}</td>            
                <td style="color:green;">{{running_instances["c3.large"]}}</td>
                <td style="color:green;">{{running_instances["c3.xlarge"]}}</td>
            </tr>      
        </table>
        {% endif %}
        {% if number_creating %}
        <div class="alert create_msg"> Creating {{number_creating}} nodes(s)</div>
        {% endif %}
        {% if number_pending %}
        <div class="alert create_msg"> {{number_pending}} node(s) pending: </div>
        {% endif %}
        {% if number_failed %}
        <div class="alert alert-error create_msg"> {{number_failed}} node(s) failed </div>
        {% endif %}
        
        <!-- Display error messages related to VMs -->
        {% if vm_status_msg %}
        {% if vm_status == False %}
        <div class="alert alert-error">{{vm_status_msg}}</div>
        {% else %}
        <div class="alert alert-success">{{vm_status_msg}}</div>
        {% endif %}
        {% endif %}
        
        <form id="refresh_vms" action="/ec2Credentials" method="post">
            <button type = "submit" class="btn btn-primary btn-large" name="ec2_refresh"><i class="icon-refresh"></i> Refresh Status</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if active_vms %}
            <button type = "submit" class="btn btn-primary btn-large" name="ec2_stop" value="Stop all VMs"><i class="icon-ban-circle"></i> Stop all nodes </button>
            {% else %}
            <button type = "submit" class="btn btn-primary btn-large" name="ec2_stop" value="Stop all VMs" disabled><i class="icon-ban-circle"></i> Terminate all nodes </button>
            {% endif %}
        </form>
    </div>
</div>


{% endblock %}


{% block jscontent%}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.js"></script>

<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/js/fileserver.js"></script>
<script src="/static/js/credentials.js"></script>
{% endblock%}


