{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}
{% block csscontent %}<link href="/static/css/exportimport.css" rel="stylesheet">{% endblock %}
{% block content %}

<!-- Script to check/unckeck all checkboxes -->
<script language="JavaScript">
  function toggleStochKitJobs(source) {
    var checkboxes = document.getElementsByName('select_stochkit_job');
    for (var i=0, n=checkboxes.length; i<n; i++) {
      checkboxes[i].checked = source.checked;
    }
  }
  function toggleSensitivityJobs(source) {
    var checkboxes = document.getElementsByName('select_sensitivity_job');
    for (var i=0, n=checkboxes.length; i<n; i++) {
      checkboxes[i].checked = source.checked;
    }
  }
</script>

<div class="span9">
    <div class="row-fluid">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Export</a></li>
                <li><a href="#tab2" data-toggle="tab">Import</a></li>
            </ul>
            <div class="tab-content">
                
                <div class="tab-pane active" id="tab1">
                    <div class="well well-large">
                        <h3> Export a Backup Archive </h3>
                        <form action="/export" method="post">
                            <fieldset>
                                {% if stochkit_jobs %}
                                <legend class="cloud-legend">Select the cloud jobs whose output data you want to include in the archive.</legend>
                                <div class="control-group">
                                    <label class="control-label" for="stochkit-jobs-table">Cloud StochKit Jobs:</label>
                                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='stochkit-jobs-table'>
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" onClick="toggleStochKitJobs(this)"/></th>
                                                <th>Job type </th>
                                                <th>Job name </th>
                                                <th>Output size </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for job in stochkit_jobs %}
                                            <tr>
                                                <td><input type="checkbox" name="select_stochkit_job" value="{{job.name}}"> </td>
                                                <td><span>{{job.exec_type}}</span></td>
                                                <td><span>{{job.name}}</span></td>
                                                <td><span>{{job.size}}</span></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    {% if sensitivity_jobs %}
                                    <div class="control-group">
                                        <label class="control-label" for="sensitivity-jobs-table">Cloud Sensitivity Jobs:</label>
                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='sensitivity-jobs-table'>
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" onClick="toggleSensitivityJobs(this)"/></th>
                                                    <th>Job name </th>
                                                    <th>Output size </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for job in sensitivity_jobs %}
                                                <tr>
                                                    <td><input type="checkbox" name="select_sensitivity_job" value="{{job.name}}"> </td>
                                                    <td><span>{{job.name}}</span></td>
                                                    <td><span>{{job.size}}</span></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                    {% if stochoptim_jobs %}
                                    <div class="control-group">
                                        <label class="control-label" for="sensitivity-jobs-table">Cloud StochOptim Jobs:</label>
                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id='sensitivity-jobs-table'>
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" onClick="toggleSensitivityJobs(this)"/></th>
                                                    <th>Job name </th>
                                                    <th>Output size </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for job in stochoptim_jobs %}
                                                <tr>
                                                    <td><input type="checkbox" name="select_sensitivity_job" value="{{job.name}}"> </td>
                                                    <td><span>{{job.name}}</span></td>
                                                    <td><span>{{job.size}}</span></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endif %}
                                    <div class="form-actions">
                                        <button class="btn-primary btn-large" id="export">Export</button>
                                    </div>
                            </fieldset>
                        </form>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="tab2">
                        <div class="well well-large">
                            <h3> Import a Backup Archive </h3>
                            <br />

                            1. Upload an archive:
                            <br />
                            <br />
                            <input id="fileupload" type="file" name="files[]" multiple>
                            <div id="progresses"></div>
                            <!-- The global progress bar -->

                            <div id="archiveSelectDiv" style="display: none;">
                                <br />

                                2. Select an archive to import:
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="40pt"></th>
                                            <th width="40pt">Select</th>
                                            <th>Archive Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="archiveSelect">
                                    </tbody>
                                </table>

                                <br />

                                3. Verify overwrite behavior: <br />
                                When importing new data with the same name as old data already in database,
                                <select id="overwriteType">
                                    <option value="keepOld">keep old data</option>
                                    <option value="overwriteOld">overwrite with new data</option>
                                    <!--<option value="renameOld">rename old data</option>-->
                                    <option value="renameNew">rename new data</option>
                                </select>
                                .

                                <br />
                                <br />

                                4. Select members of the archive to import:
                                <table id="importTable" width="100%">
                                    <tr class="modelContainerTr">
                                        <th>Models</th>
                                    </tr>
                                    <tr class="modelContainerTr">
                                        <td valign="top">
                                            <table  cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="40pt">Import</th>
                                                        <th>Model</th>
                                                        <th width="100pt">Type</th>
                                                        <th width="100pt">Version</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="modelContainer">
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="stochkitContainerTr">
                                        <th>Stochkit Jobs</th>
                                    </tr>
                                    <tr class="stochkitContainerTr">
                                        <td valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="40pt">Import</th>
                                                        <th>Job name</th>
                                                        <th width="100pt">Type</th>
                                                        <th width="100pt">Version</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="stochkitJobContainer">
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="sensitivityContainerTr">
                                        <th>Sensitivity Jobs</th>
                                    </tr>
                                    <tr class="sensitivityContainerTr">
                                        <td valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="40pt">Import</th>
                                                        <th>Job name</th>
                                                        <th width="100pt">Version</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="sensitivityJobContainer">
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="stochOptimContainerTr">
                                        <th>StochOptim Jobs</th>
                                    </tr>
                                    <tr class="stochOptimContainerTr">
                                        <td valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="40pt">Import</th>
                                                        <th>Job name</th>
                                                        <th width="100pt">Version</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="stochOptimJobContainer">
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                                <button class="btn-primary btn-large" id="import">Import</button>
                            </div>			    
                        </div>
                    </div>

                    {% if isAdminUser %}
                    <input id="globalOp" type="checkbox">Operate on all system data (admin only)
                    {% endif %}
                    <div id="msg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<link rel="stylesheet" href="/static/css/nv.d3.css">

<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/js/canvas2image.js"></script>
<script type="text/javascript" src = "/static/js/splot.js"></script>
<script type="text/javascript" src = "/static/js/d3.v3.js"></script>
<script type="text/javascript" src = "/static/js/nv.d3.js"></script>
<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<script type="text/javascript" src = "/static/importMain.js"></script>
<script type="text/javascript" src = "/static/js/version_compare.js"></script>
{% endblock %}
