{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}

{% block content %}

<!-- Script to check/unckeck all checkboxes -->
<script language="JavaScript">
  function toggle(source) {
    checkboxes = document.getElementsByName('select_job');
    for (var i=0, n=checkboxes.length; i<n; i++) {
      checkboxes[i].checked = source.checked;
    }
  }
</script>

<div class="span9">
    <div class="row-fluid">
        <div class"span9">
            <div class="span9">
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">Export</a></li>
                  <li><a href="#tab2" data-toggle="tab">Import</a></li>
                </ul>
                <div class="tab-content">
        
                  <div class="tab-pane active" id="tab1">
                    <div class="well well-large">
                      <h3> Export a Backup Archive </h3>
                      <form action="/export" method="post">
                      {% if cloud_jobs %}
                        <br />
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th><input type="checkbox" onClick="toggle(this)"/></th>
                              <th>Job type </th>
                              <th>Job name </th>
                              <th>Output size </th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for job in cloud_jobs %}
                            <tr>
                              <td><input type="checkbox" name="select_job" value="{{job.name}}"> </td>
                              <td><span>{{job.exec_type}}</span></td>
                              <td><span>{{job.name}}</span></td>
                              <td><span>{{job.size}}</span></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      {% endif %}
                        <br />
                        {% if isAdminUser %}
                        <input id="globalOp" type="checkbox"> Operate on all system data (admin only)
                        {% endif %}
                        <button class="btn-primary btn-large" id="export">Export</button>
                      </form>
                      <br />
                    </div>
                  </div>
                  
                  <div class="tab-pane" id="tab2">
                    <div class="well well-large">
                      <h3> Import a Backup Archive </h3>

                      1. Upload an archive:
                      <br />
                      <input id="fileupload" type="file" name="files[]" multiple>
                      <div id="progresses"></div>
                      <!-- The global progress bar -->

                      <div id="archiveSelectDiv" style="display: none;">
                          <br />

                          2. Select an archive to import:
                          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                              <thead>
                                  <tr>
                                      <th width="40pt"></th>
                                      <th width="40pt">Select</th>
                                      <th>Archive Name</th>
                                  </tr>
                              </thead>
                              <tbody id="archiveSelect">
                              </tbody>
                          </table>

                          <br />
                          <br />

                          3. Select members of the archive to import:
                          <table id="importTable" width="100%">
                              <tr class="modelContainerTr">
                                  <th>Models</th>
                              </tr>
                              <tr class="modelContainerTr">
                                  <td valign="top">
                                      <table>
                                      </table>
                                      <table  cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%">
                                          <thead>
                                              <tr>
                                                  <th width="40pt">Import</th>
                                                  <th>Model</th>
                                                  <th>Type</th>
                                              </tr>
                                          </thead>
                                          <tbody id="modelContainer">
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                              <tr class="stochkitContainerTr">
                                  <th>Stochkit Jobs</th>
                              </tr>
                              <tr class="stochkitContainerTr">
                                  <td valign="top">
                                      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" width="100%">
                                          <thead>
                                              <tr>
                                                  <th width="40pt"></th>
                                                  <th>Job name</th>
                                                  <th>Type</th>
                                              </tr>
                                          </thead>
                                          <tbody id="stochkitJobContainer">
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                              <tr class="sensitivityContainerTr">
                                  <th>Sensitivity Jobs</th>
                              </tr>
                              <tr class="sensitivityContainerTr">
                                  <td valign="top">
                                      <table width="100%" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered>">
                                          <thead>
                                              <tr>
                                                  <th width="40pt"></th>
                                                  <th>Job name</th>
                                              </tr>
                                          </thead>
                                          <tbody id="sensitivityJobContainer">
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                          <br />
                          <button class="btn-primary btn-large" id="import">Import</button>
                      </div>
                      <br />
                      <div id="msg"></div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<link rel="stylesheet" href="/static/css/nv.d3.css">

<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/js/canvas2image.js"></script>
<script type="text/javascript" src = "/static/js/splot.js"></script>
<script type="text/javascript" src = "/static/js/jquery.jqplot.js"></script>
<script type="text/javascript" src = "/static/js/d3.v3.js"></script>
<script type="text/javascript" src = "/static/js/nv.d3.js"></script>
<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<script type="text/javascript" src = "/static/importMain.js"></script>
{% endblock %}
