{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}

{% block content %}
<div class="span9">
    <div class="row-fluid">
        <div class"span9">
            <div class="span9">
                <div class="well">
                    {% if isAdminUser %}
                    <input id="globalOp" type="checkbox"> Operate on all system data (admin only)
                    {% endif %}
                    <table width="100%">
                        <tr>
                            <td valign="top" width="50%">
                                <h3> Export a Backup Archive </h3>
                                <br />
                                <button class="btn-primary btn-large" id="export">Export</button>
                                <br />
                            </td>
                            <td valign="top" width="50%">
                                <h3> Import a Backup Archive </h3>

                                1. Upload an archive:
                                <br />
                                <input id="fileupload" type="file" name="files[]" multiple>
                                <div id="progresses"></div>
                                <!-- The global progress bar -->

                                <div id="archiveSelectDiv" style="display: none;">
                                    <br />

                                    2. Select an archive to import:
                                    <select id="archiveSelect"></select>

                                    <br />
                                    <br />

                                    3. Select members of the archive to import:
                                    <table id="importTable" width="100%">
                                        <tr>
                                            <th>Models</th>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table>
                                                </table>
                                                <table width="100%" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th></th><th>Model</th><th>Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="modelContainer">
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Stochkit Jobs</th>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table width="100%" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th></th><th>Job name</th><th>Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="stochkitJobContainer">
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Sensitivity Jobs</th>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table width="100%" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th></th><th>Job name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="sensitivityJobContainer">
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <br />
                                    <button class="btn-primary btn-large" id="import">Import</button>
                                </div>
                                <br />
                                <div id="msg"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<link rel="stylesheet" href="/static/css/nv.d3.css">

<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/js/canvas2image.js"></script>
<script type="text/javascript" src = "/static/js/splot.js"></script>
<script type="text/javascript" src = "/static/js/jquery.jqplot.js"></script>
<script type="text/javascript" src = "/static/js/d3.v3.js"></script>
<script type="text/javascript" src = "/static/js/nv.d3.js"></script>
<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<script type="text/javascript" src = "/static/importMain.js"></script>
{% endblock %}
