{% block content %}
<div class="tab-pane" id="flex_cloud">
    <div class="span11">
    <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;"><i class="icon-key"></i> SSH Keys for Flex Machines</a></h2>

    <br />

    <div class="">
    <form id="upload_flex_machine_key_form">
      <label for="keyfile_to_upload"><h3>Upload SSH Key File:</h3></label>
      <input type="file" name="files[]" id="keyfile_to_upload" multiple />
    </form>
    </div>

    {% if flex_ssh_key_info != [] %}

    <div class="container-fluid">
    <h3><a href="#" style="text-decoration: none;">Exisiting SSH Keys for Flex Machines in StochSS</a></h3>
    <br />

      <div class="table-responsive pull-left">

      <table class="table table-striped table-bordered" id="flex_ssh_key_table_table">
        <thead>
          <tr>
            <th>Key Name</th>
            <th width="50px"></th>
          </tr>
        </thead>
        <tbody id="flex_ssh_key_table">
        </tbody>
      </table>
      <span id="flexKeyMsg"></span>

      </div>
    </div>

    {% endif %}

    </div>
    </div>

    <div class="span11">
    <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;">Flex Cloud Machine Info</a></h2>
      <div>

      <form id="flex_cloud_machine_info_form">

      <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>IP Address</th>
          <th>Username</th>
          <th>SSH Key Name</th>
          <th>Queue Head</th>
          <th>State</th>
        </tr>
      </thead>

        <tbody id="flex_cloud_machine_info_table">
          {% if is_flex_cloud_info_set %}

            {% for machine in flex_cloud_machine_info %}

              <tr class="row12">
                <td class="span2">{{machine['ip']}} </td>
                <td class="span2">{{machine['username']}} </td>
                <td class="span2">{{machine['keyname']}}</td>
                {% if machine['queue_head'] == True %}
                <td class="span2"><input type="checkbox" checked readonly/></td>
                {% else %}
                <td class="span2"><input type="checkbox" readonly/></td>
                {% endif %}
                <td class="span2">{{machine['state']}}</td>
              </tr>
            {% endfor %}

          {% else %}
            {% for machine in flex_cloud_machine_info %}

              <tr name='flex_cloud_machine_info[]' class="row12">
                <td class="span2"><input type="text" placeholder="IP address" name="ip" id="ip" value="{{ machine['ip'] }}"/></td>
                <td class="span2"><input type="text" placeholder="Username" name="username" id="username" value="{{ machine['username'] }}"/></td>
                <td class="span2">
                  <select name="keyname">
                    <option value="" disabled selected>Select a key</option>
                    {% for flex_ssh_key in flex_ssh_key_info %}
                      <option value="{{ flex_ssh_key['id'] }}">{{ flex_ssh_key['keyname'] }}</option>
                    {% endfor %}
                  </select>
                </td>

                {% if machine['queue_head'] == True %}
                <td class="span2"><input type="radio" name="queue_head" id="queue_head" checked/></td>
                {% else %}
                <td class="span2"><input type="radio" name="queue_head" id="queue_head" /></td>
                {% endif %}

                <td class="span2"><span name="state"></span></td>
               </tr>
            {% endfor %}

          {% endif %}

        </tbody>
      </table>
      <span id="flexCloudInfoMsg"></span>
      </div>

      </form>

      {% if is_flex_cloud_info_set %}
        <a id="append_flex_cloud_machine" class="btn btn-primary btn-default" disabled><i class="icon-plus"></i> Add Machine</a>
        <a id="delete_flex_cloud_machine" class="btn btn-primary btn-default" disabled><i class="icon-minus"></i> Delete Machine</a>
      {% else %}
        <a id="append_flex_cloud_machine" class="btn btn-primary btn-default"><i class="icon-plus"></i> Add Machine</a>
        <a id="delete_flex_cloud_machine" class="btn btn-primary btn-default"><i class="icon-minus"></i> Delete Machine</a>
      {% endif %}

      <br />
      <br />

      <!-- Display status messages -->
      {% if flex_cloud_info_msg %}
        {% if flex_cloud_status == False %}
          <span style="color: red">ERROR: {{flex_cloud_info_msg}}</span>
        {% else %}
          <span style="color: green">{{flex_cloud_info_msg}}</span>
        {% endif %}
      {% endif %}

      {% if flex_validation_error_message %}
        <script> alert( "{{flex_validation_error_message}}" ) </script>
      {% endif %}

      </div>
      </div>

      <div class="pull-left">
      {% if is_flex_cloud_info_set %}

        <a class="btn btn-primary btn-large" style="color: white; text-decoration: none" href="javascript: prepare_flex_cloud()" disabled>
          <i class="icon-cloud"></i> Deploy
        </a>

        <a class="btn btn-primary btn-large" style="color: white; text-decoration: none" href="javascript: deregister_flex_cloud()">
          <i class="icon-trash"></i>  Stop
        </a>

      {% else %}

        <a class="btn btn-primary btn-large" style="color: white; text-decoration: none" href="javascript: prepare_flex_cloud()">
          <i class="icon-cloud"></i> Deploy
        </a>

        <a class="btn btn-primary btn-large" style="color: white; text-decoration: none" href="javascript: deregister_flex_cloud()" disabled>
          <i class="icon-trash"></i>  Stop
        </a>
      {% endif %}


      </div>

      <div class="pull-right">
        <a class="btn btn-success btn-large" style="color: white; text-decoration: none" href="javascript: refresh_flex_cloud_info()">
          <i class="icon-refresh"></i> Refresh
        </a>
      </div>

    </div>
 </div>
{% endblock %}
