{% block content %}
<div class="tab-pane" id="flex_cloud">
    <div class="span11">
    <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;">Flex Cloud Machine Info</a></h2>
      <div>

      <form id="flex_cloud_machine_info_form">
      <div class="table-responsive">
      <table id="flex_cloud_machine_info_table">
      <tbody>
        <tr name='info[]' class="row12">
          <td><input type="text" placeholder="IP address" name="ip" id="ip" /></td>
          <td><input type="text" placeholder="Username" name="username" id="username" /></td>
          <td><input type="text" placeholder="Keyfile Location" name="keyfile" id="keyfile" /></td>
          <td><input type="checkbox" name="queue_head" id="queue_head" onClick="javascript: uncheck_other_queue_head_checkboxes(this)" /> Queue Head</td>
        </tr>
        </tbody>
      </table>
      </div>

      </form>
      <a id="append_flex_cloud_machine" class="btn btn-primary btn-default"><i class="icon-plus"></i> Add Machine</a>
      <a id="delete_flex_cloud_machine" class="btn btn-primary btn-default"><i class="icon-minus"></i> Delete Machine</a>
      <br />
      <br />

      <!-- Display status messages -->
      {% if flex_cloud_info_msg %}
        {% if flex_cloud_status == False %}
          <span style="color: red">ERROR: {{flex_cloud_info_msg}}</span>
        {% else %}
          <span style="color: green">{{flex_cloud_info_msg}}</span>
        {% endif %}
      {% endif %}

      </div>

      <br />
      <a class="btn btn-primary btn-large" style="color: white; text-decoration: none" href="javascript: save_flex_cloud_info()">
        <i class="icon-save"></i> Save Info
      </a>

      <a class="btn btn-primary btn-large" style="color: white; text-decoration: none" href="javascript: prepare_flex_cloud()">
        Prepare
      </a>


    </div>
    </div>
 </div>
{% endblock %}
