{% extends "base.html" %}
{% block title%}Manage Flex Credentials{% endblock %}
{% block content %}
<div class="col-sm-9 col-md-9" id="flex_cloud">
        <h1>Cloud Computing</h1>
        <br>
  <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;">Flex Cloud Management</a></h2>

    <br />

    <div class="">
      <form id="upload_flex_machine_key_form">
        <label for="keyfile_to_upload"><h3>Upload Flex Cloud Private Keys:</h3></label>
        <input type="file" name="files[]" id="keyfile_to_upload" multiple />
      </form>
    </div>

    <div id="flex_ssh_key_table_div_loading"><h4>Loading SSH keys...</h4></div>
    <div id="flex_ssh_key_table_div" class="container-fluid" style="display:none;">
      <div class="table-repsonsive pull-left span10" style="margin-left: 0px">

        <table class="pull-left table table-striped table-bordered" id="flex_ssh_key_table_table">
          <thead>
            <tr>
              <th>Key Name</th>
              <th class="span3"></th>
            </tr>
          </thead>
          <tbody id="flex_ssh_key_table">
          </tbody>
        </table>
      </div>
    </div>
    <div id="flexKeyMsg"></div>

  </div>

  <div class="well well-large">
    <h2><a href="#" style="text-decoration: none;">Flex Cloud Machine Info</a></h2>
    <div>

      <form id="flex_cloud_machine_info_form">

        <div>
          <table  class="table">
            <thead>
              <tr>
                <th>IP Address</th>
                <th>Username</th>
                <th>SSH Key Name</th>
                <th>Queue Head</th>
                <th>State</th>
              </tr>
            </thead>
            {% if is_flex_cloud_info_set %}
            <script>
            setTimeout(function(){
               window.location.reload();
            }, 30000);
            </script>
            {% endif %}
            <tbody id="flex_cloud_machine_info_table">
              {% if is_flex_cloud_info_set %}

              {% for machine in flex_cloud_machine_info %}

              <tr>
                <td>{{machine['ip']}} </td>
                <td>{{machine['username']}} </td>
                <td style="word-wrap: break-word">{{flex_ssh_key_info[machine['key_file_id']]['keyname']}}</td>
                {% if machine['queue_head'] == True %}
                <td><center><i class="icon-ok"></i></center></td>
                {% else %}
                <td></td>
                {% endif %}
                {% if machine['state'] %}
                <td>{{ machine['state'].title() }}</td>
                {% else %}
                <td>N/A</td>
                {% endif %}
              </tr>
              {% endfor %}

              {% else %}
              {% for machine in flex_cloud_machine_info %}

              <tr name='flex_cloud_machine_info[]'>
                <td><input class="input-small" type="text" placeholder="IP address" name="ip" id="ip" value="{{ machine['ip'] }}"/></td>
                <td><input class="input-small" type="text" placeholder="Username" name="username" id="username" value="{{ machine['username'] }}"/></td>
                <td>
                  <select name="keyname">
                    <option value="" disabled selected>Select a key</option>
                    {% for flex_ssh_key_id in flex_ssh_key_info %}
                    {% if machine['key_file_id'] and (machine['key_file_id'] == flex_ssh_key_id) %}
                    <option value="{{ flex_ssh_key_id }}" selected>{{ flex_ssh_key_info[flex_ssh_key_id]['keyname'] }}</option>
                    {% else %}
                    <option value="{{ flex_ssh_key_id }}">{{ flex_ssh_key_info[flex_ssh_key_id]['keyname'] }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </td>

                {% if machine['queue_head'] == True %}
                <td><center><i class="icon-ok"></i></center></td>
                {% else %}
                <td></td>
                {% endif %}

                <td><span name="state"></span></td>
              </tr>
              {% endfor %}

              {% endif %}

            </tbody>
          </table>
        </div>

      </form>

      {% if is_flex_cloud_info_set %}
      <button id="append_flex_cloud_machine" class="btn btn-primary btn-default" disabled><i class="icon-plus"></i></button>
      <button id="delete_flex_cloud_machine" class="btn btn-primary btn-default" disabled><i class="icon-minus"></i></button>
      {% else %}
      <button id="append_flex_cloud_machine" class="btn btn-primary btn-default"><i class="icon-plus"></i></button>
      <button id="delete_flex_cloud_machine" class="btn btn-primary btn-default"><i class="icon-minus"></i></button>
      {% endif %}

      <br />
      <br />

      <!-- Display status messages -->
      {% if flex_cloud_status == True %}
      <span id="flexCloudInfoMsg" class="alert alert-success">{{flex_cloud_info_msg}}</span>
      {% elif flex_cloud_status == False %}
      <span id="flexCloudInfoMsg" class="alert alert-error">{{flex_cloud_info_msg}}</span>
      {% else %}
      <span id="flexCloudInfoMsg" class="alert alert-success" style="display: none;"></span>
      {% endif %}

      {% if flex_validation_error_message %}
      <script> alert( "{{flex_validation_error_message}}" ) </script>
      {% endif %}

    </div>
  </div>

  <div class="pull-left">
    {% if is_flex_cloud_info_set %}

    <button id="prepare_flex_button" class="btn btn-primary btn-large" style="color: white; text-decoration: none" disabled>
      <i class="icon-cloud"></i> Deploy
    </button>

    <button id="deregister_flex_button" class="btn btn-primary btn-large" style="color: white; text-decoration: none">
      <i class="icon-trash"></i>  Stop
    </button>

    {% else %}

    <button id="prepare_flex_button" class="btn btn-primary btn-large" style="color: white; text-decoration: none">
      <i class="icon-cloud"></i> Deploy
    </button>

    <button id="deregister_flex_button" class="btn btn-primary btn-large" style="color: white; text-decoration: none" disabled>
      <i class="icon-trash"></i>  Stop
    </button>
    {% endif %}


  </div>

  <div class="pull-right">
    <button id="refresh_flex_button" class="btn btn-success btn-large" style="color: white; text-decoration: none">
      <i class="icon-refresh"></i> Refresh
    </button>
  </div>

</div>
{% endblock %}

{% block jscontent%}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>

<script type="text/javascript" src="/static/js/fileserver.js"></script>
<script src="/static/js/credentials.js"></script>
<script src="/static/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>

<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/credentials.css">
{% endblock%}


