{% extends "base.html" %}
{% block title%}Import Model from SBML{% endblock %}
{% block content %}
{% block csscontent %}
<link href="/static/modelEditor/app.css" rel="stylesheet">
{% endblock %}

<div class="span9">
    <div class="well well-large">
      <h3>Import From SBML</h3>
      <form action="/importFromSBML" enctype="multipart/form-data" method="post">
        Please specify an SBML file to import:<br>
        <input type="file" name="datafile" size="40" required>
        <button type="submit">Submit</button>
	{% if status == False %}
	<br><br>
	<div id="msg" class="alert alert-error">{{ msg }}</div>
	{% endif %}
      </form>
</div>

{% endblock %}
