{% extends "base.html" %}
{% block title%}Local Settings{% endblock %}
{% block content %}

<div class="span9">
    
    <div class="page-header">
        <h1>Configure local plugins</h1>
    </div>
    
    <div class="well">
        <form id="env_variables" action="/localsettings" method="post">
            <h3>STOCHKIT HOME DIRECTORY:</h3>
            <p>Enter the absolute path to the folder where StochKit2.0.7 is located in your local filesystem.</p>
            <input name="STOCHKIT_HOME" value="{{STOCHKIT_HOME}}"/>&nbsp;&nbsp;&nbsp;&nbsp;  </br></br>
        <button name="save" class="btn btn-primary btn-large" type="submit"><i class="icon-save"></i> Save settings </button>
        </form>
    </div>
    </div><!--/span-->
{% endblock %}