{% extends "login_base.html" %}

{% block csscontent %}<link href="/static/css/login.css" rel="stylesheet">{% endblock %}

{% block content %}
  {% if authError %}
    <p class="alert">An error occurred with the authentication process. Did you deny access?</p>
  {% elif unauthorizedError %}
    <p class="alert alert-danger">You have not been authorized to access StochSS.</p>
  {% endif %}
  
  <div class="span3 offset4 well">
    <h4>Please Log In To Continue</h4>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="email@example.com">
      <input type="password" name="password" placeholder="password">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
  </div>
  <div class="span3 offset4 well">
    <h4>Request An Account</h4>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="email@example.com">
      <input type="hidden" name="request_account" value="True">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
{% endblock %}