{% extends "login_base.html" %}
{% block title %}Login{% endblock %}
{% block csscontent %}<link href="/static/css/login.css" rel="stylesheet">{% endblock %}

{% block content %}
  {% if error_alert %}
    <p class="alert alert-danger">{{alert_message}}</p>
  {% elif success_alert %}
    <p class="alert alert-success">{{alert_message}}</p>
  {% endif %}

   <!-- Top content -->
        <div class="top-content">
          
            <div class="inner-bg">

                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>StochSS</h1>
                            <!-- <div class="description">
                              <p>
                               This is a free test deployment of StochSS. Use it to get familiar with the software and its capabilities, but be adviced that we leave no guarantees regarding availability or safekeeping of the data you create in the app. Remember to download any models or results frequently. 
                              </p>
                            </div>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Login</h3>
                      
                              <a href="/passwordresetrequest">Forgot your password?</a>					  	
                            </div>
                            <div class="form-top-right">
                              <i class="fa fa-key"></i>
                            </div>
                            </div>
                            <div class="form-bottom">
                          <form role="form" action="/login" method="post" class="login-form">
                            <div class="form-group">
                              <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="email" placeholder="Username..." class="form-username form-control" id="form-username">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                              </div>
                              <button type="submit" class="btn btn-primary">Sign in!</button>
                              
                              </br></br>  
                              <h4> Not yet a user? <a href="/register">Register a new account.</a></h4>

                          </form>
                        </div>
                        </div>
              
                    </div>
                  
                    </div>
                </div>
            </div>
            
        </div>

  
{% endblock %}
