{% extends "base.html" %}
{% block title%}Manage Models{% endblock %}
{% block content %}
{% block csscontent %}
<link href="/static/css/jquery.dataTables.css" rel="stylesheet">
<link href="/static/css/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">
<style type="text/css">
    .dataTables_length select{
    width: 50px;
    }
</style>
{% endblock %}

<div class="span9">
    <div class="row-fluid">
	<div class"span9">
	    {% block modeleditorcontent %}
	    <div class="menubar">
		<ul class="nav nav-tabs">
		    <li class="active">
			<a href="/modeleditor" TITLE = "Define the name of your model">Models</a>
		    </li>
		    <!-- <li><a href="/modeleditor/overview">Overview</a></li> -->
            {% if model_edited %}
		    <li>
			<a href="/modeleditor/specieseditor" TITLE = "Create a List of Species">Species</a>
		    </li>
                    <li>
			<a href="/modeleditor/parametereditor" TITLE = "Create a List of Parameters">Parameters</a>
		    </li>
		    <li>
			<a href="/modeleditor/reactioneditor" TITLE = "Create a List of Reactions">Reactions</a>
		    </li>
                    {% if isSpatial %}
		    <li>
			<a href="/modeleditor/mesheditor" TITLE = "Add a mesh">Mesh</a>
		    </li>
                    {% endif %}
            {% endif %}
		    <li class="dropdown">
			<!--<a class="dropdown-toggle" data-toggle="dropdown">Geometry<b class="caret"></b></a> -->
			<ul class="dropdown-menu">
			    <!-- <a href="/modeleditor/geometry/editgeometry"> <i class="icon-pencil"></i>Geometry editor</a> -->
			    <a href="/#" TITLE = "Define the Geometry">Compartment</a>
			    <!-- <a href="/#">Import mesh...</a> -->
			</ul>
		    </li>

		    <!-- <li><a href="/modeleditor/codeeditor">Editor</a></li> -->
		    <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Import from File/ Load Existing Library">Import<b class="caret"></b></a>
			<ul class="dropdown-menu">
                            {% if not isSpatial%} 
			    <a href="/modeleditor/import/fromfile">From XML...</a>
                            {% endif %}
			    <a href="/import?tab=1">From StochSS .zip...</a>
			    <a href="/modeleditor/import/publiclibrary">From Public Library...</a>
			    <!-- <a href="/modeleditor/import/biomodels">BioModels database...</a>-->
			</ul>
		    </li>
                    
                    <!-- <li><a href="/modeleditor/codeeditor">Editor</a></li> -->
                    {% if model_edited is defined %}
                    {% if model_edited.units == "population" and not isSpatial%} 
		    <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To Stochkit">Export<b class="caret"></b></a>
			<ul class="dropdown-menu">
          <a href="/modeleditor/export/tostochkit2">To XML (StochKit2 compat.)</a>
          <a href="#" id="exportToPublicLibrary" TITLE = "Export model to public Library">To Public Library...</a>
          <!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
			</ul>
		    </li>
                    {% elif not isSpatial %}
		    <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" TITLE = "Export File To XML">Export<b class="caret"></b></a>
			<ul class="dropdown-menu">
			    <a href="/modeleditor/export/tostochkit2">To XML</a>
          <a href="#" id="exportToPublicLibrary" TITLE = "Export model to public Library">To Public Library...</a>
			    <!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
			</ul>
		    </li>
                    {% elif isSpatial %}
		    <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">Export<b class="caret"></b></a>
			<ul class="dropdown-menu">
			    <a id="exportToZip" href="#">To StochSS .zip</a>
                            <a href="#" id="exportToPublicLibrary" TITLE = "Export model to public Library">To Public Library...</a>
			    <!-- <a href="/modeleditor/export/tosbml">To SBML ...</a> -->
			</ul>
		    </li>
                    {% endif %}
                    {% endif %}
		</ul>

	    </div>
	    <!--/ul-->

	    <div class="span9">
		<div class="well well-large">
		    <form method="post" action="/modeleditor" name="create_model">
			<h3><a style="text-decoration: None"> Create new model </a></h3>
			<br/>
			<div id="optional" class="in collapse" style="height:auto">
			    <label>Name</label>
			    <input type="text" class="span3" id="name" name="name" value="{{ name }}" class="update_box auto_complete">

                            <label>Units</label>
                            <input type="radio" name="exec_type" value="concentration" class="concentration"> Concentration <br />
                            <input type="radio" name="exec_type" value="population" class="population" checked> Population <br />
                            
                            <br />

                            <label>Type</label>
                            <input type="radio" name="spatial_type" value="true" class="spatial"> Spatial <br />
                            <input type="radio" name="spatial_type" value="" class="nonspatial" checked> Non-spatial <br />
			    <button type="submit" class="btn btn-primary btn-large" style="float: right;">
				Create model
			    </button>
			</div>
		    </form>
		    {% if msg %}
		    {% if status == False %}
		    <span class="alert alert-error">{{msg}}</span>
		    {% else %}
		    <span class="alert alert-success">{{msg}}</span>
		    {% endif %}
		    {% endif %}											
		    <hr/>
		    <div id="msg"></div>

		    <br />
		    {% if all_models %}
		    <div>
			<h3><a style="text-decoration: None">Models</a></h3>
		    </div>
		    <div id="model_list" class="in collapse" style="height: auto">
			<br/>
			<div>
			    <h4>Select a model to edit</h4>
			</div>
			<br/>
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
			    <thead>
				<th>Model</th>
                                <th>Units</th>
                                <th>Spatial</th>
				<th>&nbsp;</th>
			    </thead>
			    <tbody>
				{% for item in all_models %}
				<tr>
				    <td><a href="/modeleditor?model_edited={{ item.name }}">{{ item.name }}</a></td>
				    <td>{{ item.units }}</td>
				    <td>{% if item.isSpatial %}True{% else %}False{% endif %}</td>
				    <td><a href="javascript:void(0)" onclick="javascript:deleteElement('{{item.name}}')">Delete</a></td>
				</tr>
				{% endfor %}
			    </tbody>
			</table>
		    </div>

		    {% endif %}					
		</div>
	    </div>
	    
	    <form id="deleteForm" method="post" action="/modeleditor/delete">
		<input type="hidden" name="toDelete" />
		<input type="hidden" name="delete" value="1"/>
	    </form>
	    {% endblock %}
	    
	    <!-- Modal for deletion. -->
	    <div id="deleteModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
		    <h3>Delete?</h3>
		</div>

		<div class="modal-body">
		    <div>
			Are you sure you want to delete the selected element?
		    </div>
		</div>
		<div class="modal-footer">
		    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="javascript:confirmDelete()">
			Yes
		    </button>
		    <button class="btn" data-dismiss="modal" aria-hidden="true" onclick="javascript:void(0)">
			No
		    </button>
		</div>				
	    </div>
	    
	    <div class="span2">
		{% if model_edited %}

		<label><h2>{{model_edited.name}}</h2></label>

		<a href="/modeleditor">Edit another model</a>
                <!--hr-->

                <hr />
                <h3>Actions</h3>
                <ul>
                  {% if model_edited is defined and model_edited.units == "concentration" %}
		  <li>
		    <a href="#" id="convertToPopulation">Convert to Population</a>
		  </li>
                  {% endif %}
                  {% if model_edited is defined and model_edited.units == "population" and not isSpatial %}
		  <li>
		    <a href="#" id="convertModelToSpatial">Convert to Spatial</a>
		  </li>
                  {% endif %}
                  <li>
		    <a href="#" id="duplicateModel" TITLE = "Duplicate model">Duplicate Model</a>
                  </li>
                  <li>
		    <a href="#" id="renameModel" TITLE = "Rename model">Rename Model</a>
                  </li>

                  <hr />
                  <div id="sidemsg" />
                </ul>

		{% else %}
		<p>
		    <h3>You are not editing a model</h3>
                    <br /><br />
                    <a href="/modeleditor">Choose a model to edit or create a new model</a>
		</p>
		{% endif %}
                {% block customizesidebar %}
                {% endblock %}
	    </div>
	</div>
        
    </div>
    <!--/span9-->

</Div>
<!--/row-->

<!--/span9-->
{% endblock %}
{% block jscontent %}
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/utils.js"></script>

<script type="text/javascript">
$( 'document' ).ready( function() {

var execTypeButtons = $( 'input[name="exec_type"]' );
var spatialTypeButtons = $( 'input[name="spatial_type"]' );
var populationButtonState = execTypeButtons.filter('.population').prop('checked');

//Depending on what spatial radio button is clicked, change things
spatialTypeButtons.on('click', function(event) {
  if(spatialTypeButtons.filter('.spatial').prop('checked') == true)
  {
    if(execTypeButtons.filter('.concentration').prop('disabled') == false)
    {
      populationButtonState = execTypeButtons.filter('.population').prop('checked');
    }

    execTypeButtons.filter('.population').trigger('click');
    execTypeButtons.filter('.concentration').prop('disabled', true);
  }
  else
  {
    execTypeButtons.filter('.concentration').prop('disabled', false);

    if(!populationButtonState)
    {
      execTypeButtons.filter('.concentration').trigger('click');
    }
  }
});

{% if model_edited %}
$( '#convertToPopulation' ).click( function() {
//saveChanges(true, );
$(location).attr('href', '/modeleditor/converttopopulation?modelName={{model_edited.name}}');
});

$( '#duplicateModel' ).click( function() {
  //saveChanges(true, '')

  $.ajax({ url : encodeURI('/modeleditor?duplicate={{model_edited.name}}'),
    error : function(data) {
      $( '#sidemsg' ).text('Server error creating duplicate model');
        $( "#sidemsg" ).prop('class', 'alert alert-error');
    },
    success : function(data) {
      if($.trim(data).length > 0)
      {
        $( '#sidemsg' ).text('Successfully created model as ' + data);
        $( "#sidemsg" ).prop('class', 'alert alert-success');
        location.reload(true);
      } else {
        $( '#sidemsg' ).text('Failed to create model');
        $( "#sidemsg" ).prop('class', 'alert alert-error');
      }
    }});
  });

$( '#convertModelToSpatial' ).click( function() {
  $.ajax({ url : encodeURI('/modeleditor?convertModelToSpatial={{model_edited.name}}'),
    error : function(data) {
        $( '#sidemsg' ).text('Server error making model spatial');
        $( "#sidemsg" ).prop('class', 'alert alert-error');
    },
    success : function(data) {
      if($.trim(data).length > 0)
      {
        $( '#sidemsg' ).text('Successfully created model as ' + data);
        $( "#sidemsg" ).prop('class', 'alert alert-success');
        $(location).attr('href', '/modeleditor?model_edited=' + data);
      } else {
        $( '#sidemsg' ).text('Failed to create model');
        $( "#sidemsg" ).prop('class', 'alert alert-error');
      }
    }});
  });

$( '#renameModel' ).click( function(event) {
    event.preventDefault();

    var newName = prompt("Please enter a new model name", "New name");

    console.log(newName);

    if(!/^[a-zA-Z0-9_]+$/.test(newName))
    {
      $( "#sidemsg" ).prop('class', 'alert alert-error');
      $( '#sidemsg' ).text('Model name must be alphanumeric characters, and underscores only');
      return;
    }

    if($.trim(newName).length == 0)
    {
      $( "#sidemsg" ).prop('class', 'alert alert-error');
      $( '#sidemsg' ).text('Enter a non-empty string');
      return;
    }

    $.ajax({ url : encodeURI('/modeleditor?rename={{model_edited.name}}&newName=' + $.trim(newName)),
      error : function(data) {
        $( '#sidemsg' ).text('Server error creating ' + $.trim(newName));
        $( "#sidemsg" ).prop('class', 'alert alert-error');
      },
      success : function(data) {
        if(data)
        {
          $( '#sidemsg' ).text(data.msg);
          if(data.status == true)
          {
            $( "#sidemsg" ).prop('class', 'alert alert-success');
            $(location).attr('href', '/modeleditor?model_edited=' + $.trim(newName));
          } else {
            $( "#sidemsg" ).prop('class', 'alert alert-error');
          }
        } else {
          $( '#sidemsg' ).text('Failed to rename model');
          $( "#sidemsg" ).prop('class', 'alert alert-error');
        }
      }});
  })

$( '#exportToPublicLibrary' ).click( function() {
  var newName=prompt("Please name this public model","{{model_edited.name}}");
  if (newName != null) {
    $.ajax({ url : encodeURI('/modeleditor?export={{model_edited.name}}&newName=' + newName),
      error : function(data) {
        $( '#msg' ).text('Server error exporting model');
        $( "#msg" ).prop('class', 'alert alert-error');
      },
      success : function(data) {
        if($.trim(data) == 'success')
        {
          $( '#msg' ).text('Successfully exported model');
          $( "#msg" ).prop('class', 'alert alert-success');
        } else if($.trim(data) == 'duplicate') {
          $( '#msg' ).text('A model with that name already exists in the public library');
          $( "#msg" ).prop('class', 'alert alert-error');
        } else {
          $( '#msg' ).text('Failed to export model');
          $( "#msg" ).prop('class', 'alert alert-error');
        }
      }
    });
  }});

$( '#exportToZip' ).click( function() {
    $.ajax({ url : encodeURI('/modeleditor?exportToZip=1'),
      error : function(data) {
        $( '#msg' ).text('Server error exporting model');
        $( "#msg" ).prop('class', 'alert alert-error');
      },
      success : function(data) {
        if(data['status'])
        {
          $( '#msg' ).text('Successfully exported model');
          $( "#msg" ).prop('class', 'alert alert-success');

          window.location = data.url;
        } else {
          $( '#msg' ).text('Failed to export model');
          $( "#msg" ).prop('class', 'alert alert-error');
        }
      }
    });
});
{% endif %}
});
</script>

{% block innerjscontent %}
<script type="text/javascript">    
    var oTable;
    $(document).ready(function() {
    oTable = $('#dataTable').dataTable({
    "aoColumns": [
    // for sorting based on form fields
    { "sSortDataType": "dom-text"},
    { "sSortDataType": "dom-text", "bSearchable": false, "bSortable": false}								
    ]
    });
    });
</script>
{% endblock %}

<script type="text/javascript">
    var model_edited = {% if model_edited %} "{{model_edited.name | safe}}" {% else %} "" {% endif %}
    
    function saveChanges(save, redirect_page, follow_up) {
    dataString = save ? "save_changes=1" : "save_changes=0";
    dataString += "&model_edited=" + model_edited

    if(typeof(follow_up) === "undefined")
    {
      follow_up = function() {};
    }

    if(redirect_page.length === 0)
    {
    dataString += "&redirect_page={{redirect_page | safe}}";
    } else {
    dataString += "&redirect_page=" + $.trim(redirect_page);
    }

    $.ajax({
      type : "POST",
      url : "/modeleditor/save",
      async : false,
      data : dataString,
      dataType : 'json',
      success : function(response) {
        // Redirect without printing any messages if redirect_page is defined.
        if (response['redirect_page'] != undefined){
          $(location).attr('href', response['redirect_page']);
        }
        var status = response['status']
        button = $('#save_button');
        if (!status) {
          $( "#msg" ).prop('class', 'alert alert-error');
        } else {					
          $( "#msg" ).prop('class', 'alert alert-success');
          follow_up();
        }
        $('#msg').css('display', 'block')
        $('#msg').html(response['msg']);
      },
      error : function(response) {
        $('#msg').html(' Internal server error ');
        $( "#msg" ).prop('class', 'alert alert-error');
      }
    });
    return false;
    }

    /**
    * Function to set the delay for sending the ajax request after the user has entered something.
    */
    var delay = (function() {
    var timer = 0;
    return function(callback, ms) {
    clearTimeout(timer);
    timer = setTimeout(callback, ms);
    };
    })();

    /**
    * Function to call the ajax request after the specified amount of time.
    * update will send the ajax request.
    */
    $('.update_box').keyup(function(event) {		
    delay(function() {
    update()
    }, 400);
    });

    
    /**
    * The ajax call for form submit
    * This function call needs to trigger any necessary redraws on the page
    */
    function update() {
    var sData = $('input', oTable.fnGetHiddenNodes()).serialize() + "&update=1";
    $.ajax({
    type : "POST",
    url : $("#update_form").attr('action'),
    data : sData,
    dataType : 'json',
    success : function(response) {
    var status = response['status']
    $(".create_msg").html('')
    $( 'body' ).trigger( 'asdf' );
    if (!status) {
      $( "#msg" ).prop('class', 'alert alert-error');
      $('#msg').html(response['msg']);
    } else {
      $( "#msg" ).prop('class', 'alert alert-success');
      $('#msg').html(response['msg']);

      if (isParameterEditor) {
        updateValues(response)
      }

      if (isSpeciesEditor) {
        $( '[name=' + response['key'] + '-name]' ).prop( 'name', response['newKey'] + '-name' );
        $( '[name=' + response['key'] + '-diffusion_constant]' ).prop( 'name', response['newKey'] + '-diffusion_constant' );
        $( '[name=' + response['key'] + '-initial_value]' ).prop( 'name', response['newKey'] + '-initial_value' );
      }
    }
    },
    error : function(response) {
    $( "#msg" ).prop('class', 'alert alert-error');
    $('#msg').html('Sorry! There was an error processing your request.');
    $('#msg').css('display', 'block')
    }
    });
    }

    /**
    * Function to get the hidden nodes in a datatable.
    */
    $.fn.dataTableExt.oApi.fnGetHiddenNodes = function(oSettings) {
    /* Note the use of a DataTables 'private' function thought the 'oApi' object */
    var anNodes = this.oApi._fnGetTrNodes(oSettings);
    var anDisplay = $('tbody tr', oSettings.nTable);
    /* Fire back the array to the caller */
    return anNodes;
    }

    $.extend($.fn.dataTableExt.oStdClasses, {
    "sWrapper" : "dataTables_wrapper form-inline"
    });
    
    var toDelete;
    function deleteElement(element){
    toDelete = element
    var options = {
    keyboard : false,
    backdrop : 'static',
    show : true
    }
    $('#deleteModal').modal(options)			
    }
    
    function confirmDelete(){
    $("#deleteForm input[name='toDelete']").val(toDelete)
    $("#deleteForm").submit()
    }

</script>
{% endblock %}
