{% extends "base.html" %}
{% block title%}Manage Models{% endblock %}
{% block content %}
{% block csscontent %}
<link href="/static/css/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">
<link href="/static/modelEditor/app.css" rel="stylesheet">
<link href="/static/css/controls.css" rel="stylesheet">
{% endblock %}

<div class="modelEditor">
    <div class="span8">
        <div>
            <h1>Model Editor</h1>
            <div class="well">
                <div data-hook='selector'>
                    <div class="selectAccordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#selectAccordion" href="#collapseSelector">Select Model <span data-hook="modelName"></span></a></h2>
                            </div>
                            <div id="collapseSelector" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <div data-hook="modelSelect">
                                        <div id="modelSelect">Loading models...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-hook='editor'></div>
            </div>
        </div>
    </div>

    <div class="span2 modelRightBar">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="reqModel nav-header">Model Actions</li>
                <li class="reqModel" style="margin: 0 0 5px 0"><button class="btn btn-primary" data-hook="duplicateLink">Duplicate Model</button></li>
                <li class="reqModel" style="margin: 0 0 5px 0"><button class="btn btn-primary" data-hook="convertToPopulationLink">Convert to Population</button></li>
                <li class="reqModel" style="margin: 0 0 5px 0"><button class="btn btn-primary" data-hook="convertToSpatialLink">Convert to Spatial</button></li>
                <li class="nav-header">Import / Export</li>
                <li><a href="/import?tab=1">Import from .zip</a></li>
                <li><a href="/importFromXML">Import from .XML</a></li>
                <!--<li><a data-hook="exportToXML" href="#">Export to .XML</a></li>-->
                <li class="reqModel"><a data-hook="exportToZip" href="#">Export to .zip</a></li>
                <li class="nav-header">Public Library</li>
                <li><a href="/publicLibrary">Import from Public Library</a></li>
                <li class="reqModel"><a data-hook="exportToPublic" href="#">Export to Public Library</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
{% block jscontent %}

<script class="modelEditorTemplate" type="text/template">
    <div>
        <div data-hook="saveMessage" class="alert alert-success"></div>
        <div data-hook="editor">
            <div class="spatial">
                <div class="mesh3dAccordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#mesh3dAccordion" href="#collapseMesh3d">Mesh Editor</a></h2>
                        </div>
                        <div id="collapseMesh3d" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div data-hook="mesh"></div>
                                <hr />
                                <div data-hook="mesh3d"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="speciesAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#speciesAccordion" href="#collapseSpecies">Species Editor</a></h2>
                    </div>
                    <div id="collapseSpecies" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div data-hook="specie"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spatial">
                <div class="initialConditionsAccordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#initialConditionsAccordion" href="#collapseInitialConditions">Initial Conditions Editor</a></h2>
                        </div>
                        <div id="collapseInitialConditions" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Define the initial conditions for a spatial simulation.
                                <ul>
                                    <li>A 'Scatter' initial condition distributes 'Count' particles over the chosen subdomain.</li>
                                    <li>A 'Place' initial condition places 'Count' particles at a given X, Y, Z coordinate.</li>
                                    <li>A 'Distribute Uniformly' initial condition puts 'Count' particles in each voxel of the chosen subdomain.</li>
                                </ul>

                                <div data-hook="initialConditions"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parametersAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#parametersAccordion" href="#collapseParameters">Parameters Editor</a></h2>
                    </div>
                    <div id="collapseParameters" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Define the model parameters. Parameter constants are used to defined reaction rates in the simulation. Stochkit syntax is used to define the parameters. They can be functions of other parameters or simple math operations.
                            <div data-hook="parameter"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reactionsAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#reactionsAccordion" href="#collapseReactions">Reactions Editor</a></h2>
                    </div>
                    <div id="collapseReactions" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div data-hook="reaction"  style="min-width: 600px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-hook="convertToPopulation"></div>
    </div>
</script>

<script class="convertToPopulationTemplate" type="text/template">
    <div>
        <div class="speciesAccordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <h2><a class="accordion-toggle" data-toggle="collapse" data-parent="#speciesAccordion" href="#collapseSpecies">Convert to Population</a></h2>
                </div>
                <div id="collapseSpecies" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        To convert the model from concentration to population you must specify a system volume, initial conditions will be converted as initial_population = initial_concentration * volume.
                        <br><br>
                        Converting concentration models to population models should be automatic for models with mass action reactions with two or less reactants. For more complex reactions, or ones with custom propensities, conversion must be done manually. Conversion to population is still possible in the cases where automatic conversion fails; the user will be responsible for fixing the reactions which were not automatically converted though.
                        <br><br>
                        <h4>Volume</h4>
                        <div data-hook="volume"></div>
                        <div data-hook="specie"></div>
                        <div data-hook="parameter"></div>
                        <div data-hook="reaction"></div>
                        <button class="btn btn-primary" data-hook="finishConvertToPopulationButton">Finish conversion</button>
                        <button class="btn btn-danger" data-hook="cancelConvertToPopulationButton">Cancel conversion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script class="meshCollectionTemplate" type="text/template">
    <div>
        <div class="accordion" id="accordion22">
            <div class="accordion-group" data-hook="meshDescriptionAccordion">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion22" href="#collapseOne2">
                        Current Mesh
                    </a>
                </div>
                <div id="collapseOne2" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div data-hook="meshDescription">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group" data-hook="meshLibraryAccordion">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion22" href="#collapseTwo2">
                        Select a Mesh
                    </a>
                </div>
                <div id="collapseTwo2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row">
                            <div class="span11">
                                Select a model mesh and visualize the subdomains. The subdomain information will be used to define where species can diffuse and where reactions occur.
                            </div>

                            <div class="span8">
                                <div data-hook="meshTable">
                                </div>
                            </div>
                            <div class="span3 meshSelectDescriptionDiv">
				<div class="descriptionContainer">
                                    <h4>Description:</h4>
                                    <pre class="description">
                                    </pre>
				</div>
                            </div>
                        </div>
			<br>
                        <button data-hook="doneSelectButton" class="btn btn-primary">Done</button>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle meshUpload" data-toggle="collapse" data-parent="#accordion22" href="#collapseThree2">
                        Upload a Mesh
                    </a>
                </div>
                <div id="collapseThree2" class="accordion-body collapse uploadMeshDiv">
                    <div data-hook="addMeshForm"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script class="meshCollectionAddTemplate" type="text/template">
    <div class="accordion-inner">
        <form id="meshForm">
            <div>For a guide on the .xml/.txt mesh format used here, look at <a href="http://iguana.cs.ucsb.edu/releases/tutorials/dolfin_notes.pdf">dolfin_notes.pdf</a> (which can also be found in the documentation on the StochSS website).</div><br />

            <div class="row">
                <div class="span5">
                    <div>Select mesh file:</div>
                    <div>
                        <input id="meshDataUpload" type="file" name="files[]" multiple>
                    </div>
                    <div id="meshDataUploadStatus">
                    </div>
                    <div>Select subdomain file:</div>
                    <div>
                        <input id="subdomainDataUpload" type="file" name="files[]" multiple>
                    </div>
                    <div id="subdomainDataUploadStatus">
                    </div>
                </div>
                <div class="span6">
                    <div>
                        Model name:<br>
                        <input type="text" class="name">
                    </div>
                    <div>
                        Model description:<br>
                        <textarea class="form-control descriptionText" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <br />
            <button data-hook="meshUploadButton" type="button" class="btn btn-primary btn-lg">
                <span class="icon-plus"></span> Upload PyURDME Mesh
            </button>

            <button data-hook="resetFormButton" type="button" class="btn btn-primary btn-lg">
                <span class="icon-remove"></span> Reset
            </button>
        </form>
        <br />
    </div>
</script>

<script class="mesh3dTemplate" type="text/template">
    <div>
        <h3>Mesh Preview</h3>
        <div data-hook="container">
            <center>
                <div class="button-container button-container-left" >
                    <button class="button" data-hook="zoomPlus_btn"><i class="icon-plus"></i></button> 
                    Zoom
                    <button class="button" data-hook="zoomMinus_btn"><i class="icon-minus"></i></button> 
                </div>
                &nbsp; 
                <div class="button-container">
                    <button class="button" data-hook="panLeft_btn"><i class="icon-arrow-left"></i></button> 
                    <button class="button" data-hook="panUp_btn"><i class="icon-arrow-up"></i></button> 
                    Pan
                    <button class="button" data-hook="panDown_btn"><i class="icon-arrow-down"></i></button>
                    <button class="button" data-hook="panRight_btn"><i class="icon-arrow-right"></i></button>
                </div>
                &nbsp; 
                <div class="button-container">
                    <button class="button" data-hook="rotateLeft_btn"><i class="icon-arrow-left"></i></button>
                    <button class="button" data-hook="rotateUp_btn"><i class=" icon-arrow-up"></i></button> 
                    Rotate
                    <button class="button" data-hook="rotateDown_btn"><i class="icon-arrow-down"></i></button> 
                    <button class="button" data-hook="rotateRight_btn"><i class="icon-arrow-right"></i></button> 
                </div>
                &nbsp; 
                <div class="button-container button-container-right">
                    <button class="button" data-hook="reset_btn">Reset</button>
                </div>
            </center>
        </div>
        <div data-hook="inset"></div>
        <div data-hook="mesh">
        </div>
        <h3>Highlight Subdomains</h3>
        <div data-hook="subdomains">
        </div>
    </div>
</script>

<script type="text/javascript" src = "/static/js/underscore.js"></script>
<!--<script type="text/javascript" src = "/static/utils.js"></script>-->
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/modelEditor/app.bundle.js"></script>
{% endblock %}
