{% extends "base.html" %}
{% block title%}Manage Models{% endblock %}
{% block content %}
{% block csscontent %}
<link href="/static/css/jquery-ui-1.9.1.custom.min.css" rel="stylesheet">
<link href="/static/css/panelHack.css" rel="stylesheet">
<link href="/static/modelEditor/app.css" rel="stylesheet">
{% endblock %}

<div class="span9 modelEditor">
  <div id="modelSelect"></div>
</div>

{% endblock %}
{% block jscontent %}
<script class="modelEditorTemplate" type="text/template">
  <div>
    <h3>Edit Model</h3>
    <div data-hook="editor">
      Model type: <span data-hook="type"></span><hr />
      <div data-hook="specie"></div>
      <hr />
      <div data-hook="parameter"></div>
      <hr />
      <div data-hook="reaction"></div>
      <hr />
      <div data-hook="mesh"></div>
    </div>
    <div data-hook="convertToPopulation"></div>
    <button data-hook="convertToPopulationButton">Convert To Population</button>
  </div>
</script>

<script class="meshCollectionTemplate" type="text/template">
  <div>
    <h3>Select Mesh</h3>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle meshLibrary" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Select a Mesh
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="row">
              <div class="span8">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="meshTable">
                  <thead><tr><th>Delete</th><th>Select</th><th style="width: 100%">Mesh Name</th></tr></thead>
                  <tbody data-hook="meshTable"></tbody>
                </table>
              </div>
              <div class="span3 meshSelectDescriptionDiv">
                <h4>Description:</h4>
                <div class="description">
                </div>
              </div>
            </div>

            <button id="selectButton" class="btn btn-primary">Done</button>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle meshUpload" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Upload a Mesh
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse uploadMeshDiv">
          <div data-hook="addMeshForm"></div>
        </div>
      </div>
    </div>
  </div>
</script>

<script class="meshCollectionAddTemplate" type="text/template">
  <div class="accordion-inner">
    <form id="meshForm">
      <div>For a guide on the .xml/.txt mesh format used here, look at <a href="http://iguana.cs.ucsb.edu/releases/tutorials/dolfin_notes.pdf">dolfin_notes.pdf</a> (which can also be found in the documentation on the StochSS website).</div><br />

      <div class="row">
        <div class="span5">
          <div>Select mesh file:</div>
          <div>
            <input id="meshDataUpload" type="file" name="files[]" multiple>
          </div>
          <div id="meshDataUploadStatus">
          </div>
          <div>Select subdomain file:</div>
          <div>
            <input id="subdomainDataUpload" type="file" name="files[]" multiple>
          </div>
          <div id="subdomainDataUploadStatus">
          </div>
        </div>
        <div class="span6">
          <div>
            Model name:<br>
            <input type="text" class="name">
          </div>
          <div>
            Model description:<br>
            <textarea class="form-control descriptionText" rows="3"></textarea>
          </div>
        </div>
      </div>
      <br />
      <button id="meshUploadButton" type="button" class="btn btn-primary btn-lg">
        <span class="icon-plus"></span> Upload PyURDME Mesh
      </button>

      <button id="resetFormButton" type="button" class="btn btn-primary btn-lg">
        <span class="icon-remove"></span> Reset
      </button>
    </form>
    <br />
  </div>
</script>

<script type="text/javascript" src = "/static/js/underscore.js"></script>
<!--<script type="text/javascript" src = "/static/utils.js"></script>-->
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/modelEditor/app.bundle.js"></script>
{% endblock %}
