{% extends "login_base.html" %}
{% block title %}Password Reset{% endblock %}
{% block csscontent %}<link href="/static/css/account_settings.css" rel="stylesheet">{% endblock %}

{% block content %}
{% if success_alert is defined %}
<p class="alert alert-success">{{success_alert}}</p>
{% endif %}
{% if error_alert is defined %}
<p class="alert alert-danger">{{error_alert}}</p>
{% endif %}
<div class="col-sm-4 col-md-4">
  <h2 id="form-heading">Password Reset</h2>
  <form action="/passwordreset" method="post" class="form-horizontal">
    <fieldset>
       <div class="form-group">
        <label class="control-label">User name</label>
        <div class="controls">
          <input id="password" type="text" name="user_email" value="{{user_email}}" class="form-control" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">New Password</label>
        <div class="controls">
          <input id="password" type="password" name="password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">New Password Confirmation</label>
        <div class="controls">
          <input id="password_conf" type="password" name="password_confirmation" class="form-control">
        </div>
      </div>
      <div class="form-actions">
        <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
{% block jscontent %}<script src="/static/js/account_settings.js"></script>{% endblock %}
