{% extends "login_base.html" %}
{% block title %}Login{% endblock %}
{% block csscontent %}<link href="/static/css/login.css" rel="stylesheet">{% endblock %}

{% block content %}
  {% if error_alert %}
    <p class="alert alert-error">{{alert_message}}</p>
  {% elif success_alert %}
    <p class="alert alert-success">{{alert_message}}</p>
  {% endif %}

  <div class="span3 offset4 well">
     <center><h1>StochSS</h1></center>

    <h4>Enter the email address you used for registration.</h4>
                    
    <form role="form" action="/passwordresetrequest" method="post" class="login-form">
    <input type="text" name="email" placeholder="Email address..." class="form-username form-control" id="form-username">
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
            
  </div>

  
{% endblock %}
