{% extends "base.html" %}
{% block title%}Data Reproduction{% endblock %}
{% block content %}

<div class="span9">
    <div class="row-fluid">
    <div class"span9">
            <h2>Data Reproduction</h2>
            </br>

            <!--<form class ="well form" action="/reproduce" method="post">
                <h3>Reproduce Job Results</h3><br/>
                {% if status == False %}
                    <span style="color: red" class="create_msg">{{msg}}</span></br></br>
                {% endif %}
                Enter Job UUID: <input type="text" name="id_box">
                <button type="submit" class="btn btn-primary btn-large" name="reproduce">Reproduce</button>
            </form>
            
            {% if r_id %}
                Reproducing {{r_id}}<br/>
            {% endif %}-->
            <span id="msg"></span>
            </br>
            </br>
            
        <div class="well">
            <h3>My Finished Jobs</h3><br/>
            {% if all_jobs %}
                Deterministic/Stochastic Simulations:
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th>Job Name</th>
                            <th>Job UUID</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in all_jobs %}
                            <tr>
                                <td>
                                    <span>{{job.name}}</span>
                                </td>
                                <td>
                                    <span>{{job.uuid}}</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="rerun('/reproduce?job_type=stochkit&name={{job.name}}');">Reproduce Results</a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br />
            {% endif %}
            {% if allSpatialJobs %}
            Spatial Simulations:
            <br />
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th >Job Name</th>
                        <th >Job UUID</th>
                        <th ></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in allSpatialJobs %}
                    <tr>
                        <td>
                            <span>{{job.name}}</span>
                        </td>
                        <td>
                            <span>{{job.uuid}}</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" onclick="rerun('/reproduce?job_type=spatial&name={{job.name}}');">Reproduce Results</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            {% endif %}
            {% if allSensJobs %}
                Deterministic + Sensitivity Analysis Simulations:
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th >Job Name</th>
                            <th >Job UUID</th>
                            <th ></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in allSensJobs %}
                            <tr>
                                <td>
                                    <span>{{job.name}}</span>
                                </td>
                                <td>
                                    <span>{{job.uuid}}</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="rerun('/reproduce?job_type=sensitivity&name={{job.name}}');">Reproduce Results</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br />
            {% endif %}
            

            {% if not (allSensJobs or all_jobs or allSpatialJobs) %}
                No jobs in system<br /><br />
            {% endif %}
        </div>
        
        </div>
    </div>
</div>

{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/js/reproduce.js"></script>
{% endblock %}
