{% extends "base.html" %}
{% block title%}Run a Simulation{% endblock %}
{% block content %}
        <div class="span9">
          <div class="hero-unit">
            <h2>Run a Simulation</h2>
            <br />
            <br />

            <div class="control-group error">
              <label id="errors" />
            </div>

            <div class="well form" id="form">
            <h3>Required Parameters</h3>
            <br />
            {% if models_present %}
              <label class="control-label" for="model">Model:</label>
              {% for model in models %}
                <label class="radio">
                  <input type="radio" name="model_name" id="model_name" 
                    value="{{model}}">
                  {{ model }}
                </label>
              {% endfor %}
            {% else %}
              No models have been uploaded yet. <a href="/upload">Upload one?</a>
            {% endif %}

            <br />
            <br />
            Simulation time
            <br />
            <input type="text" class="input-small" disabled="disabled" 
              value="0">
            &nbsp; to &nbsp;
            <input type="text" class="input-small" id="time" placeholder="t">

            <br />
            <br />
            <label>Realizations</label>
            <input type="text" class="span3" id="realizations" value="1">
            <span class="help-block">Number of realizations.</span>

            <label>Output Name:</label>
            <input type="text" class="span3" id="output" value="job_output">
            <span class="help-block">A name that identifies the output of this ensemble.</span>

            <br />
            <br />
            <h3>
              <a data-toggle="collapse" data-target="#optional">
                Optional Parameters
              </a>
            </h3>

            <div id="optional" class="collapse">
              <br />

              <label class="checkbox">
                <input type="checkbox" id="keep-trajectories">
                Keep trajectory data
              </label>
              <label class="checkbox">
                <input type="checkbox" id="keep-histograms">
                Keep histogram data
              </label>
              <label class="checkbox">
                <input type="checkbox" id="label">
                Label columns with species names
              </label>

              <br />
              <label>Seed</label>
              <input type="text" class="span3" id="seed" value="0">
              <span class="help-block">Seed the random number generator.
              </span>

              <br />
              <br />
              <label>Epsilon</label>
              <input type="text" class="span3" id="epsilon" value="0.3">
              <span class="help-block">Set the tolerance (applicable to tau 
leaping only). Valid values: must be greater than 0.0 and less than 1.0.
              </span>

              <br />
              <br />
              <label>Threshold</label>
              <input type="text" class="span3" id="threshold" value="10">
              <span class="help-block">Set the threshold (minimum number of
reactions per leap before switching to SSA) for tau leaping.
              </span>

            </div>

            <br />
            <p>
              <button class="btn btn-primary btn-large" id="local">
                Run Locally &raquo;
              </button>
              <button class="btn btn-primary btn-large" id="cloud">
                Run via Cloud &raquo;
              </button>
            </p>
            </div>
          </div>
        </div><!--/span-->
{% endblock %}
