{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}

{% block content %}
<div class="span9">
    <div class="row-fluid">
        <div>
            <div class="well" style="display:none;" id="newJob">
                <h3> Sensitivity analysis </h3>
                <br />
                Model Name: 
                <select id="modelSelect"></select>

                <br />

                <table id="selectTable" border=1 width="50%">
                    <tr>
                        <th>Parameters</th>
                        <!--<th>Initial Conditions</th>-->
                    </tr>
                    <tr>
                        <td valign="top">
                            <table id="parameterContainer">
                            </table>
                        </td>
                        <!--<td valign="top">
                            <table id="initialConditionContainer">
                            </table>
                        </td>-->
                    </tr>
                </table>

                <br />
                Simulation time
                <br />
                <input type="text" value="0" disabled></input> to <input id="time" value="100" type="text"></input> store state every <input id="dt" type="text" value="0.1"></input> time units.
                <br />

                Simulation name
                <br />
                <input id="name" type="text"></input>
                <br />

                <button class="btn-primary btn-large runlocal">Run locally</button>
            </div>

            <span id="jobInfo">
                Downloading data to browser...
            </span>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<link rel="stylesheet" href="/static/css/nv.d3.css">

<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/js/canvas2image.js"></script>
<script type="text/javascript" src = "/static/js/splot.js"></script>
<script type="text/javascript" src = "/static/js/d3.v3.js"></script>
<script type="text/javascript" src = "/static/js/nv.d3.js"></script>
<script type="text/javascript" src = "/static/sensitivity.js"></script>
<script type="text/javascript" src = "/static/sensitivityMain.js"></script>

<script id="jobInfoTemplate" type="text/template">
    <h2> Job summary: <span style="COLOR:green;"><%= jobName %></span></h2>
    <br />
    <div class="well">                    
        <h3>Metadata</h3>
        <p class="thispage">
            Resource: <%= resource %>
            <br />
            Simulation status: <%= status %>
            <br />
            Stochkit model: <a href="/modeleditor?model_edited=<%= modelName %>" class="thispage"> <%= modelName %> </a>
        </p>
    </div>

    <div id="plotRegion">
        <div id="interpolateWarning" class="alert alert-block alert-info">Note: The lines on this graph have been downsampled and interpolated to improve rendering performance.</div>
        <div id="data">
        </div>
    </div>

    <div id="error"></div>
                        
    <br />

    <div id="msg"></div>
    
    <br />
    <div class="well">
      <h3>Output</h3>
      <br />
      <button id="access" type="submit" class="btn btn-primary btn-large"><i class="icon-download-alt"></i> Fetch Output Data</button>
    </div>

</script>
{% endblock %}
