{% extends "base.html" %}
{% block title%}Spatial Simulation Status{% endblock %}

{% block content %}
<div class="span9">
    <div class="row-fluid">
        <div id="jobInfo">
            Downloading data to browser...
        </div>
    </div>
</div>


{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<link rel="stylesheet" href="/static/css/nv.d3.css">
<link rel="stylesheet" href="/static/css/controls.css">
<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/js/canvas2image.js"></script>
<script type="text/javascript" src = "/static/js/splot.js"></script>
<script type="text/javascript" src = "/static/js/d3.v3.js"></script>
<script type="text/javascript" src = "/static/js/nv.d3.js"></script>
<script type="text/javascript" src = "/static/js/sensitivity.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<script type="text/javascript" src = "/static/js/three.js"></script>
<script type="text/javascript" src = "/static/js/OrbitControls.js"></script>
<script type="text/javascript" src = "/static/js/AnimationFrame.js"></script>
<script type="text/javascript" src = "/static/js/spatial.app.js"></script>
<script type="text/javascript" src="static/js/status.js"></script>


<script type="text/template" id="jobInfoTemplate">
	<ol class="breadcrumb">
  		<li><a href="/status">Job Status</a></li>
  		<li class="active"><%= name %></a></li>
	</ol>
    <h2> Job summary: <span style="COLOR:green;"><%= name %></span></h2>
    <br />
    <div class="well">
        <div class="row">
            <div class="span8">
                <h3>Metadata</h3>
                <p class="thispage">
                    Resource: <%= resource %>
                    <br />
                    Simulation status: <%= jobStatus %>
                    <br />
                    Stochkit model: <a href="/modeleditor?model_edited=<%= modelName %>" class="thispage"> <%= modelName %> </a>
                </p>
            </div>
            <div class="span3">
                <h5>Mouse Controls:</h5><br />
                <ol>
                    <li>Rotation -- Left button</li>
                    <li>Translation -- Right button</li>
                    <li>Zoom -- Mouse wheel, or left + right button</li>
                </ol>
            </div>
        </div>
    </div>

    <div id="plotRegion" style="display: none;">
        <table width="100%">
            <tr>
                <td valign=top>
                    Select <span id="timeSelectDisplay"></span><br />
                    <input id="timeSelect" type="range" min="0" max="0" step="0" value="0">
                </td>
                <td valign=top>
                    Plane <span id="planeSelectDisplay"></span><br />
                    <input id="planeSelect" type="range" min="-5" max="+5" step="1" value="0">
                </td>

                <td valign=top>
                    Animation:<br/>
                    <button class="button" id="play_btn"><i class="icon-play"></i></button> 
                    <button class="button" id="stop_btn"><i class="icon-stop"></i></button>
                    <p id="playStats">Stopped</p>
                </td>
                <td valign=top>
                    Select Trajectory:<br />
                    <select  id="trajectorySelect"></select>
                </td>

                <td valign=top>
                    Select Wireframe:<br />
                    <input type="radio" id="withWire" name="wireframe" value="1">Yes
                    <input type="radio" id="withoutWire" name="wireframe" value="0">No
                </td>
                <td valign=top>
                    Select species:<br />
                    <select id="speciesSelect"></select>
                </td>
            </tr>
        </table>
        <div class="row">
            <table class="span10" style="border: 1px solid rgb(221, 221, 221);">
                <tr>
                    <td>
                        <div id="meshPreviewMsg"><CENTER><H1>Loading...</H1></CENTER></div>

                        <div id="container" >
                            <center>
                                
                            <div class="button-container button-container-left" >
                                <button class="button" id="zoomPlus_btn"><i class="icon-plus"></i></button> 
                                Zoom
                                <button class="button" id="zoomMinus_btn"><i class="icon-minus"></i></button> 
                            </div>
                            &nbsp; 
                            <div class="button-container">
                                <button class="button" id="panLeft_btn"><i class="icon-arrow-left"></i></button> 
                                <button class="button" id="panUp_btn"><i class="icon-arrow-up"></i></button> 
                                Pan
                                <button class="button" id="panDown_btn"><i class="icon-arrow-down"></i></button>
                                <button class="button" id="panRight_btn"><i class="icon-arrow-right"></i></button>
                            </div>
                            &nbsp; 
                            <div class="button-container">
                                <button class="button" id="rotateLeft_btn"><i class="icon-arrow-left"></i></button>
                                <button class="button" id="rotateUp_btn"><i class=" icon-arrow-up"></i></button> 
                                Rotate
                                <button class="button" id="rotateDown_btn"><i class="icon-arrow-down"></i></button> 
                                <button class="button" id="rotateRight_btn"><i class="icon-arrow-right"></i></button> 
                            </div>
                            &nbsp; 
                            <div class="button-container button-container-right">
                                <button class="button" id="reset_btn">Reset</button>
                            </div>
                            </center>
                        </div>
                        <div id="inset"></div>
                        <div id="meshPreview" style="z-index=-2"></div>
                    </td>
                </tr>
            </table>
             


            <div class="span1">
                <div>Maximum voxel population:</div>
                <div id="maxVal"></div>
                <div><img src="/static/img/cmap.png"></div>
                <div>Minimum voxel population:</div>
                <div id="minVal"></div>
            </div>
        </div>

    </div>

    <div id="error" style="clear:both; display: none;">
        Stdout:<br />
        <pre><%= stdout %></pre>
        
        Stderr:<br />
        <pre><%= stderr %></pre>
    </div>
      
    <div id="msg" style="clear:both; display: none;"></div>
    
    <div id="accessOutput" class="well" style="clear:both; display: none;">
        <h3>Output</h3>
        <br />
        
        <% if (resource =="local" || output_stored == "True"){ %>
        	<button id="access" type="submit" class="btn btn-primary btn-large"><i class="icon-download-alt"></i> Fetch Data from Cloud</button>
    	<% } %>
    	
    	<% if (resource =="cloud"){ %>
    		<% if(output_stored == "True"){ %>
    		<button class="btn btn-primary btn-large" onclick="rerun('/reproduce?req_type=delOutput&job_type=spatial&uuid=<%= uuid %>', 'delete', '/spatial?id=<%=id%>');"> Delete Output</button>
    		<% }else{ %>
    		<p>No output stored.</p>
    		<% } %>		
    	<% } %>
    </div>

    <% if (jobStatus != "Failed" ){ %>
    <div class="well">
        <h3>Reproduction and Cost Analysis</h3>
        <br />
    	<% if (resource =="cloud"){ %>
    		<% if(output_stored != "True"){ %>
    		<p> Reproduction Node Type: </p>
    		<select id="instance_type" style="width: 100pt;">
				<option name="instance_type" value="t1.micro" selected>t1.micro</option>
				<option name="instance_type" value="m1.small">m1.small</option>
				<option name="instance_type" value="m3.medium">m3.medium</option>
				<option name="instance_type" value="m3.large">m3.large</option>
				<option name="instance_type" value="c3.large">c3.large</option>
				<option name="instance_type" value="c3.xlarge">c3.xlarge</option>
			</select>
			</br>
			<button class="btn btn-primary btn-large" onclick="rerun('/reproduce?req_type=rerun&job_type=spatial&uuid=<%= uuid %>', 'rerun', '/status');"> Reproduce Results</button>    		
    		<% } %>
    		
    		<button class="btn btn-primary btn-large" onclick="location.href = '/cost_analysis?job_type=spatial&id=<%= id %>';"> Cost Analysis</button>

		<% }else{ %>
    		<p>Local job. No reproduction and cost analysis available</p>
    	<% } %>    	
    </div>
    <% } %>
    
    
</script>
{% endblock %}
