{% extends "base.html" %}
{% block title%}Job Status{% endblock %}
{% block content %}

<!-- Script to check/unckeck all checkboxes -->
<script language="">
    function toggle(source) {
    checkboxes = document.getElementsByName('select_job');
    for(var i=0, n=checkboxes.length;i<n;i++) {
                                              checkboxes[i].checked = source.checked;
                                              }
                                              }
                                              </script>
<!--    -->

<div class="span9">
    <div class="row-fluid">
	<div class"span9">
            <h2><a data-toggle="modal" class="show" href="#help_modal1" style="text-decoration: none"> Job Status <i class="icon-question-sign"></i></a>
                {% set help_modal_id = "help_modal1" %}
                {% set help_modal_title = "Status" %}
                {% set help_modal_message = "A local job can have status 'Running', 'Finished' or 'Failed'. A Cloud job can in addition have status 'Pending'. A pending job is one that has not yet been assigned a compute node by the task queue system. This can be either because all nodes are busy, or because no nodes have been launched yet. In the latter case, launching nodes will cause the job to start running. " %}
                {% include "help_modal.html" %}
                {{help_modal|safe}}
            </h2>
            
            <div id="msg" style="display: none;"></div>
            <form class ="well form" action="/status" method="get">
                {% if all_jobs %}
                Non-spatial Deterministic/Stochastic Simulations:
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th width="40pt"></th>
                            <th width="40pt">Job #</th>
                            <th>Job name</th>
                            <th width="50pt">Resource</th>
                            <th width="100pt">Status</th>
                            <th width="220pt">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in all_jobs %}
                        <tr>
                            <td>
                            <a href="javascript:void(0)" onclick="deleteJob('/simulate?reqType=delJob&id={{job.id}}');">Delete</a>
                            </td>
                            <td>
                                <span>{{job.number}}</span>
                            </td>
                            <td>
                                <span>{{job.name}}</span>
                            </td>
                            <td>
                                <span>{{job.resource}}</span>
                            </td>
                            <td>
                                {% if job.status == "Running" or job.status == "Finished" %}
                                <span style="color: green" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Pending" %}
                                <span style="color: orange" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Failed" or job.status == "Unknown" or job.status == "Inaccessible" %}
                                <span style="color: red" class="create_msg">{{job.status}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if job.status == "Finished" %}
                                
                                	<a href="/simulate?id={{job.id}}">View</a>
                                
                                {% elif job.status == "Failed"%}
                          
                                	<a href="/simulate?id={{job.id}}">Get Debugging Info</a>
                                
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if allSpatialJobs %}
                Spatial Simulations:
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th width="40pt"></th>
                            <th width="40pt">Job #</th>
                            <th>Job name</th>
                            <th width="50pt">Resource</th>
                            <th width="100pt">Status</th>
                            <th width="220pt">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in allSpatialJobs %}
                        <tr>
                            <td>
                            <a href="javascript:void(0)" onclick="deleteJob('/spatial?reqType=delJob&id={{job.id}}');">Delete</a>
                            </td>
                            <td>
                                <span>{{job.number}}</span>
                            </td>
                            <td>
                                <span>{{job.name}}</span>
                            </td>
                            <td>
                                <span>{{job.resource}}</span>
                            </td>
                            <td>
                                {% if job.status == "Running" or job.status == "Finished" %}
                                <span style="color: green" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Pending" %}
                                <span style="color: orange" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Failed" or job.status == "Unknown" or job.status == "Inaccessible" %}
                                <span style="color: red" class="create_msg">{{job.status}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if job.status == "Finished" %}
                                
                                <a href="/spatial?id={{job.id}}">View</a>
                               
                                {% elif job.status == "Failed"%}
                                
                                <a href="/spatial?id={{job.id}}">Get Debugging Info</a>
                            
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if allSensJobs %}
                Deterministic Sensitivity Analysis Simulations:
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th width="40pt"></th>
                            <th width="40pt">Job #</th>
                            <th>Job name</th>
                            <th width="50pt">Resource</th>
                        
                            <th width="100pt">Status</th>
                            
                            <th width="220pt">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in allSensJobs %}
                        <tr>
                            <td><a href="javascript:void(0)" onclick="deleteJob('/sensitivity?reqType=delJob&id={{job.id}}');">Delete</a></td>
                            <td>
                                <span>{{job.number}}</span>
                            </td>
                            <td>
                                <span>{{job.name}}</span>
                            </td>
                            <td>
                                <span>{{job.resource}}</span>
                            </td>
                            <td>
                                {% if job.status == "Running" or job.status == "Finished" %}
                                <span style="color: green" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Pending" %}
                                <span style="color: orange" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Failed" or job.status == "Unknown" or job.status == "Inaccessible" %}
                                <span style="color: red" class="create_msg">{{job.status}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if job.status == "Finished" %}
                                
                                <a href="/sensitivity?id={{job.id}}">View</a>
                                
                                {% elif job.status == "Failed"%}
                                
                                <a href="/sensitivity?id={{job.id}}">Get Debugging Info</a>
                                
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

                {% if allParameterJobs %}
                Parameter Estimation Jobs:
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th width="40pt"></th>
                            <th width="40pt">Job #</th>
                            <th width="200pt">Job name </th>
                            <th width="100pt">Resource </th>
                            <th width="200pt">Status</th>
                            <th width="200pt"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in allParameterJobs %}
                        <tr>
                            <td>
                                {% if job.status|lower == "finished" or job.status|lower == "failed" %}
                                <a href="javascript:void(0)" onclick="deleteJob('/stochoptim?reqType=delJob&id={{job.id}}');">Delete</a>
                                {% else %}
                                <a href="javascript:void(0)" onclick="deleteJob('/stochoptim?reqType=stopJob&id={{job.id}}', deleting = false);">Stop</a>
                                {% endif %}
                            </td>
                            <td>
                                <span>{{job.number}}</span>
                            </td>
                            <td>
                                <span>{{job.name}}</span>
                            </td>
                            <td>
                                <span>{{job.resource}}</span>
                            </td>
                            <td>
                                {% if job.status|lower == "running" or job.status|lower == "finished" %}
                                <span style="color: green" class="create_msg">{{job.status}}</span>
                               
                                {% endif %}
                                {% if job.status|lower == "pending" %}
                                <span style="color: orange" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status|lower == "failed" or job.status|lower == "unknown" or job.status == "Inaccessible" %}
                                <span style="color: red" class="create_msg">{{job.status}}</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/stochoptim/{{job.id}}">View Progress</a>
                                <!--{% if job.status|lower == "running" or job.status|lower == "finished" %}
                                <a href="/stochoptim/{{job.id}}">View Progress</a>
                                {% else %}
                                {% if job.status|lower == "finished" %}
                                <a href="/stochoptim/results/{{job.id}}">Access results</a>
                                {% else %}
                                {% if job.status|lower == "failed" %}
                                <a href="/stochoptim/{{job.id}}">View Progress</a>
                                {% endif %}
                                {% endif %}
                                {% endif %}-->
                            </td>
                            
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

                {% if allExportJobs %}
                Export Jobs (YYYY-MM-DD, hh-mm-ss GMT):
                <br />
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="dataTable">
                    <thead>
                        <tr>
                            <th width="40pt"></th>
                            <th width="40pt">Job #</th>
                            <th>Export Date</th>
                            <th width="200pt">Status</th>
                            <th width="200pt"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in allExportJobs %}
                        <tr>
                            <td><a href="javascript:void(0)" onclick="deleteJob('/export?reqType=delJob&id={{job.id}}');">Delete</a></td>
                            <td>
                                <span>{{job.number}}</span>
                            </td>
                            <td>
                                <span>{{job.startTime}}</span>
                            </td>
                            <td>
                                {% if job.status == "Running" or job.status == "Finished" %}
                                <span style="color: green" class="create_msg">{{job.status}}</span>
                               
                                {% endif %}
                                {% if job.status == "Pending" %}
                                <span style="color: orange" class="create_msg">{{job.status}}</span>
                                {% endif %}
                                {% if job.status == "Failed" or job.status == "Unknown" or job.status == "Inaccessible" %}
                                <span style="color: red" class="create_msg">{{job.status}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if job.status == "Finished" %}
                                <a href="/static/tmp/{{job.outData}}">Download Archive</a>
                                {% else %}
                                {% if job.status == "Failed" %}
                                <a href="/static/tmp/{{job.outData}}">Get Debugging Info</a>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

                {% if not (allParameterJobs or allExportJobs or allSensJobs or all_jobs or allSpatialJobs) %}
                No jobs in system<br /><br />
                {% endif %}
                <button type="submit" class="btn btn-primary btn-large" name="refresh"><i class="icon-refresh"></i> Refresh</button>
            </form>
            
            {% if msg %}
            {% if status == False %}
            <span style="color: red" class="create_msg">{{msg}}</span>
            {% else %}
            <span style="color: green" class="create_msg">{{msg}}</span>
            {% endif %}
            {% endif %}
            
	    
        </div>
    </div>
</div>

<script>
function deleteJob(path, deleting)
{
    if(typeof(deleting) == 'undefined' || deleting)
    {
        msg = "Deleting the job...";
    }
    else
    {
        msg = "Stopping the job...";
    }

    updateMsg( { status: true,
              msg: msg } );
$.ajax({ url : path,
    type : 'POST',
    success : function(data)
    {
        location.reload();
    },
    error : function(data)
    {
        location.reload();
    }});

return false;
}

var updateMsg = function(data)
{
    $( "#msg" ).text(data.msg);
    if(data.status)
    $( "#msg" ).prop('class', 'alert alert-success');
    else
    $( "#msg" ).prop('class', 'alert alert-error');
    $( "#msg" ).show();
};

function rerun(path, type)
{
    if (type == "delete"){
        msg = "Deleting output in cloud...";
    }else if(type == "rerun"){
        msg = "Rerunning job in cloud...";
    }else{
        msg = "Unknown requested type.";
    }
    updateMsg( { status: true,
              msg: msg } );
              
              $.ajax({ url : path,
                     type : 'POST',
                     success : function(data)
                     {
                     updateMsg(data);
                     if(data.status)
                     window.location = '/status';
                     },
                     error : function(data)
                     {
                     location.reload();
                     }});
                     
                     return false;
}

</script>

{% endblock %}
