{% extends "base.html" %}
{% block title%}Job Summary{% endblock %}
{% block content %}

<style type=text/css>
    p.thispage {font-size: 16px;}
    a.thispage {font-size: 16px;}
    span.thispage {font-size: 16px;}
</style>

 <div class="span10">
	<div class="row-fluid">
		<div class="span10">
    
            <h2> Job summary: <span style="COLOR:green;">{{stochkit_job.name}}</span></h2>
            </br>
            <div class="well">
                        
            <h3>Metadata</h3>
                <p class="thispage">
                Resource:</t> {{stochkit_job.resource}}
                <!--</br>
                Number of trajectories: stochkit_job.realizations-->
                </br>
                Simulation endtime: {{stochkit_job.final_time}}
                </br>
                {% if local_data %}
                Stochkit input file: </span> <a href="/output/servestatic?filename={{stochkit_job.output_location}}/{{stochkit_job.uuid}}.xml" class="thispage"> {{stochkit_job.uuid}}.xml </a>
                {% endif %}
                </p>
            </div>
            
            <!-- Show the mean and variances if they are present locally. -->
            {% if local_data %}
            <div class="well">
                <h3> Visualization </h3>
                <span class="thispage"><a href="/output/visualize?job_folder={{stochkit_job.output_location}}&executable={{stochkit_job.algorithm}}" class="thispage"> Plot trajectories</a>
                </br>
               </div>
            {% endif %}

            {% if debug %}
            <div class="well">
                <h3> Debug Info </h3>
                <hr>
                These are the standard streams from the Stochkit executable used to run the job
                <hr>
                <h5>Stdout</h5>
                <pre>{{stdout}}</pre>
                <h5>Stderr</h5>
                <pre>{{stderr}}</pre>
                </br>
               </div>
            {% endif %}
            
            
            <div class="well">
            <form id="fetchoutputform" action="/output" method="post">
            <h3>Output</h3>
                </br>
                <span class="thispage"> Local path: {{stochkit_job.output_location}} </span>
                <!-- </br>
                <span> Available locally: True</span> -->
                </br>
                <!-- We show the output URL if it is a cloud job -->
                {% if stochkit_job.resource == "Cloud" %}
                <span class="thispage">Remote URL: </span><a href="{{stochkit_job.output_url}}" class="thispage">{{stochkit_job.output_url}}</a>
                {% endif %}
                </br></br>
                <!--  We show the export button if the output data is present locally -->
                {% if local_data %}
                {% endif %}
                
                <!--<input type="submit" class="btn btn-primary btn-large dropdown-toggle" value="Export"></a> -->
                <!-- We show the "Fetch remote" button if the job is a Cloud job and the local data is not present -->
               
                {% if stochkit_job.resource == "Cloud" and not local_data %}
                    <button type="submit" class="btn btn-primary btn-large"><i class="icon-download-alt"></i> Fetch Remote</button>
                    <input type="hidden" name="fetch_remote" value="fetch_remote">
                    <input type="hidden" name="job_name" value="{{job_name}}">
                {% endif %}
            </div>
            </form>
        </div>
</div>

{% if msg %}
{% if status == False %}
<span style="color: red" class="create_msg">{{msg}}</span>
{% else %}
<span style="color: green" class="create_msg">{{msg}}</span>
{% endif %}
{% endif %}

{% endblock %}
