{% extends "base.html" %}
{% block title%}Manage Simulations{% endblock %}
{% block csscontent %}{% endblock %}
{% block content %}

<div class="span9">
    <div class="row-fluid">
        <h2> Job summary: <span style="COLOR:green;">{{ jobName }}</span></h2>
        <br />
        <div class="well">                    
            <h3>Metadata</h3>
            <p class="thispage">
                Resource: {{ resource }}
                <br />
                Simulation status: {{ status }}
                <br />
                Stochkit model: <a href="/modeleditor?model_edited={{ modelName }}" class="thispage"> {{ modelName }} </a>
            </p>
        </div>

        <center>
            <font size="3">
                <span class="stageometer stage0">Initializing</span> --
                <span class="stageometer stage1">Stage 1</span> --
                <span class="stageometer stage2">Stage 2</span> --
                <span class="stageometer stage3">Stage 3</span> --
                <span class="stageometer stage4">Finished</span> --
                <span class="stageometer stage5">Failed</span>
            </font>
        </center>

        <div id="stochoptim">
        </div>

        <div id="msg">
        </div>

        <div class="well">
            <h3>Output</h3>
            <br />
            <button id="access" type="submit" class="btn btn-primary btn-large"><i class="icon-download-alt"></i> Fetch Copy of Current Data</button>
            <br />
            <br />
            <button id="create" type="submit" class="btn btn-primary btn-large"> Create Model from Current Estimates</button>
            <input type="text" class="span3" id="name" value="{{ modelName }}_model" />
        </div>

        <div id="stdout" style="display : none;">{{ stdout }}</div>
        <div id="stderr" style="display : none;">{{ stderr }}</div>
        <div id="nameToIndex" style="display : none;"> {{ nameToIndex }}</div>
        <div id="activate" style="display : none;"> {{ activate }}</div>
        <div id="status" style="display : none;"> {{ status }}</div>
    </div>
</div>
{% endblock %}

{% block jscontent %}
<script type="text/javascript" src = "/static/js/underscore.js"></script>
<script type="text/javascript" src = "/static/utils.js"></script>
<script type="text/javascript" src = "/static/js/backbone.js"></script>
<script type="text/javascript" src = "/static/model/stochkit.js"></script>
<link rel="stylesheet" href="/static/css/nv.d3.css">

<script type="text/javascript" src = "/static/js/purl.js"></script>
<script type="text/javascript" src = "/static/js/d3.v3.js"></script>
<script type="text/javascript" src = "/static/js/nv.d3.js"></script>
<script type="text/javascript" src = "/static/js/tablePlot.js"></script>
<script src="/static/js/jfu/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jfu/js/jquery.fileupload.js"></script>
<script type="text/javascript" src = "/static/js/fileserver.js"></script>
<script type="text/javascript" src = "/static/js/stochoptimvisualize.js"></script>
{% endblock %}
