{% extends "base.html" %}
{% block title%}Job Summary{% endblock %}
{% block content %}

<style type=text/css>
    p.thispage {font-size: 16px;}
    a.thispage {font-size: 16px;}
    span.thispage {font-size: 16px;}
</style>

 <div class="span10">
	<div class="row-fluid">
		<div class="span10">
    
            <h2> Job summary: <span style="COLOR:green;">{{job.name}}</span></h2>
            </br>
            <div class="well">
                        
            <h3>Metadata</h3>
                <p class="thispage">
                Resource:</t> {{job.resource}}
                <!--</br>
                Number of trajectories: job.realizations-->
                </br>
                Simulation endtime: {{job.indata.final_time}}
                </br>
                {% if local_data %}
                Stochkit input file: </span> <a href="/output/servestatic?filename={{job.output_location}}/{{job.uuid}}.xml" class="thispage"> {{job.uuid}}.xml </a>
                {% endif %}
                </p>
            </div>
            
            <!-- Show the mean and variances if they are present locally. -->
            {% if local_data %}
            <div class="well">
                <h3> Visualization </h3>
                <span class="thispage"><a href="/output/visualize?job_folder={{job.output_location}}&exec_type={{job.exec_type}}&units={{job.units}}" class="thispage"> Plot trajectories</a>
                </br>
               </div>
            {% endif %}

            {% if debug %}
            <div class="well">
                <h3> Debug Info </h3>
                <hr>
                {% if job.resource | lower == "cloud" %}
                <h5>Cloud Exception</h5>
                <pre>{{exception_message}}</pre>
                <hr>
                {% endif %}
                <h5>Stdout</h5>
                <pre>{{stdout}}</pre>
                <h5>Stderr</h5>
                <pre>{{stderr}}</pre>
                </br>
               </div>
            {% endif %}
            
            
            <div class="well">
                <form id="fetchoutputform" action="/output/{{job_name}}.tgz" method="post">
                    <h3>Output</h3>
                    <br />
                    {% if job.resource | lower == "cloud" and not (local_data or debug) %}
                    <button type="submit" class="btn btn-primary btn-large"><i class="icon-download-alt"></i> Fetch Data from Cloud</button>
                    <input type="hidden" name="fetch_remote" value="fetch_remote">
                    <input type="hidden" name="job_name" value="{{job_name}}">
                    {% else %}
                    <button type="submit" class="btn btn-primary btn-large"><i class="icon-download-alt"></i> Access Local Data</button>
                    <input type="hidden" name="fetch_local" value="fetch_local">
                    <input type="hidden" name="job_name" value="{{job_name}}">
                    {% endif %}
                </form>
            </div>
        </div>
</div>

{% if msg %}
{% if status == False %}
<span style="color: red" class="create_msg">{{msg}}</span>
{% else %}
<span style="color: green" class="create_msg">{{msg}}</span>
{% endif %}
{% endif %}

{% endblock %}
