div#boundary-conditions.card

  div.card-header.pb-0

    h3.inline.mr-3 Boundary Conditions

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="bc-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="bc-edit-tab" data-toggle="tab" href="#edit-boundary-conditions") Edit

        li.nav-item

          a.nav-link.tab(data-hook="bc-view-tab" data-toggle="tab" href="#view-boundary-conditions") View

    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-boundary-conditions", data-hook="collapse") +

  div.card-body.collapse.tab-content(id="collapse-boundary-conditions")

    div.tab-pane.active(id="edit-boundary-conditions" data-hook="edit-boundary-conditions")

      p Set spatial regions of the domain where a property of particles are held constant.

      hr

      div.mx-1.row.head

        div.col-sm-3: h6 <b>Name</b>

        div.col-sm-5: h6 <b>Expression</b>

        div.col-sm-2

          div.inline <b>Annotation</b>

          div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.annotation) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

        div.col-sm-2: h6 <b>Remove</b>

      div.mt-3(data-hook="edit-boundary-conditions")

    div.tab-pane(id="view-boundary-conditions" data-hook="view-boundary-conditions")

      div.mx-1.row.head

        div.col-sm-3: h6 <b>Name</b>

        div.col-sm-7: h6 <b>Expression</b>

        div.col-sm-2

          div.inline <b>Annotation</b>

          div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.annotation) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

      div.mt-3(data-hook="view-boundary-conditions")
