tr

  td: div(id="given-name-container" data-hook="given-name-container")=this.model.fname

  td: div(id="family-name-container" data-hook="family-name-container")=this.model.lname

  td: div(id="email-container" data-hook="email-container")=this.model.email

  td: div(id="organization-container" data-hook="organization-container")=this.model.organization

  td: button.btn.btn-outline-secondary.box-shadow(id="remove-creator-btn" data-hook="remove-creator-btn") X