tr

  td: div(data-hook="given-name-container")=this.model.fname

  td: div(data-hook="family-name-container")=this.model.lname

  td: div(data-hook="email-container")=this.model.email

  td: div(data-hook="organization-container")=this.model.organization

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="remove-creator-btn") X