div#deterministic-settings.card.card-body

  div.row

    h5 Advanced Settings
  
    button.btn.btn-outline-collapse(data-toggle='collapse', data-target='#advanced-settings', data-hook='advanced-settings-button') +

  div(id='advanced-settings', class='collapse', data-hook='advanced-settings')
    table.table
      thread
        tr
          th(scope="col", colspan="2") Relative Tolerance

        tr
          td(colspan="2"): div(data-hook="relative-tolerance-container")

      thread
        tr
          th(scope="col", colspan="2") Absolute Tolerance

        tr
          td(colspan="2"): div(data-hook="absolute-tolerance-container")

    p.text-danger Currently the relative tolerance and the absolute tolerance are not being used by the Basic ODE solver.  This is a work in progress by the GillesPy2 team.