tr

  td: div(id="event-assignment-variable", data-hook="event-assignment-variable")

  td: div(id="event-assignment-Expression", data-hook="event-assignment-Expression")

  td: button.btn.btn-outline-secondary(id="remove", data-hook="remove") X