tr

  td: div(data-hook="rule-name")

  td: div(data-hook="rule-type")

  td: div(data-hook="rule-variable")

  td: div(data-hook="rule-expression")

  td: button.btn.btn-outline-secondary(data-hook="edit-annotation-btn") Edit

  td: button.btn.btn-outline-secondary(data-hook="remove") X