div#edit-project-experiments

  div

    h3.inline Experiments

  hr

  div.mx-1.row.head

    div.col-sm-5: h6 <b>Name</b>
    div.col-sm-2: h6 <b>View Workflows</b>
    div.col-sm-2: h6 <b>New Workflow</b>
    div.col-sm-2: h6 <b>Add Existing Workflow</b>
    div.col-sm-1: h6 <b>Remove</b>

  div.mt-3(data-hook="project-experiments-list")