tr

  td.name: div(id="specie-name", data-hook="specie-name")=this.model.name

  td: div(id="specie-mode", data-hook="specie-mode")

  td
    div.switching
      input(type="radio", name=this.model.name + "-switch-method", id="switching-tol", data-hook="switching-tol") 
      |  Switching Tolerance

    div.switching
      input(type="radio", name=this.model.name + "-switch-method", id="switching-min", data-hook="switching-min")
      |  Minimum Value for Switching (number of molecules)

  td
    div(id="switching-tolerance", data-hook="switching-tolerance")
  
    div(id="switching-threshold", data-hook="switching-threshold")