table.table

  thead

    tr

      th(scope="col") Count

      th(scope="col") X

      th(scope="col") Y

      th(scope="col") Z

  tbody

    tr

      td: div(id="count-container", data-hook="count-container")

      td: div(id="x-container", data-hook="x-container")

      td: div(id="y-container", data-hook="y-container")

      td: div(id="z-container", data-hook="z-container")