tr

  td.name(style="width:40%;")=this.model.name

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-model-edit") Edit

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-model-workflow") New Workflow

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-model-extract") Extract

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-model-remove") X