tr

  td.name: div(data-hook="input-name-container")
          
  td: div(data-hook="input-diffusion-coeff-container")

  td: div.row(data-hook="species-types")
    
  td: button.btn.btn-outline-secondary(data-hook="remove") X