div
  label.select
    span(id="ratio", data-hook="ratio")
    select(id="select-stoich-specie", data-hook="select-stoich-specie")
      span.message.message-below.message-error(id="message-container", data-hook="message-container")
        p(id="message-text", data-hook="message-text")