div

  div.ml-1.row

    div.col-md-5.name=this.model.name

    div.col-md-2: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-view") View

    div.col-md-2: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-new-workflow") New

    div.col-md-2: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-add-workflow") Add

    div.col-md-1: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-remove") X

  div.ml-5.verticle-space.col-md-11.col-lg-10.collapse(data-hook="project-workflows-container")

  hr