tr
  td: div
    input.form-control(data-hook="name", type="text")
    div.invalid-feedback(data-hook="invalid-name-feedback")
      
  td: input(data-hook="initial-value", type="text")
  
  td: button.btn.btn-outline-secondary(data-hook="remove") X

