div#edit-project-experiments

  div

    h3.inline Experiments

  table.table

    thead

      tr

        th(scope="col") Name
        th(scope="col") View Workflows
        th(scope="col") New Workflow
        th(scope="col") Add Existing Workflow
        th(scope="col") Remove

    tbody(data-hook="project-experiments-list")