tr

  td.name(style="width:40%;")=this.model.name

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-view") View Workflows

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-new-workflow") New Workflow

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-add-workflow") Add Workflow

  td: button.btn.btn-outline-secondary.box-shadow(data-hook="project-experiment-remove") X