tr

  td: div(id="initial-condition-type", data-hook="initial-condition-type")

  td: div(id="initial-condition-species", data-hook="initial-condition-species")

  td: div(id="initial-condition-details", data-hook="initial-condition-details")

  td: button.btn.btn-outline-secondary(id="remove", data-hook="remove") X