tr

  td.name: div(data-hook="specie-name")=this.model.name

  td: div(data-hook="specie-mode")

  td
    div.switching
      input(type="radio", name=this.model.name + "-switch-method", data-hook="switching-tol") 
      |  Switching Tolerance

    div.switching
      input(type="radio", name=this.model.name + "-switch-method", data-hook="switching-min")
      |  Minimum Value for Switching (number of molecules)

  td
    div(data-hook="switching-tolerance")
  
    div(data-hook="switching-threshold")