div.card.card-body

  div

    h4.mt-3 Particles Distribution

    table.table
      thead
        tr
          th(scope="col")
          th(scope="col") X-Plane
          th(scope="col") Y-Plane
          th(scope="col") Z-Plane
          th(scope="col") Total
      tbody
        tr
          th(scope="row") Number of Particles
          td: div(data-target="num-particles" data-hook="nx")
          td: div(data-target="num-particles" data-hook="ny")
          td: div(data-target="num-particles" data-hook="nz")
          td: div(data-hook="total")

  div

    h4 Domain Limits

    table.table
      thead
        tr
          th(scope="col")
          th(scope="col") X-Axis
          th(scope="col") Y-Axis
          th(scope="col") Z-Axis
      tbody
        tr
          th(scope="row") Minimum
          td: div(data-target="limits" data-hook="xLim-min")
          td: div(data-target="limits" data-hook="yLim-min")
          td: div(data-target="limits" data-hook="zLim-min")
        tr
          th(scope="row") Maximum
          td: div(data-target="limits" data-hook="xLim-max")
          td: div(data-target="limits" data-hook="yLim-max")
          td: div(data-target="limits" data-hook="zLim-max")

  div

    h4.inline Advanced

    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#create-3D-domain-advanced", data-hook="collapse") +

  div.collapse(id="create-3D-domain-advanced" data-hook="3D-domain-advanced-container")

    div(data-hook="type-select")

    h5 Type Defaults

    table.table
      thead
        tr
          th(scope="col") Mass
          th(scope="col") Volume
          th(scope="col") Viscosity
          th(scope="col") Fixed

      tbody
        tr
          td: div(data-hook="mass")
          td: div(data-hook="volume")
          td: div(data-hook="nu")
          td: input(type="checkbox" data-hook="fixed" disabled)

    h5 Particle Transformations

    table.table
      thead
        tr
          th(scope="col") X-Axis
          th(scope="col") Y-Axis
          th(scope="col") Z-Axis
      tbody
        tr
          td: div(data-hook="domain-x-trans")
          td: div(data-hook="domain-y-trans")
          td: div(data-hook="domain-z-trans")

  div.inline

    button.btn.btn-outline-primary(data-hook="build-domain") Build Domain

  div.mdl-edit-btn.saving-status.inline(data-hook="cd-in-progress")

    div.spinner-grow.mr-2

    span(data-hook="cd-action-in-progress")

  div.mdl-edit-btn.saved-status.inline(data-hook="cd-complete")

    span(data-hook="cd-action-complete")

  div.mdl-edit-btn.save-error-status(data-hook="cd-error")

    span(data-hook="cd-action-error")
