tr

  td: span=this.model.name

  td: div(data-hook="specie-mode")

  td: div(data-hook="switching-value")

  td
    input(type="radio", name=this.model.name + "-switch-method", data-hook="switching-tol") 
    |  Is Switching Tolerance

  td
    input(type="radio", name=this.model.name + "-switch-method", data-hook="switching-min")
    |  Is Minimum Deterministic Value for Switching