div#edit-project-workflows

  div.mx-1.row.head

  div.mt-3(id="project-workflows-list" data-hook="project-workflows-list")

  div

    button.btn.btn-outline-primary.box-shadow(
      id="project-workflow-group-new-workflow",
      data-hook="project-workflow-group-new-workflow"
    ) Add New Workflow
