tr
  td.name: div(id="input-name-container", data-hook="input-name-container")
          
  td: div(id="input-diffusion-coeff-container", data-hook="input-diffusion-coeff-container")

  td: div.row(id="subdomains", data-hook="subdomains")
    
  td: button.btn.btn-outline-secondary(id="remove", data-hook="remove") X