div.card.card-body

  div

    h4.inline.mr-2 Location:

    div.inline.mr-2 (x:

    div.inline.ml2(data-target="location" data-hook="x-coord-" + this.viewIndex)

    div.inline.mr-2 ,  y:

    div.inline.ml2(data-target="location" data-hook="y-coord-" + this.viewIndex)

    div.inline.mr-2 ,  z:

    div.inline.ml2(data-target="location" data-hook="z-coord-" + this.viewIndex)

    div.inline )

  h4 Particle Properties

  table.table
    thead
      tr
        th(scope="row") Type
        th(scope="row") Mass
        th(scope="row") Volume
        th(scope="row") Viscosity
        th(scope="row") Fixed

    tbody
      tr
        td: div(data-target="type" data-hook="type-" + this.viewIndex)
        td: div(data-target="mass" data-hook="mass-" + this.viewIndex)
        td: div(data-target="volume" data-hook="volume-" + this.viewIndex)
        td: div(data-target="nu" data-hook="nu-" + this.viewIndex)
        td: input(type="checkbox" data-target="fixed" data-hook="fixed-" + this.viewIndex)

  div

    div(data-hook="new-particle-btns-" + this.viewIndex)

      button.btn.btn-outline-primary.box-shadow(data-hook="add-particle") Add Particle

    div(data-hook="edit-particle-btns-" + this.viewIndex)

      button.btn.btn-outline-primary.box-shadow.ml-2(data-hook="save-particle") Save Particle

      button.btn.btn-outline-primary.box-shadow.ml-2(data-hook="remove-particle") Remove Particle
