div#edit-project-workflows

  div

    h3.inline Workflows

  hr

  div.mx-1.row.head

    div.col-md-7: h6 <b>Name</b>
    div.col-md-2: h6 <b>Open Workflow</b>
    div.col-md-2: h6 <b>Status</b>
    div.col-md-1: h6 <b>Move to Trash</b>

  div.mt-3(data-hook="project-workflows-list")