div

  div.ml-1.row

    div.col-md-7.name=this.model.name

    div.col-md-2: button.btn.btn-outline-secondary.box-shadow(data-hook="project-workflow-open") Open

    div.col-md-2.name=this.model.status

    div.col-md-1: button.btn.btn-outline-secondary.box-shadow(data-hook="project-workflow-remove") X

  hr