tr

  td: div(data-hook="initial-condition-type")

  td: div(data-hook="initial-condition-species")

  td: div(data-hook="initial-condition-details")

  td: button.btn.btn-outline-secondary(data-hook="remove") X