table.table

  thead

    tr

      th(scope="col") Count

      th(scope="col") X

      th(scope="col") Y

      th(scope="col") Z

  tbody

    tr

      td: div(data-hook="count-container")

      td: div(data-hook="x-container")

      td: div(data-hook="y-container")

      td: div(data-hook="z-container")