div#edit-project-models

  div

    h3.inline Models

  table.table

    thead

      tr

        th(scope="col") Name
        th(scope="col") Edit
        th(scope="col") New Workflow
        th(scope="col") Extract
        th(scope="col") Remove

    tbody(data-hook="project-models-list")