tr

  td: div(data-hook="event-name-container")

  td: div(data-hook="event-delay-container")

  td: div(data-hook="event-priority-container")

  td: div(data-hook="event-trigger-container")

  td: input(type="checkbox", data-hook="event-init-value-container")

  td: input(type="checkbox", data-hook="event-persistent-container")

  td: div(data-hook="event-assignment-container")

  td: button.btn.btn-outline-secondary(data-hook="remove") X