div#edit-project-models

  div

    h3.inline Models

  hr

  div.mx-1.row.head

    div.col-md-5: h6 <b>Name</b>
    div.col-md-2: h6 <b>Edit</b>
    div.col-md-2: h6 <b>New Workflow</b>
    div.col-md-2: h6 <b>Export</b>
    div.col-md-1: h6 <b>Move to Trash</b>

  div.mt-3(data-hook="project-models-list")