tr

  td: span=this.model.name

  td: div(data-hook="specie-mode")

  td: div(data-hook="switching-value")

  td
    input(type="radio", name="switch-method", data-hook="switching-tol", checked) 
    |  Is Switching Tolerance

  td
    input(type="radio", name="switch-method", data-hook="switching-max")
    |  Is Maximum for Switching