div#edit-project-experiments

  div

    h3.inline Experiments

  hr

  div.mx-1.row.head

    div.col-md-5: h6 <b>Name</b>
    div.col-md-2: h6 <b>View Workflows</b>
    div.col-md-2: h6 <b>Add Workflow</b>
    div.col-md-2: h6 <b>Export as Combine</b>
    div.col-md-1: h6 <b>Move to Trash</b>

  div.mt-3(data-hook="project-experiments-list")