tr
  td: div(data-hook="input-name-container")
          
  td: div(data-hook="input-value-container")

  td: button.btn.btn-outline-secondary(data-hook="edit-annotation-btn") Edit
  
  td: button.btn.btn-outline-secondary(data-hook="remove") X