table.table

  thead

    tr

      th(scope="col") Count

      th(scope="col") Subdomain

  tbody

    tr

      td: div(id="count-container", data-hook="count-container")

      td: div(id="subdomain-container", data-hook="subdomain-container")