tr

  td: input(type="radio", data-hook="select", name="event-select")

  td.name: div(data-hook="event-name-container")

  td: button.btn.btn-outline-secondary(data-hook="edit-annotation-btn") Edit

  td: button.btn.btn-outline-secondary(data-hook="remove") X