div(data-hook="event-details")

  div(data-hook="event-trigger-expression" style="display: block;")

  div

    h6.editor-header Advanced
    button.btn.btn-outline-collapse(data-toggle='collapse', data-target='#advanced-events', data-hook='advanced-event-button') +

  div.collapse(id="advanced-events")

    div.row

      div.col-md-6(data-hook="event-delay")

      div.col-md-6(data-hook="event-priority")

    div.row

      div.col-md-6

        span.checkbox(for="initial-value") Initial Value:

        input(type="checkbox", id="initial-value", data-hook="event-trigger-init-value")

      div.col-md-6

        span.checkbox(for="persistent") Persistent: 

        input(type="checkbox", id="persistent", data-hook="event-trigger-persistent")

    div.row

      div.col-md-12

        span.checkbox(for="use-values-from-trigger-time") Use Values From Trigger Time: 

        input(type="checkbox", id="use-values-from-trigger-time", data-hook="use-values-from-trigger-time")

  h5 Assignments

  div(data-hook="event-assignments")