div#events-viewer.card.card-body

  div

    h3.inline Events
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-model-events-viewer", data-hook="collapse") -

  div.row.collapse(class="show", id="collapse-model-events-viewer")

    table.table

      thead

        tr

          th(scope="col") Name

          th(scope="col") Triggger Expression

          th(scope="col") Assignments

          th(scope="col") Advanced

          if this.containsMdlWithAnn
            th.col-md-3-view(scope="col") Annotation

      tbody(data-hook="view-events-container")

    if this.collection.parent.for === "edit"
      button.btn.btn-outline-primary.box-shadow(data-hook="edit-events") Edit Events
