div(data-hook="event-details" style="margin-top: 2px;")

  table.table.event

    thead

      tr

        th(scope="col") Delay

        th(scope="col") Priority

      tr

        td: div(data-hook="event-delay")

        td: div(data-hook="event-priority")

  h5 Trigger

  table.table.event

    thead

      tr

        th(scope="col") Expression

        th(scope="col") Initial Value

        th(scope="col") Persistent

      tr

        td: div(data-hook="event-trigger-expression")

        td: input(type="checkbox", id="initial-value", data-hook="event-trigger-init-value")

        td: input(type="checkbox", id="persistent", data-hook="event-trigger-persistent")

  h5 Assignments

  div(data-hook="event-assignments")