div#experiments-viewer.card.card-body

  div

    h3.inline Experiments
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-experiments", data-hook="collapse-experiments") +

  div.collapse(id="collapse-experiments")

    div(data-hook="experiment-container")