div#experiment-viewer.card.card-body

  div

    h3.inline=this.model.name
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-experiment", data-hook="collapse-experiment") +

  div.collapse(id="collapse-experiment")

