div#experiment-viewer.card.card-body

  div

    h3.inline=this.model.name
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-experiment"+this.model.name, id="collapse-experiment" data-hook="collapse-experiment") +

  div.collapse(id="collapse-experiment"+this.model.name)

    div(id="workflows-viewer-container" data-hook="workflows-viewer-container")