div#initial-conditions.card.card-body

  div

    h3.inline Initial Conditions

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#initial-condition" data-hook="initial-condition-button") -

  div.collapse.show(id="initial-condition" data-hook="initial-conditions")

    table.table

      thead
    
        tr
    
          th(scope="col") Type
    
          th(scope="col") Variable

          th(scope="col") Count
    
          th(scope="col") Details
    
      tbody(data-hook="initial-conditions-collection")

    if this.collection.parent.for === "edit"
      button.btn.btn-outline-primary.box-shadow(data-hook="edit-species") Edit Variables