div#job-editor.card.card-body

  h2 Job Editor

  div.collapse(class="show", data-hook="job-editor-container")

    div.col-md-12(data-hook="model-name-container")

    div(data-hook="sim-settings-container")

    div.col-md-12(data-hook="job-state-buttons-container")