div#mesh-editor.card.card-body

  div.row

    h3 Mesh Editor

    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-mesh", data-hook="collapse") +

  div.collapse(class="show", id="collapse-mesh")

    table.table
      thread
        tr
          td:  div(data-hook="num-subdomains-container")