div#mesh-editor.card.card-body

  div

    h3.editor-header Mesh Editor
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-mesh", data-hook="collapse") -

  div.collapse(class="show", id="collapse-mesh")

    table.table
      tbody
        tr
          td:  div(data-hook="num-subdomains-container")