div#model-settings-viewer.card.card-body

  div

    h3.inline Model Settings
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-model-settings-viewer", data-hook="collapse") -

  div.row.collapse(class="show", id="collapse-model-settings-viewer")

    table.table

      thead

        tr

          th(scope="col") End Simulation

          th(scope="col") Time Steps
          
          th(scope="col") Volume

      tbody

        tr

          td=this.model.endSim

          td=this.model.timeStep

          td=this.model.volume