div#model-viewer.card.card-body

  div

    h3.inline Model
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-model", id="collapse-model", data-hook="collapse-model" disabled) +

  div.collapse(id="collapse-model")

    div: h5=this.model.name

    div(id="species-viewer-container", data-hook="species-viewer-container")

    div(id="parameters-viewer-container", data-hook="parameters-viewer-container")

    div(id="reactions-viewer-container", data-hook="reactions-viewer-container")

    div(id="events-viewer-container", data-hook="events-viewer-container")

    div(id="rules-viewer-container", data-hook="rules-viewer-container")

    div(id="model-settings-viewer-container", data-hook="model-settings-viewer-container")