div.card.card-body

  div(id="model-viewer-header")

    h3.inline="Review Model: "+this.model.name

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-model" data-hook="collapse-model") +

  div.collapse(id="collapse-model")

    div(data-hook="species-viewer-container")

    div(data-hook="parameters-viewer-container")

    div(data-hook="reactions-viewer-container")

    div(data-hook="events-viewer-container")

    div(data-hook="rules-viewer-container")

    div(data-hook="sbml-components-viewer-container")

    div.card.card-body="System Volume: "+this.model.volume
