div.card.card-body

  div(id="model-viewer-header")

    h3.inline="Review Model: "+this.model.name
    button.btn.btn-outline-collapse(id=this.model.name, data-toggle="collapse", data-target="#collapse-model"+this.model.name, data-hook="collapse-model") +

  div.collapse(id="collapse-model"+this.model.name)

    div(data-hook="species-viewer-container")

    div(data-hook="parameters-viewer-container")

    div(data-hook="reactions-viewer-container")

    div(data-hook="events-viewer-container")

    div(data-hook="rules-viewer-container")

    div(data-hook="model-settings-viewer-container")