div#models-viewer.card.card-body

  div

    h3.inline Models
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-models", id="collapse-models-btn" data-hook="collapse-models") +

  div.collapse(id="collapse-models")

    div(id="model-container" data-hook="model-container")