div#model-viewer.card.card-body

  div(id="model-viewer-header")

    h3.inline=this.model.name
    button.btn.btn-outline-collapse(id=this.model.name, data-toggle="collapse", data-target="#collapse-model"+this.model.name, data-hook="collapse-model" disabled) +

  div.collapse(id="collapse-model"+this.model.name)

    div(id="species-viewer-container" data-hook="species-viewer-container")

    div(id="parameters-viewer-container" data-hook="parameters-viewer-container")

    div(id="reactions-viewer-container" data-hook="reactions-viewer-container")

    div(id="events-viewer-container" data-hook="events-viewer-container")

    div(id="rules-viewer-container" data-hook="rules-viewer-container")

    div(id="model-settings-viewer-container" data-hook="model-settings-viewer-container")