div#parameters-viewer.card.card-body

  div

    h3.inline Parameters
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-parameters", data-hook="collapse") -

  div.collapse(class="show", id="collapse-parameters")

    table.table
      thead
        tr
          th.col-md-3-view(scope="col") Name
          th.col-md-9-view(scope="col") Expression
        
      tbody(data-hook="parameter-list")