div#parameters-editor.card.card-body

  div

    h3.editor-header Parameters Editor
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-parameters", data-hook="collapse") -

  div.collapse(class="show", id="collapse-parameters")

    table.table
      thead
        tr
          th(scope="col") Name
          th(scope="col") Value
          th(scope="col") Remove
        
      tbody(data-hook="parameter-list")

    button.btn.btn-outline-primary(data-hook="add-parameter", type="button")
      | Add Parameter