div.card.card-body

    div

        h5.inline=this.heading
        button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse"+this.model.key+this.model.stamp data-hook="collapse-plot")

    div.collapse(class="show", id="collapse"+this.model.key+this.model.stamp)

        div(data-hook=this.model.key+this.model.stamp)