div#project-viewer.card.card-body

  div

    h3.inline Project Viewer
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-project", data-hook="collapse-project") +

  div.collapse(id="collapse-project")

    div(data-hook="models-collection-container")