tr
  td
    input(type="radio", data-hook="select", name="reaction-select")
  td
    div(data-hook="input-name-container")
  td
    span(data-hook="summary")
  td
    button.btn.btn-outline-secondary(data-hook="remove") X