div#reactions-viewer.card.card-body

  div

    h3.editor-header Reactions
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-reactions", data-hook="collapse") -

  div.collapse(class="show", id="collapse-reactions")

    table.table
      thead
        tr
          th.col-md-3-view(scope="col") Name
          th.col-md-3-view(scope="col") Summary
          th.col-md-6-view(scope="col") Rate
        
      tbody(data-hook="reaction-list")