div.row(data-hook="reaction-details")

  div.reaction-summary Summary: 

  div(data-hook="summary-container", id="reaction-summary")

  div.col-md-12(data-hook="select-reaction-type")

  div.col-md-12(data-hook="select-rate-parameter")

  div.col-md-12(class="collapse", data-hook="subdomains-editor")
  
  div.col-md-6(data-hook="reactants-editor")

  div.col-md-6(data-hook="products-editor")

  div.collapse(data-hook="conflicting-modes-message")

    p.text-warning <b>Warning</b>: This reaction containes Stoich Species with modes of 'Concentration' and 'Hybrid Concentration/Population' and will fire stochastically.