div#rules-viewer.card.card-body

  div

    h3.inline Rules
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-rules", data-hook="collapse") -

  div.collapse(class="show", id="collapse-rules")

    table.table
      thead
        tr
          th.col-md-3-view(scope="col") Name
          th.col-md-3-view(scope="col") Type
          th.col-md-3-view(scope="col") Variable
          th.col-md-3-view(scope="col") Formula
          if this.containsMdlWithAnn
            th.col-md-3-view(scope="col") Annotation
        
      tbody(data-hook="rules-list")

    if this.collection.parent.for === "edit"
      button.btn.btn-outline-primary.box-shadow(data-hook="edit-rules") Edit Rules
