div#simulation-settings.card.card-body

  div

    h3.editor-header Simulation Settings
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-settings", data-hook="collapse") -

  div.collapse(class="show", id="collapse-settings")

    table.table
      thead
        tr
          th(scope="col", colspan="5") Simulation Algorithm
      tbody
        tr
          td
            input(type="radio", name="simAlgorithm", data-hook="select-ode", data-name="ODE")
            |  ODE

          td
            input(type="radio", name="simAlgorithm", data-hook="select-ssa", data-name="SSA")
            |  SSA

          td
            input(type="radio", name="simAlgorithm", data-hook="select-tau-leaping", data-name="Tau-Leaping")
            |  Tau Leaping

          td
            input(type="radio", name="simAlgorithm", data-hook="select-hybrid-tau", data-name="Hybrid-Tau-Leaping")
            |  Hybrid Tau Leaping

          td
            input(type="radio", name="simAlgorithm", data-hook="select-automatic", data-name="Automatic")
            |  Let us choose for you
      
    h5.editor-header Deterministic Settings

    table.table
      thead
        tr
          th(scope="col") Relative Tolerance
          th(scope="col") Absolute Tolerance
      tbody
        tr
          td: div(data-hook="relative-tolerance")
          td: div(data-hook="absolute-tolerance")
    
    h5.editor-header Stochastic Settings

    table.table
      thead
        tr
          th(scope="col") Trajectories
          th(scope="col") Seed
          th(scope="col") Tau Tolerance
          th(scope="col") Switching Tolerance
      tbody
        tr
          td: div(data-hook="trajectories")
          td: div(data-hook="seed")
          td: div(data-hook="tau-tolerance")
          td: div(data-hook="switching-tolerance")