div#sim-settings.card.card-body

  div

    h3.editor-header Simulation Settings
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-settings", data-hook="collapse") -

  div.collapse(class="show", id="collapse-settings")

    table.table
      thead
        tr
          th(scope="col", colspan="2") Simulation Type
      tbody
        tr
          td
            input(type="radio", name="simType", data-hook="select-deterministic", data-name="deterministic")
            |  Deterministic

          td
            input(type="radio", name="simType", data-hook="select-stochastic", data-name="stochastic")
            |   Stochastic
      
    div(data-hook='advanced-settings-container')

    table.table
      thead
        tr
          th(scope="col") Simulation Time

          th(scope="col") Time Units
      tbody
        tr
          td: div(data-hook="end-sim-container")
          
          td: div(data-hook="time-units-container")

          td: div(data-hook="volume-container")