div#species-editor.card

  div.card-header.pb-0

    h3.inline.mr-3 Variables

    div.inline.mr-3

      ul.nav.nav-tabs.card-header-tabs(id="species-tabs")

        li.nav-item

          a.nav-link.tab.active(data-hook="species-edit-tab" data-toggle="tab" href="#edit-species") Edit

        li.nav-item

          a.nav-link.tab(data-hook="species-view-tab" data-toggle="tab" href="#view-species") View

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-species" data-hook="collapse") -

  div.card-body
    p.mb-0
     | Time varying quantities of interest; e.g.: concentrations, populations, or counts of biochemical species, epidemological compartments, chemicals, proteins, or molecules.

    div.collapse.tab-content(class="show" id="collapse-species" data-hook="species-list-container")

      div.tab-pane.active(id="edit-species" data-hook="edit-species")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2

            h6.inline <b>Name</b>

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.name) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-2

            h6.inline <b>Diffusion Constant</b>

          div.col-sm-4

            h6.inline <b>Restricted to Types:</b>

          div.col-sm-2

            h6.inline <b>Annotation</b>

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.annotation) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

          div.col-sm-2

            h6.inline <b>Remove</b>

            div.tooltip-icon(data-html="true" data-toggle="tooltip" title=this.tooltips.remove) <sup><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" class="svg-inline--fa fa-info fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg></sup>

        div.my-3(data-hook="edit-specie-list")

        div(data-hook="species-collection-error"): p.text-danger A model must have at least one variable

        button.btn.btn-outline-primary.box-shadow(data-hook="add-species") Add Variable

      div.tab-pane(id="view-species" data-hook="view-species")

        hr

        div.mx-1.row.head.align-items-baseline

          div.col-sm-2

            h6.inline <b>Name</b>

          div.col-sm-2

            h6.inline <b>Diffusion Constant</b>

          div.col-sm-6

            h6.inline <b>Restricted to Types:</b>

          div.col-sm-2(data-hook="species-annotation-header")

            h6.inline <b>Annotation</b>

        div.my-3(data-hook="view-specie-list")
