div#species-editor.card.card-body

  div

    h3.inline Variables
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-species", data-hook="collapse") -

  div.collapse(class="show", id="collapse-species")

    table.table
      thead
        tr
          th(scope="col") Name
          th(scope="col") Diffusion Constant
          th(scope="col") Active in Types
          th(scope="col") Remove
        
      tbody(data-hook="specie-list")

    button.btn.btn-outline-primary.box-shadow(data-hook="add-species", type="button") Add Variable