div#species-editor.card.card-body

  div

    h3.inline Species Editor
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-species", id="collapse", data-hook="collapse") -

  div.collapse(class="show", id="collapse-species")

    table.table
      thead
        tr
          th(scope="col") Name
          th(scope="col") Diffusion Coefficient
          th(scope="col") Active in Subdomains
          th(scope="col") Remove
        
      tbody(id="specie-list", data-hook="specie-list")

    button.btn.btn-outline-primary(id="add-species", data-hook="add-species", type="button")
      | Add Species