div#species-viewer.card.card-body

  div

    h3.editor-header Species
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-species", data-hook="collapse") -

  div.collapse(class="show", id="collapse-species")

    table.table
      thead
        tr
          th.col-md-3-view(scope="col") Name
          th.col-md-3-view(scope="col") Initial Condition
          th.col-md-6-view(scope="col") Mode
        
      tbody(data-hook="specie-list")