div#species-viewer.card.card-body

  div

    h3.inline Species
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-species", id="collapse", data-hook="collapse") -

  div.collapse(class="show", id="collapse-species")

    table.table
      thead
        tr
          th.col-md-3-view(scope="col") Name
          th.col-md-3-view(scope="col") Initial Condition
          th.col-md-3-view(scope="col") Mode
          th.col-md-3-view(scope="col") Switch Tolerance/Minimum Value for Switching
        
      tbody(id="specie-list", data-hook="specie-list")