div#tau-leaping-settings.card.card-body

  table.table
    thread
      tr
        th(scope="col") Seed

      tr
        td: div(data-hook="seed-container")

    thread
      tr
        th(scope="col") Tau Tolerance

      tr
        td: div(data-hook="tau-tolerance-container")