div#workflow-info-view.card.card-body

  div

    h3.editor-header Info
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-info", data-hook="collapse", disabled) +

  div.collapse(id="collapse-info", data-hook="workflow-info")

    div.collapse

      h5.editor-header Statistics

    div.collapse(data-hook="workflow-warnings")

      h5.editor-header Warnings

      div(data-hook="list-of-warnings")

    div.collapse(data-hook="workflow-errors")

      h5.editor-header Errors

      div(data-hook="list-of-errors")