div.card.card-body

  div

    h3.inline=this.model.name
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-workflow-group"+this.model.name data-hook="collapse-workflow-group") +

  div.collapse(id="collapse-workflow-group"+this.model.name)

    div(data-hook="workflows-viewer-container")