div#workflow-info-view.card.card-body

  div

    h3.inline Info

    button.btn.btn-outline-collapse(data-toggle="collapse" data-target="#collapse-info" data-hook="collapse-info") +

  div.collapse(id="collapse-info" data-hook="workflow-info")

    div.collapse(data-hook="workflow-statistics")

      h5.inline Statistics

      div(data-hook="list-of-notes")

    div.collapse(data-hook="workflow-warnings")

      h5.inline Warnings

      div(data-hook="list-of-warnings")

    div.collapse(data-hook="workflow-errors")

      h5.inline Errors

      div(data-hook="list-of-errors")