div.mdl-edit-btn
  
  button.btn.btn-primary.box-shadow(id="save", data-hook="save") Save

  div.mdl-edit-btn.saving-status(id="saving-workflow", data-hook="saving-workflow")

    div.spinner-grow

    span Saving...

  div.mdl-edit-btn.saved-status(id="saved-workflow", data-hook="saved-workflow")

    span Saved

  div.mdl-edit-btn.save-error-status(id="save-error", data-hook="save-error")

    span Error Saving Model
  
  button.btn.btn-primary.box-shadow(id="start-workflow", data-hook="start-workflow") Start Workflow
  
  button.btn.btn-primary.box-shadow(id="edit-model", data-hook="edit-model") Edit Model