div#workflow-viewer.card.card-body

  div

    h3.inline=this.model.name
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-workflow"+this.model.name, data-hook="collapse-workflow") +

  div.collapse(id="collapse-workflow"+this.model.name)

    div(data-hook="workflow-plots")