div#workflow-editor.card.card-body

  div

    h3.editor-header Settings

  div.collapse(class="show", data-hook="workflow-editor-container")

    div(data-hook="model-name-container")

    div(data-hook="sim-settings-container")

    div(data-hook="workflow-state-buttons-container")