div#workflows-viewer.card.card-body

  div

    h3.inline Workflows
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-workflows", data-hook="collapse-workflows") +

  div.collapse(id="collapse-workflows")

    div(data-hook="workflow-container")