div#workflow-groups-viewer.card.card-body

  div

    h3.inline Workflow Groups
    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-workflow-groups", id="collapse-workflow-groups-btn" data-hook="collapse-workflow-groups") +

  div.collapse(id="collapse-workflow-groups")

    div(id="workflow-group-container" data-hook="workflow-group-container")