div#workflow-editor.card.card-body

  div

    h3.inline Settings

    button.btn.btn-outline-collapse(data-toggle="collapse", data-target="#collapse-wkfl-settings", data-hook="collapse-settings") -

  div.collapse(class="show", id="collapse-wkfl-settings", data-hook="workflow-editor-container")

    div(data-hook="model-name-container")

    div.collapse(class="show" data-hook="param-sweep-settings-container")

    div.collapse(class="show" data-hook="model-exploration-settings-container")

    div(data-hook="sim-settings-container")

    div(data-hook="workflow-state-buttons-container")